body {
	background: #edeff0;
}
.main_about {
	margin-top: 70px;
	margin-bottom: 30px;
}
.w_about {
	width: 1200px;
	margin: 0 auto;
}
.gy-left {
	position: relative;
	float: left;
	width: 220px;
	padding: 0 20px;
	overflow: visible;
	background-color: #fff;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	list-style-type: none;
}
.gy-left li {
	position: relative;
	width: 220px;
	height: 60px;
	overflow: visible;
	border-bottom: 1px solid #edf1f2;
}
.gy-left li:last-child {
	border-bottom: 0 none;
}
.gy-left li a {
	position: relative;
	display: block;
	padding: 0 10px 0 30px;
	margin-left: -20px;
	width: 220px;
	height: 60px;
	line-height: 60px;
	text-decoration: none;
	font-size: 14px;
	color: #787d82;
}
.gy-left li a span.tip {
	height: 16px;
	border-radius: 10px;
	background-color: red;
	line-height: 16px;
	font-size: 12px;
	color: white;
	padding: 0 10px;
	position: absolute;
	right: 25px;
	top: 23px;
}
.gy-left li:hover a span {
	color: #14191e;
}
.gy-left li:hover a span.tip {
	color: white;
}
.gy-left .selected {
	position: absolute;
	top: 0;
	width: 2px;
	height: 60px;
	background-color: #cc0000;
	left: -21px;
}
.gy-left span.selected+a span {
	color: #cc0000;
}
.gy-left li.selected a span.tip {
	color: white;
}
.gy-right {
	margin-left: 280px;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	background: #fff;
	overflow: hidden;
}
.gy-right-wrap {
	position: relative;
	min-height: 750px;
}
.others {
	padding: 10px 40px 50px;
}
.others h4 {
	font-family: '微软雅黑';
	font-size: 20px;
	line-height: 30px;
}
.others p {
	margin: 1.5em 0;
	line-height: 260%;
	color: #656e73;
}
