@charset "UTF-8";*{margin:0;padding:0}
body{font:15px "Microsoft YaHei",Arial,Helvetica,sans-serif;color:#000;background:#f1f1f1;font-size:15px}
img{border:0;display:block}
ul,li{list-style:none}
a{text-decoration:none;color:#000}
a:hover{color:#ff6f06;text-decoration:none}
h1{font-size:28px}
h2{font-size:18px}
h3{font-size:16px}
i{font-style:normal;display:block}
.clear,.blank{clear:both;width:100%;overflow:hidden}
.blank{height:20px}
.fl{float:left}
.fr{float:right}
.htitle{text-align:center;font-weight:700;font-size:36px;margin:30px auto}
.box,article{width:1170px;margin:auto;overflow:hidden}
.whitebg{background:#fff;border:1px solid #eee}
.plr20{padding:0 20px}
.top_wz{width:1170px;height:31px;line-height:31px;margin:0px auto;clear:both;font-size:12px;border:1px solid #eee;border-top:none}
.top_wz .left{float:left;height:31px;text-align:left}
.top_wz .left span{padding:0 10px;display:unset}
.top_wz .left a:hover{text-decoration:underline}
.top_wz .right{float:right;height:31px;color:#878787;font-size:12px}
.top_wz .right a{padding:0 10px}
.top_wz .right span{display:unset}
.news-title{border-bottom:#e4e3e3 1px solid;margin:20px;padding-bottom:10px;overflow:hidden}
.news-title h2{color:#ff6f06;font-size:16px;font-weight:normal;position:relative;float:left;width:auto;text-align:center}
.news-title h2 a{color:#ff6f06}
.news-title h2:after{content:"";background:#ff6f06;background:linear-gradient(to right,#ff6f06 0%,#b64a28 100%);width:100%;height:2px;position:absolute;bottom:-10px;left:0}
.left-box{width:830px;float:left;margin-top:30px}
.nyleft-box{width:830px;float:left;margin-top:50px}
.right-box{width:320px;float:right;margin-top:50px}
.side-title{font-size:16px;border-bottom:1px solid #eee;color:#484848;font-weight:normal;position:relative;margin-bottom:10px;padding-bottom:10px}
.side-title:after{content:"";position:absolute;width:64px;height:2px;content:"";background:#000;left:0;bottom:-1px;-moz-transition:all .5s ease;-webkit-transition:all .5s ease;transition:all .5s ease}
.side-title:hover:after{width:80px}
.hnav{float:right}
.hnav a{display:block;margin-right:10px;padding-right:10px;float:left;position:relative}
.hnav a:after{position:relative;content:"/";right:-10px;bottom:0;color:#ccc}
.hnav a:last-child::after{content:""}
.download-list{margin:0 20px}
.download-list{margin:0 20px}
.download-list li{overflow:hidden;position:relative;margin-bottom:20px;padding-bottom:20px;border-bottom:1px dashed #dcdcdc}
.download-list h3{margin-bottom:15px;font-weight:normal}
.download-list i{float:left;width:65px;height:65px;text-align:center;display:table;margin-right:10px}
.download-list i img{max-width:65px;max-height:65px;vertical-align:middle}
.download-list p{font-size:14px;color:#9b9b9b;height:43px;line-height:22px;overflow:hidden;text-overflow:ellipsis;-webkit-box-orient:vertical;display:-webkit-box;-webkit-line-clamp:2;margin-right:100px}
.download-list span.down-info{font-size:12px;color:#9b9b9b;display:block;overflow:hidden;margin-top:10px}
.download-list .down-info em{font-style:normal;margin-right:20px}
.download-list span.down-bth{position:absolute;right:0;bottom:50px;width:80px;height:30px;border-radius:3px;background-color:#ff6f06;font-size:14px;text-align:center;line-height:30px}
.download-list span.down-bth a{color:#fff}
.download-list span.down-bth:hover{background-color:#ff5722}
.download-list li:hover h3 a{color:#ff6f06}
.down-tuijian{padding:20px}
.down-tuijian ul{overflow:hidden}
.down-tuijian ul li{width:33.333%;float:left;overflow:hidden;margin:10px 0}
.down-tuijian ul li a{display:block;overflow:hidden}
.down-tuijian ul li i{width:65px;height:65px;margin:auto}
.down-tuijian ul li i img{width:100%;height:100%;border-radius:5px}
.down-tuijian ul li p{height:16px;line-height:16px;font-size:12px;font-weight:normal;color:#333;text-align:center;margin:10px 0 0;padding:0 5px;display:block;overflow:hidden}
.down-tuijian ul li:hover p{color:#ff6f06}
.down-paihang{padding:20px}
.down-paihang li{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;margin:0 0 20px 0}
.down-paihang li i{background:#c7c7c7;border-radius:2px;text-align:center;color:#fff;font-size:14px;display:block;font-style:normal;width:20px;height:20px;line-height:20px;margin-right:10px;float:left;position:relative}
.down-paihang ul{padding-top:10px;overflow:hidden}
.down-paihang li i:before{position:absolute;text-align:center;width:20px;height:20px;line-height:20px;left:0;border-radius:2px}
.down-paihang li:nth-child(1) i:before{content:"1";background:#ff6b66}
.down-paihang li:nth-child(2) i:before{content:"2";background:#ff8652}
.down-paihang li:nth-child(3) i:before{content:"3";background:#ffa742}
.down-paihang li:nth-child(4) i:before{content:"4"}
.down-paihang li:nth-child(5) i:before{content:"5"}
.down-paihang li:nth-child(6) i:before{content:"6"}
.down-paihang li:nth-child(7) i:before{content:"7"}
.down-paihang li:nth-child(8) i:before{content:"8"}
.down-paihang li:nth-child(9) i:before{content:"9"}
.down-paihang li:nth-child(10) i:before{content:"10"}
.down-suiji{padding:20px}
.down-suiji ul{padding-top:10px}
.down-suiji ul li{margin-bottom:20px;border-bottom:1px dotted #eee;padding-bottom:10px}
.down-suiji ul li p{text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.down-suiji li i{width:45px;height:45px;border-radius:5px;float:left;margin:0 17px 0 0;display:inline;overflow:hidden}
.down-suiji li i img{width:45px;height:45px}
.down-suiji span.down-info{font-size:12px;color:#9b9b9b;display:block;overflow:hidden;margin-top:10px}
.down-suiji span.down-info em{font-style:normal;margin-right:20px}
.newstext-box{padding:0 20px 20px}
.news-title-h1{font-size:22px;margin-bottom:20px}
.arc_tag{overflow:hidden}
.arc_tag a{display:block;float:left;border:#ff6f06 1px solid;color:#ff6f06;padding:2px 8px;margin:0 5px 5px 0;border-radius:3px;font-size:14px}
.picview-other{overflow:hidden;color:#888;margin-bottom:15px}
.picview-other span{display:block;float:left;margin-right:15px;padding-left:20px}
.newstext{line-height:24px;margin-bottom:20px;overflow:hidden}
.newstext video{margin:20px auto;display:block;max-width:100% !important;height:auto !important;z-index:0}
.newstext p{margin-bottom:20px}
.newstext span{display:inline}
.newstext img{max-width:100% !important;height:auto !important;margin:10px auto}
.newstext table{margin:auto !important}
.newstext iframe{margin:auto !important}
.newstext h2,.newstext h3,.newstext h4,.newstext h5,.newstext h6{font-size:16px;margin:20px 0;position:relative;padding-left:10px}
.newstext h2:before,.newstext h3:before,.newstext h4:before,.newstext h5:before,.newstext h6:before{position:absolute;content:"";background:#ff6f06;width:3px;height:100%;left:0;bottom:0}
.share{padding:10px 0;overflow:hidden;display:table;width:100%;margin:20px auto;line-height:24px;background:#f1f1f1}
.share>div{padding-right:20px;margin-top:16px;overflow:hidden}
.share img{width:100px;float:left;margin:0 20px}
.share a{color:#ff6f06}
.share a:hover{text-decoration:underline}
.down-view{border:#ddd 1px solid;padding:20px;margin-bottom:20px;position:relative}
.down-view i{width:60px;height:60px;display:block;float:left;margin-right:20px}
.down-view i img{width:100%}
.down-view h1{font-size:18px;margin-bottom:10px}
.down-view .down-info{color:#888}
.down-view .down-info em{font-style:normal;margin-right:20px}
.down-view .down-info a{color:#888}
.down-yulan{color:#ff6f06}
.down-yulan:hover{text-decoration:underline}
.down-view .btn-blue a{position:absolute;right:20px;bottom:28px;width:120px;text-align:center;line-height:40px;height:40px;background:#ff6f06;border-radius:3px;color:#fff}
.down-view .btn-blue a:hover{background:#ff5722}
.down-links ul{padding:0 20px 20px}
.down-links ul li{height:35px;line-height:35px;background:url(../images/soft-down.png) no-repeat left 3px center #fafafa;background-size:16px;display:block;overflow:hidden;margin-bottom:10px;padding-left:30px}
.down-links ul li span{display:block;float:right;width:100px;height:35px;line-height:35px;font-size:14px;font-weight:normal;color:#fff;text-align:center;background:#ff6f06}
.down-links ul li:hover a{color:#ff6f06}
.down-links ul li:hover span{display:block;background:#ff5555}
.down-otherlink ul{padding:10px 20px;overflow:hidden}
.down-otherlink ul li{margin-bottom:20px;border-bottom:1px dotted #eee;padding-bottom:10px;width:50%;float:left}
.down-otherlink ul li a{display:block;padding-right:20px}
.down-otherlink ul li p{text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.down-otherlink li i{width:45px;height:45px;border-radius:5px;float:left;margin:0 17px 0 0;display:inline;overflow:hidden}
.down-otherlink li i img{width:45px;height:45px}
.down-otherlink span.down-info{font-size:12px;color:#9b9b9b;display:block;overflow:hidden;margin-top:10px}
.down-otherlink span.down-info em{font-style:normal;margin-right:20px}
#plpost{margin:0 20px 20px}
.pinglun{overflow:hidden;padding-bottom:20px;margin:0 20px}
.saying{line-height:30px;color:#a9a6a6}
.saying span{display:block;float:right}
.saying span a{color:#de1513}
.pl-name,.pl-yzm{padding:5px;margin:10px 0}
#plpost input[type="submit"]{display:block;background:#303030;color:#fff;border:0;line-height:30px;padding:0 20px;border-radius:5px;float:right}
textarea#saytext{width:100%}
.picview-box{margin:0 20px}
.ey_comment_row{margin-right:unset !important;margin-left:unset !important}
#ey_comment .aside-left .huifu-edit .huifu-null{margin-left:unset!important}
#ey_comment .aside-left .huifu-edit .huifu-null img{display:unset !important}
#ey_comment .aside-left .huifu-edit{padding:10px 0 !important;box-shadow:unset !important}
#ey_comment .wenti-huifu .huifu-list .huifu-li{padding:30px 0 !important}
#ey_comment .wenti-huifu .huifu-head > div:first-child{left:0 !important}
#ey_comment .wenti-huifu .huifu-head .hf-head-flr{right:0 !important}
#ey_comment .col-xs-9{width:99.6% !important;padding-left:unset!important;padding-right:unset!important}
.edui-default .edui-editor{width:99.6% !important}
#ey_comment .wenti-huifu .huifu-list .huifu-user .user-nice > p.nice{color:#ff6f06 !important}
#ey_comment .wenti-huifu .huifu-list .huifu-text-box a{color:#ff6f06 !important}
#ey_comment .wenti-huifu .huifu-list .huifu-text-box a{color:#ff6f06 !important}
#ey_comment .editreplaybtn{background-color:#ff6f06 !important}
#ey_comment .aside-left .huifu-edit .huifu-user .user-nice > p.nice{color:#ff6f06 !important}
#ey_comment .aside-left .huifu-edit .edit-opt span.editbutton{background-color:#ff6f06 !important}