/*帐号登后*/
#mainmenu{width:50px;height:70px;}
#mainmenu .link{display:block;}
#mainmenu .hy-tx{width:40px;height:40px;border-radius:20px;margin:25px 5px 15px 5px;}
#mainmenu2{display:none;}
#mainmenu .arrow{position:absolute;width:13px;height:8px;top:62px;right:20px;display:none;}
#mainmenu .yey-huiyuan{padding:0 20px !important;}

.nav-login-bd{position:absolute;width:300px;background:#fff;top:70px;right:0;z-index:9999;box-shadow:0 8px 16px 0 rgba(7,17,27,0.2);border-bottom-right-radius:8px;border-bottom-left-radius:8px;}
.nav-login-bd .nav-login-user{background:#fff;overflow:hidden;}
.nav-login-user .img{float:left;padding:10px 14px 10px 27px;}
.nav-login-user .img .homeLink{display:block;}
.nav-login-user .img img{width:50px;height:50px;border:2px solid #fff;border-radius:50%;display:block;}
.title-accProt-span{height:20px;line-height:20px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.title-accProt-span a{color:#333;font-size:14px;}
.title-accProt-span a:hover{color:#ff700a;}
.nav-login-user .title-accProt{width:100px;float:left;padding-top:15px;}
.nav-login-bottom{padding:20px 0 15px 0;background-color:#fff;border-top:1px solid #eee;border-bottom:1px solid #eee;}
ul.userFunList{overflow:hidden;}
.micro-card-vip{height:44px;line-height:44px;margin-left:20px;padding:6px 12px;border-radius:6px;background-color:#ffecdf;margin-bottom:10px;margin-right:20px;}
.micro-card-vip span{color:#ff700a;font-size:14px;}
.micro-card-vip a{color:#ff700a;font-size:14px;}
.nav-login-bottom ul li{width:100px;float:left;}
.nav-login-bottom ul li a{display:block;text-align:center;font-size:14px;}
.nav-login-bottom .userFunImg{display:block;width:55px;height:55px;position:relative;margin:0 auto;border-radius:5px;}
.nav-login-bottom .img-grzx{background:url(../images/person-v1.png) no-repeat;}
.nav-login-bottom .img-mytw{background:url(../images/person-v2.png) no-repeat;}
.nav-login-bottom .img-myhy{background:url(../images/person-v3.png) no-repeat;}
.nav-login-bottom ul li p{margin-top:5px;font-size:14px;line-height:24px;}
.nav-login-profile-Link{float:right;font-size:14px;color:#333;display:inline-block;line-height:42px;}

/*会员下拉*/
.yey-vip-ico-0{float:left;width:21px;height:21px;background:url(../images/person-vip1.png) no-repeat;margin-top:2px;}
.yey-vip-ico-1{float:left;width:21px;height:21px;background:url(../images/person-vip2.png) no-repeat;margin-top:2px;}
.topRight{float:right;height:70px;position:relative;}
.topRight .register{color:#fff;border:1px solid #ff700a;background:#ff700a;}
.topRight .a{width:70px;line-height:32px;height:32px;font-size:14px;text-align:center;border-radius:4px;border:1px solid #ff700a;transition:0.3s;display:inline-block;margin-top:18px;}
.topRight .globalLoginBtn{border:1px solid #ddd;color:#333;margin-right:12px;}
.topRight .globalLoginBtn:hover{border:1px solid #ff700a;background:#ff700a;color:#fff;}
/*U2FsdGVkX198LCihO2I9cGd5rVRZ4fwp2ZovVliFImPrUcTeKve8E1z/cDb8ZSOL