*{margin:0;padding:0;}
body{background:#f5f5f5;font-size:14px;color:#333;font-family:"Microsoft Yahei","微软雅黑","MicrosoftJhengHei","华文细黑","Hiragino Sans GB","sans-serif";}
em{font-style:normal;font-weight:normal;}
dl,ol,ul,li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
input,button{vertical-align:middle;font-size:100%;list-style:none;outline:none;border:0;}
table{border-collapse:collapse;border-spacing:0;}
.clearfix:after{content:"\200b";display:block;height:0;clear:both;}
.fl{float:left;}
.fr{float:right;}
i,em,q{font-style:normal;}
img{border:0;}
a{text-decoration:none;color:#333;}
a:hover{text-decoration:none;color:#ff700a;}
.container{width:1200px;margin:0 auto;}
.container:before,.container:after{content:" ";display:table;clear:both;}
.figures_list{min-height:550px;}
span.pageinfo{display:none;}
.button2{background:#ff700a !important;border-radius:20px;}
.button2:hover{background:#e05d00 !important;}
.pc-sjh{background:#ff700a !important;border:1px solid #ff700a !important;font-size:14px;color:#fff;line-height:30px;display:inline-block;width:100px;text-align:center;margin-right:15px;}
.pc-sjh:hover{background:#e05d00 !important;border:1px solid #e05d00 !important;color:#fff;}
.newbtn,.w200,.w300,.login_from{border:1px solid #ddd !important;}
.newbtn:focus,.w200:focus,.login_from:focus{border-color:#ff700a !important;}
.pc-kecheng-xc{width:1200px;height:30px;overflow:hidden;margin:0 auto;}
.top-yey-pc-gl{padding-top:70px;}
.foot-notice{border-bottom-right-radius:5px;border-bottom-left-radius:5px;}
/*重写样式*/
.box-operation table thead tr th{background-color:#333 !important;}
.user-info-vip span a{background:#ff700a !important;border-radius:5px !important;}
.pay-method .btn-grey-weixin.on{border-color:#ff700a !important;}
.pay-method li:hover{border-color:#ff700a !important;}
.course-cover-fr li .title:hover{color:#ff700a !important;}
.aui-nav-list-box ul li span:hover{color:#ff700a !important;}
.aui-nav-list-box .aui-current{color:#ff700a !important;}
.pc-video-vip-lst .m-video-viphy{border-radius:5px !important;}
.welcome .welcome-list li a{background:#ff700a !important;}
.recharge .pc-vip-list .money{color:#ff700a !important;}
.recharge .pc-vip-list.active{border:#ff700a 2px solid !important;}
.recharge .pc-vip-list:hover{border:#ff700a 2px solid !important;}
.recharge .pc-vip-list .icon-recomd{background:#ff700a !important;}
/*面包削导航*/
.mianbaoxiao{width:1200px;margin:0 auto;font-size:14px;overflow:hidden;}
.mianbaoxiao .mianbao-min{line-height:70px;color:#999;}
.mianbaoxiao .mianbao-min a{color:#999;}
.mianbaoxiao .mianbao-min a:hover{color:#ff700a;}
/*新闻列表-右侧*/
.star-article-r{width:330px;float:right;}
.article-hot-l{background:#fff;padding:25px 20px;margin-bottom:20px;border-radius:8px;}
.article-hot-l .clear-fix{font-size:18px;line-height:20px;color:#333;display:inline-block;font-weight:700;}
.article-hot-l ul li{height:20px;line-height:20px;margin-top:20px;}
.article-hot-l ul li em{float:left;width:25px;height:20px;line-height:20px;text-align:center;background:#ddd;font-size:13px;color:#fff;border-radius:3px;margin-right:10px;}
.article-hot-l ul li .top{background:#ff700a;}
.article-hot-l ul li:nth-child(-n+3) em{background:#ff700a;}
.article-hot-l ul li a{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:block;font-size:14px;}
.article-hot-l ul li a:hover{color:#ff700a;}
/*新闻文章页面*/
.news_aricle{width:1200px;margin:0 auto;margin-bottom:50px;overflow:hidden;}
.aricle_left{width:835px;float:left;}
.min_box{padding:0 25px 15px 25px;background-color:#fff;margin-bottom:20px;border-radius:8px;}
.aricle_tiele{padding:40px 0 20px 0;}
.aricle_tiele h1{color:#333;font-size:28px;font-weight:700;}
.aricle_banquan{line-height:20px;color:#999;padding-bottom:12px;font-size:12px;}
.aricle_banquan .author,.aricle_banquan .time{margin:0 15px 0 0;}
.aricle_content h2{font-size:16px;margin-bottom:10px;font-weight:700;line-height:18px;border-left:3px solid #ff700a;padding-left:10px;}
.aricle_content p{margin-bottom:25px;margin-top:20px;font-size:16px;color:#333;line-height:28px;overflow:hidden;}
.aricle_content p a{color:#1a79ff;}
.aricle_content p img{margin:0 auto;display:block;}
/*相关阅读*/
.aricle-tuijian{border:1px #d0d4c8 dashed;background:#f4f5f6 url(../images/blockquote.gif) 5px 3px no-repeat;padding:8px 12px 8px 36px;margin-bottom:50px;}
.aricle-tuijian p{padding:8px 0;line-height:26px;color:#2a2a2a;}
.aricle-tuijian p a{color:#450A11;font-size:16px;}
.aricle-tuijian p a:hover{color:#ff700a;}
.aricle-tuijian .reading{line-height:26px;padding:8px 0;color:#333;font-size:16px;font-weight:700;}
.yey-banquan-sm{font-size:14px;color:#999;line-height:24px;padding-bottom:50px}
.ycwz{display:none}
.min_box{position:relative}
.min_box .first{position:absolute;left:0;top:0;width:50px;height:50px;background:url(../images/article-icon.png) 0 -80px;display:block !important}