*{margin:0;padding:0;}
body{background:#f5f5f5;font-size:14px;color:#333;font-family:"Microsoft Yahei","微软雅黑","MicrosoftJhengHei","华文细黑","Hiragino Sans GB","sans-serif";}
em{font-style:normal;font-weight:normal;}
dl,ol,ul,li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
input,button{vertical-align:middle;font-size:100%;list-style:none;outline:none;border:0;}
table{border-collapse:collapse;border-spacing:0;}
.clearfix:after{content:"\200b";display:block;height:0;clear:both;}
.fl{float:left;}
.fr{float:right;}
i,em,q{font-style:normal;}
img{border:0;}
a{text-decoration:none;color:#333;}
a:hover{text-decoration:none;color:#ff700a;}
.container{width:1200px;margin:0 auto;}
.container:before,.container:after{content:" ";display:table;clear:both;}
.figures_list{min-height:550px;}
span.pageinfo{display:none;}
.button2{background:#ff700a !important;border-radius:20px;}
.button2:hover{background:#e05d00 !important;}
.pc-sjh{background:#ff700a !important;border:1px solid #ff700a !important;font-size:14px;color:#fff;line-height:30px;display:inline-block;width:100px;text-align:center;margin-right:15px;}
.pc-sjh:hover{background:#e05d00 !important;border:1px solid #e05d00 !important;color:#fff;}
.newbtn,.w200,.w300,.login_from{border:1px solid #ddd !important;}
.newbtn:focus,.w200:focus,.login_from:focus{border-color:#ff700a !important;}
.pc-kecheng-xc{width:1200px;height:30px;overflow:hidden;margin:0 auto;}
.top-yey-pc-gl{padding-top:70px;}
.redPacket{display:inline-block;width:16px;height:18px;vertical-align:text-bottom;position:relative;top:-3px;margin-right:8px;background:url(../images/redpacket.png) no-repeat;background-size:100% 100%;background-position:top center;}
.foot-notice{border-bottom-right-radius:5px;border-bottom-left-radius:5px;}
/*新闻列表--左侧*/
.article-card-box-min{float:left;width:835px;min-height:550px;background-color:#fff;border-radius:8px; margin-bottom:50px;}
.article-card{overflow:hidden;margin-bottom:10px;padding:15px;border-bottom:1px #eee solid;}
.article-card .figure{width:210px;height:131px;float:left;display:block;}
.article-card .figure img{width:210px;height:131px;display:block;border-radius:3px;}
.article-text{width:560px;height:131px;float:left;margin-left:25px;}
.article-card h2{margin-bottom:15px;padding-top:10px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.article-card h2 .article-title{color:#333;font-size:20px;}
.article-card h2 .article-title:hover{color:#ff700a;}
.article-card .desc{height:45px;font-size:12px;line-height:22px;color:#999;}
.article-card .info{color:#999;font-size:12px;padding-top:15px;}
.article-card .info .author{color:#666;padding-right:10px;}
.article-card .info .time{color:#666;padding-right:10px;}
.article-card .info .read{float:right;color:#666;}
div#add_more,div#nono{text-align:center;font-size:16px;color:#999;margin-top:30px;}
.v-news-list{height:20px;overflow:hidden;}
/*新闻列表-右侧*/
.star-article-r{width:330px;float:right;}
.article-hot-l{background:#fff;padding:25px 20px;margin-bottom:20px;border-radius:8px;}
.article-hot-l .clear-fix{font-size:18px;line-height:20px;color:#333;display:inline-block;font-weight:700;}
.article-hot-l ul li{height:20px;line-height:20px;margin-top:20px;}
.article-hot-l ul li em{float:left;width:25px;height:20px;line-height:20px;text-align:center;background:#ddd;font-size:13px;color:#fff;border-radius:3px;margin-right:10px;}
.article-hot-l ul li .top{background:#ff700a;}
.article-hot-l ul li:nth-child(-n+3) em{background:#ff700a;}
.article-hot-l ul li a{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:block;font-size:14px;}
.article-hot-l ul li a:hover{color:#ff700a;}


