.banner {
	background: url(../images/banner_1920.jpg) no-repeat center;
	height: 240px;
	background-size: 1920px 240px;
	margin: 0 auto;
}
.banner .banner-center {
	width: 1200px;
	margin: 0 auto;
	padding-top: 49px;
}
.banner .banner-center p:nth-child(1) {
	font: bold 48px/48px "";
	color: #fff;
	text-align: center;
}
.banner .banner-center p:nth-child(2) {
	font: bold 20px/20px "";
	color: #fcf0c0;
	text-align: center;
	margin-top: 21px;
}
.banner .banner-center p:nth-child(3) {
	font: 20px/20px "";
	color: #fff;
	text-align: center;
	margin-top: 21px;
}
.compare {
	background: #f3f5f7;
	padding-bottom: 50px;
}
.compare .compare-center {
	width: 1200px;
	margin: 0 auto;
}
.compare .compare-title {
	height: 108px;
	padding-top: 60px;
	box-sizing: border-box;
}
.compare .compare-title p {
	height: 1px;
	background: #dfe1e2;
	position: relative;
}
.compare .compare-title p span {
	width: 158px;
	color: #333;
	font-size: 22px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	top: -15px;
	background: #fff;
}
.compare .compare-center .compare-list {
	display: flex;
	justify-content: space-between;
}
.compare .compare-center .compare-list li {
	width: 400px;
	height: 80px;
	border: 1px solid #e0e0e0;
	border-right: none;
	font: bold 20px/78px "";
	color: #333;
	text-align: center;
}
.compare .compare-center .compare-list li.te {
	border: 1px solid #f6cf80;
	background: #feeaca;
	color: #503603;
}
.compare .compare-center .compare-list1 {
	display: flex;
	justify-content: space-between;
}
.compare .compare-center .compare-list1 li {
	width: 400px;
	height: 50px;
	border: 1px solid #e0e0e0;
	border-top: none;
	border-right: none;
	font: 14px/48px "";
	color: #666;
	text-align: center;
}
.compare .compare-center .compare-list1 li.te {
	border: 1px solid #f6cf80;
	background: #fffcf6;
	color: #503603;
	border-top: none;
}
.compare .compare-center .compare-list1 .vip {
	color: #fff;
	font-size: 16px;
	background-color: #ff6f06;
	border-color: #ff6f06;
	cursor: pointer;
	border-radius: 50px;
	white-space: nowrap;
	width: 200px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	display: block;
	margin: 7px auto;
}
.top-yey-pc-gl {
    padding-top: 70px;
}