* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	line-height: 160%;
	background: #fff;
	font-size: 14px;
	color: #333;
	font-family: "Microsoft YaHei", "Source Han Sans CN", Verdana, Tahoma, Arial, simsun, "sans-serif";
	overflow: hidden;
}
em {
	font-style: normal;
	font-weight: normal;
}
ul, li {
	list-style: none;
}
h1, h2, h3 {
	font-size: 100%;
	font-weight: normal;
}
i, em {
	font-style: normal;
}
img {
	border: 0;
}
a {
	text-decoration: none;
	color: #333;
}
a:hover {
	text-decoration: none;
	color: #ff700a;
}
* {
	margin: 0;
	padding: 0;
}
input, button {
	vertical-align: middle;
	font-size: 100%;
	list-style: none;
	outline: none;
	border: 0;
}
.topRight {
	float: right;
	height: 70px;
	position: relative;
}
.topRight .register {
	color: #fff;
	border: 1px solid #ff700a;
	background: #ff700a;
}
.topRight .a {
	width: 70px;
	line-height: 32px;
	height: 32px;
	font-size: 14px;
	text-align: center;
	border-radius: 4px;
	border: 1px solid #ff700a;
	transition: 0.3s;
	display: inline-block;
	margin-top: 9px;
}
.topRight .globalLoginBtn {
	border: 1px solid #ddd;
	color: #333;
	margin-right: 12px;
}
.topRight .globalLoginBtn:hover {
	border: 1px solid #ff700a;
	background: #ff700a;
	color: #fff;
}
.container-fluid {
	height: 100%;
	padding-top: 50px;
	background: #000;
}
.height100 {
	height: 100%;
}
.player-box {
	position: relative;
	width: 75%;
	float: left;
	background: #fff;
}
.yixiaowan-player {
	width: 100%;
	height: 100%;
	padding-bottom: 36px;
	text-align: center;
	background: #383838;
}
.yixiaowan-player video {
	width: auto;
	max-width: 100%;
	height: 100%;
}
.action-bar-wrap {
	width: 25%;
	float: left;
	background-color: #252525;
	height: 100%;
	overflow-y: auto;
}
/*微信二维码*/

.followus-weixin {
	position: relative;
	color: #999;
}
.flw-weixin-box {
	position: absolute;
	display: none;
	width: 170px;
	height: 170px;
	left: -60px;
	bottom: 27px;
	background: url(../images/weixin.jpg) no-repeat 0 0;
	background-size: 170px auto;
}
.followus-weixin:hover .flw-weixin-box {
	display: block;
}
/*阿里云播放器重写*/

#player-con {
	width: 100% !important;
	height: 100% !important;
}
.prism-player .prism-cc-btn {
	display: none !important;
}
.prism-setting-cc, .prism-setting-audio, .prism-setting-quality {
	display: none !important;
}
/*头部*/

.top-menu-wrap {
	position: fixed;
	width: 100%;
	background: #fff;
	height: 50px;
}
.top-menu-wrap .play-logo {
	width: 80px;
	height: 39px;
	float: left;
	margin: 7px 0 0 16px;
}
.top-menu-wrap .play-logo img {
	width: 100%;
	height: 100%;
}
.top-menu-wrap .menu-wrap {
	overflow: hidden;
}
.top-menu-wrap .top-lesson-list {
	float: left;
	line-height: 50px;
	font-size: 16px;
	color: #333;
	padding-left: 10px;
}
/*登录*/

#_userlogin {
	float: right;
}
#mainmenu {
	width: 35px;
	height: 50px;
	margin-right: 16px;
}
#mainmenu .link {
	display: block;
}
#mainmenu .hy-tx {
	width: 35px;
	height: 35px;
	border-radius: 20px;
	margin: 7px 0;
}
#mainmenu2 {
	display: none;
}
/*课件+问答*/

.course-tool {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 5px 0;
	text-align: right;
	background: #000;
}
/*课程课件*/

.click_pop {
	line-height: 26px;
	background: #ff700a;
	font-size: 14px;
	color: #fff;
	display: inline-block;
	padding: 0 10px;
	border-radius: 3px;
	cursor: pointer;
	margin-right: 15px;
}
.click_pop:hover {
	background: #e4680f;
	color: #fff;
}
.pop {
	display: none;
	width: 800px;
	height: 570px;
	margin: 0 auto;
	top: 50%;
	left: 0;
	bottom: 50%;
	right: 0;
	position: fixed;
	z-index: 130;
	background: #fff;
	border-radius: 8px;
	margin-top: -300px;
}
.pop-top {
	height: 46px;
	line-height: 46px;
	border-bottom: 1px #eee solid;
	padding: 0 15px;
}
.pop-top h2 {
	float: left;
	color: #333;
	font-size: 16px;
}
.pop-top span {
	float: right;
	color: #333;
	font-size: 16px;
	cursor: pointer;
}
.pop-content {
	padding: 0 15px;
	height: 500px;
	overflow-y: auto;
}
.pop-content img {
	width: 750px;
	display: block;
	margin: 0 auto;
}
.pop-content p {
	color: #333;
	font-size: 14px;
	line-height: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.bgPop {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.2);
	display: none;
	z-index: 129;
}
/*课程互动问答*/

.click_pop2 {
	line-height: 26px;
	background: #1288ec;
	font-size: 14px;
	color: #fff;
	display: inline-block;
	padding: 0 10px;
	border-radius: 3px;
	cursor: pointer;
	margin-right: 15px;
}
.click_pop2:hover {
	background: #1277ce;
}
.click_pop2 em {
	color: #9a9a9a;
	padding-left: 2px;
}
.pop2 {
	display: none;
	width: 800px;
	height: 670px;
	margin: 0 auto;
	top: 50%;
	left: 0;
	bottom: 50%;
	right: 0;
	position: fixed;
	z-index: 130;
	background: #fff;
	border-radius: 8px;
	margin-top: -350px;
}
.pop-top2 {
	height: 46px;
	line-height: 46px;
	border-bottom: 1px #eee solid;
	padding: 0 15px;
	overflow: hidden;
}
.pop-top2 h2 {
	float: left;
	color: #333;
	font-size: 16px;
}
.pop-top2 em {
	color: #999;
	padding-left: 5px;
	font-size: 12px;
}
.pop-top2 span {
	float: right;
	color: #333;
	font-size: 16px;
	cursor: pointer;
}
.bgPop2 {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.2);
	display: none;
	z-index: 129;
}
.pop-content2 {
	padding: 0 15px;
	height: 600px;
	overflow-y: auto;
}
/*课程目录*/

.scroll-cont .content-list li {
	height: 74px;
	border-bottom: 1px #111 solid;
	padding: 12px 10px 15px 60px;
	position: relative;
	box-sizing: border-box;
}
.scroll-cont .content-list li:hover {
	background: #33333e;
}
.scroll-cont .content-list li:before {
	content: "";
	position: absolute;
	width: 20px;
	height: 13px;
	left: 25px;
	top: 18px;
	background: url(../images/icon-play-act.png) no-repeat;
	z-index: 5;
}
.scroll-cont .content-list li.on:before {
	background: url(../images/icon-play-active.gif) 4px -4px no-repeat;
}
.scroll-cont .content-list a {
	display: block;
	cursor: pointer;
}
.scroll-cont .content-list .name {
	font-size: 16px;
	color: #999;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	line-height: 24px;
}
.scroll-cont .content-list li.on {
	background: #1e1e1e;
}
.scroll-cont .content-list li.on>a>.name {
	color: #eee;
}
.scroll-cont .content-list .info {
	padding-top: 10px;
}
.scroll-cont .content-list .info span {
	color: #999;
	font-size: 12px;
	padding-right: 10px;
}
/*评论*/

.article-course-pl {
	padding-top: 10px;
}
.article-course-pl .form-contro {
	width: 100%;
	height: 100px;
	line-height: 26px;
	display: block;
	font-size: 14px;
	color: #999;
	background: #f5f5f5;
	padding: 15px;
	border: none;
	resize: none;
	outline: 0;
	box-sizing: border-box;
	border-radius: 5px;
}
.article-course-pl .btn-success {
	float: right;
	width: 80px;
	border-radius: 15px;
	background: #ff700a;
	color: #fff;
	font-size: 14px;
	line-height: 30px;
	height: 30px;
	padding: 0 10px;
	cursor: pointer;
	font-family: Microsoft Yahei;
}
.article-course-pl .btn-success:hover {
	background: #e4680f;
}
.kc-pinglun.clearfix {
	padding: 10px 0;
	overflow: hidden;
}
.kc-pinglun .join-txt-fr {
	font-size: 14px;
	color: #333;
	display: inline-block;
	line-height: 35px;
}
/*评论内容*/

.course-discuss .pl-list {
	padding: 20px 0;
	border-top: 1px solid #eee;
	background: #fff;
}
.course-discuss .pl-list-avator {
	float: left;
	width: 40px;
	height: 40px;
}
.course-discuss .pl-list-avator img {
	display: block;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}
.course-discuss .pl-list-main {
	margin-left: 55px;
}
.course-discuss .pl-list-nick {
	line-height: 16px;
	margin-bottom: 5px;
	font-size: 14px;
	color: #333;
}
.course-discuss .pl-list-content {
	margin-bottom: 10px;
	font-size: 14px;
	color: #333;
	line-height: 24px;
}
.course-discuss .pl-list-btm {
	height: 18px;
	font-size: 12px;
	color: #93999f;
	margin-top: 15px;
}
.course-discuss .pl-list-btm .list-praise {
	color: #93999f;
}
.course-discuss .pl-list-btm .pl-list-time {
	display: block;
	line-height: 18px;
}
.course-discuss .pl-list-btm .ok-btn {
	display: none;
	position: relative;
	cursor: pointer;
	height: 18px;
	line-height: 18px;
	color: #666;
	padding: 0 0 0 17px;
}
.course-discuss .pl-list-btm .ok-btn em {
	margin-left: 3px;
}
.course-discuss .pl-list-btm .ok-btn:hover {
	background-position: 0 -70px;
	color: #8895a6;
}
/*官方回复*/

.course-discuss .pl-list-gfhf {
	line-height: 24px;
	margin-top: 10px;
	padding: 10px;
	color: #333;
	font-size: 14px;
	background: #f5f5f5;
	border-radius: 5px;
}
/*评论提交反馈*/

.pl-list-tjfk {
	color: #666;
	font-size: 14px;
	text-align: center;
	padding-bottom: 15px;
}
/*评论分页*/

#showpage_min {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	overflow: hidden;
}
#showpage_min a {
	background-color: #fff;
	font-size: 14px;
	display: inline-block;
	height: 36px;
	line-height: 36px;
	border: 1px solid #eee;
	color: #666;
	margin-left: 5px;
	padding: 0 20px;
}
#showpage_min a:hover {
	border: 1px solid #ff700a;
	color: #fff;
	background-color: #ff700a;
	text-decoration: none;
}
#showpage_min .cpage {
	font-size: 14px;
	display: inline-block;
	height: 36px;
	line-height: 36px;
	border: 1px solid #ff700a;
	color: #fff;
	background-color: #ff700a;
	margin-left: 5px;
	padding: 0 20px;
}
