<div class="list"> <a href="{$field.arcurl}" class="img"><img src="{$field.litpic}" alt="{$field.title}"></a>
          <div class="info"> <a href="{$field.arcurl}" class="bt">{$field.title}</a>
            <p> {$field.downs}人下载<span>{$field.add_time|MyDate='Y-m-d',###}</span> </p>
            <div class="star"> <span class='l{eyou:field aid='$field.aid' addfields='star' /}'></span> </div>
          </div>
          <a href="{$field.arcurl}" class="downl_btn">下载</a> </div>