<a href="{$field.arcurl}" class="link"> <img src="{$field.litpic}">
<h4>{$field.title}</h4>
<div class="m-list-box-w"> <span class="date">{$field.add_time|MyDate='m-d',###}</span> <span class="frequency">{$field.click}人看过</span> </div>
</a>