<li class="content_item"> <a href="{$field.arcurl}" class="link"> <img src="{eyou:global name='web_templets_m' /}/skin/images/yey-sc-bg.gif" data-original="{$field.litpic}"> <em class="jishu">{$field.total_video}集全</em>
        <div class="main_title">{$field.title}</div>
        <div class="sub_title">
		{eyou:gt name="$field.users_price" value="0"}
			<em class="price">￥{$field.users_price}</em>
		{eyou:else/}
			{eyou:gt name="$field.arc_level_id" value="0"}
				<em class="price">VIP</em>
			{eyou:else/}
				<em>免费</em>
			{/eyou:gt}
		{/eyou:gt}
		<em class="item_right fr">{$field.click}次学习</em>
		</div>
        </a> </li>