@font-face {
  font-family: "iconfont_ey1"; /* Project id 2628906 */
  src: url('../fonts/iconfont_l.woff2?t=1625021072762') format('woff2'),
       url('../fonts/iconfont_l.woff?t=1625021072762') format('woff'),
       url('../fonts/iconfont_l.ttf?t=1625021072762') format('truetype');
}

.icon_ey {
  font-family: "iconfont_ey1" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.e-qq:before {
  content: "\e6af";
}

.e-weibo:before {
  content: "\e7e4";
}

.e-weixin:before {
  content: "\e7e5";
}

.e-guanbi:before {
  content: "\e609";
}

.e-sousuo:before {
  content: "\e604";
}

.e-kefurexian:before {
  content: "\e628";
}

.e-zixunrexian:before {
  content: "\e629";
}

.e-youjiaohuan:before {
  content: "\e600";
}

.e-wode:before {
  content: "\e61c";
}

.e-chanpin:before {
  content: "\e61d";
}

.e-kf:before {
  content: "\e61e";
}

.e-dianhua:before {
  content: "\e61f";
}

.e-xiangce:before {
  content: "\e620";
}

.e-liuyan:before {
  content: "\e621";
}

.e-gouwuche:before {
  content: "\e622";
}

.e-weiguanzhu:before {
  content: "\e623";
}

.e-liulan:before {
  content: "\e624";
}

.e-denglu:before {
  content: "\e625";
}

.e-tuichu:before {
  content: "\e626";
}

.e-shoucang:before {
  content: "\e610";
}

.e-you:before {
  content: "\e627";
}

.e-zuo:before {
  content: "\e606";
}

.e-shang:before {
  content: "\e602";
}

.e-xia:before {
  content: "\e603";
}
/*U2FsdGVkX198LCihO2I9cGd5rVRZ4fwp2ZovVliFImPrUcTeKve8E1z/cDb8ZSOL