@charset "utf-8";

.input {
    padding: .375em .75em;
    border: solid 1px #ddd;
    width: 100%;
    line-height: 1.5;
    display: block;
    border-radius: .25rem;
    outline: 0;
    background-color: transparent;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1) 0s;
}
/**U2FsdGVkX198LCihO2I9cGd5rVRZ4fwp2ZovVliFImPrUcTeKve8E1z/cDb8ZSOL
/** modal window styles **/

#lean_overlay{
	position:fixed;
	z-index:100;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	background:#000;
	display:none;
}
#loginmodal *, #loginmodal ::after, #loginmodal ::before {
    box-sizing: border-box;
}
#loginmodal{
	width: 356px;
    padding: 26px;
    background: #fff;
    top: 50%!important;
    margin-top: -185px!important;
    box-sizing: border-box;
}

#loginform label{display:block; font-size:1.1em; font-weight:bold; color:#7c8291; margin-bottom:3px; }

.popup-login-box{
    position: relative;
}

.popup-login-box i.e-guanbi{
    position: absolute;
    right: -10px;
    top: -15px;
    font-size:26px;
    color: #999;
    cursor: pointer;
}
.popup-login-box .title{
    padding: 10px 0;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}
.popup-login-box .row-item{
    margin-bottom: 20px;
    position: relative;
}
.popup-login-box .row-item input{
    border-radius: 0 ;
    padding:8px 10px;
}
.popup-login-box .row-item input::-webkit-input-placeholder { 
    /* WebKit browsers */ 
    font-size:14px;
    color: #8f8f8f;
} 
.popup-login-box .row-item input::-moz-placeholder { 
    /* Mozilla Firefox 19+ */ 
    font-size:14px;
    color: #8f8f8f;
} 
.popup-login-box .row-item input:-ms-input-placeholder { 
    /* Internet Explorer 10+ */ 
    font-size:14px;
    color: #8f8f8f;
}
.popup-login-box .row-item .addon img{
    position: absolute;
    right: 2px;
    top: 1px;
    height: 35px;
    width: 112px;
}
.popup-login-box .row-item .button{
    text-align: center;
    border-radius: 0 ;
    font-size: 18px;
    width: 100%;
    position: relative;
    color: #fff;
    background: #ff6f06;
    border: solid 1px #ff6f06;
    display: block;
    line-height: 1.5;
    padding: .375em 1em;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1) 0s;
}
.popup-login-box .row-item a{
    font-size: 14px;
}
.popup-login-box .login_reg{
    display: flow-root;
    position: relative;
}

.popup-login-box  .popup-footer {
    position: absolute;
    display: inline-block;
    height: 48px;
    padding: 12px 26px;
    margin-top: 16px;
    left: -26px;
    right: -26px;
    background-color: #eeeeee;
    
}
.popup-login-box  .popup-footer .popup-footer-l{
    flex: 1;
    float: left;
    height: 22px;
    line-height: 22px;
}
.popup-login-box  .popup-footer .popup-footer-l span{
    font-size: 14px;
    margin-right: 10px;
    color: #999;
    display: unset;
    
}
.popup-login-box  .popup-footer .popup-footer-l a {
    margin: 0 5px;
}
.popup-login-box  .popup-footer .popup-footer-l a i{
    font-size: 20px;
    color: #459d51;
    display: unset;
}
.popup-login-box  .popup-footer .popup-footer-r {
    float: right;
    height: 22px;
    line-height: 22px;
}

.popup-login-box  .popup-footer .popup-footer-r a{
    color: #459d51;
    font-size: 14px;
}