{include file="public/layout" /}

<body class="bodystyle" style="cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <a class="back" href="{:url('Index/switch_map')}" title="返回列表"><i class="fa fa-angle-double-left"></i>返回</a>
            <ul class="tab-base nc-row">
                <li><a href="{:url('Notify/index')}" class="tab current"><span>通知管理</span></a></li>
            </ul>
        </div>
    </div>
    <div class="flexigrid">
        <div class="hDiv">
            <div class="hDivBox">
                <table cellspacing="0" cellpadding="0" style="width: 100%">
                    <thead>
                        <tr>
                            <th abbr="article_title" axis="col3" class="">
                                <div class="text-l10">功能列表</div>
                            </th>
                            <th abbr="article_time" axis="col6" class="w100">
                                <div class="tc">短信</div>
                            </th>
                            <th abbr="article_time" axis="col6" class="w100">
                                <div class="tc">邮件</div>
                            </th>
                            <th abbr="article_time" axis="col6" class="w100">
                                <div class="tc">站内信</div>
                            </th>
                            <th axis="col1" id="th_handle" class="w250">
                                <div class="tc">操作</div>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div class="bDiv" style="height: auto;">
            <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                <table style="width: 100%;">
                    <tbody>
                    {empty name="NotifyList"}
                        <tr>
                            <td class="no-data" align="center" axis="col0" colspan="50">
                                <i class="fa fa-exclamation-circle"></i>没有符合条件的记录
                            </td>
                        </tr>
                    {else/}
                        {foreach name="NotifyList" item="vo" key="k" }
                        <tr>
                            <td class="" style="width: 100%;">
                                <div class="tl text-l10"> {$vo.notify_title} </div>
                            </td>

                            <td>
                                <div class="tc w100">
                                    <!-- 短信开关 -->
                                    {notempty name="$vo.sms_open"}
                                        {if condition="$vo.sms_open.is_open eq 1"}
                                            <span class="yes" onclick="changeTableVal('sms_template', 'tpl_id', '{$vo.sms_open.tpl_id}', 'is_open', this);"><i class="fa fa-check-circle"></i>是</span>
                                        {else /}
                                            <span class="no" onclick="changeTableVal('sms_template', 'tpl_id', '{$vo.sms_open.tpl_id}', 'is_open', this);"><i class="fa fa-ban"></i>否</span>
                                        {/if}
                                    {else/}
                                        <i class="fa fa-ban btn grey" onmouseover="layer_tips = layer.tips('此项暂未支持', this, {time:100000});" onmouseout="layer.close(layer_tips);"></i>
                                    {/notempty}
                                </div>
                            </td>

                            <td>
                                <div class="tc w100">
                                    <!-- 邮件开关 -->
                                    {notempty name="$vo.smtp_open"}
                                        {if condition="$vo.smtp_open.is_open eq 1"}
                                            <span class="yes" onclick="changeTableVal('smtp_tpl', 'tpl_id', '{$vo.smtp_open.tpl_id}', 'is_open', this);"><i class="fa fa-check-circle"></i>是</span>
                                        {else /}
                                            <span class="no" onclick="changeTableVal('smtp_tpl', 'tpl_id', '{$vo.smtp_open.tpl_id}', 'is_open', this);"><i class="fa fa-ban"></i>否</span>
                                        {/if}
                                    {else/}
                                        <i class="fa fa-ban btn grey" onmouseover="layer_tips = layer.tips('此项暂未支持', this, {time:100000});" onmouseout="layer.close(layer_tips);"></i>
                                    {/notempty}
                                </div>
                            </td>

                            <td>
                                <div class="tc w100">
                                    <!-- 站内信开关 -->
                                    {notempty name="$vo.notice_open"}
                                        {if condition="$vo.notice_open.is_open eq 1"}
                                            <span class="yes" onclick="changeTableVal('users_notice_tpl', 'tpl_id', '{$vo.notice_open.tpl_id}', 'is_open', this);"><i class="fa fa-check-circle"></i>是</span>
                                        {else /}
                                            <span class="no" onclick="changeTableVal('users_notice_tpl', 'tpl_id', '{$vo.notice_open.tpl_id}', 'is_open', this);"><i class="fa fa-ban"></i>否</span>
                                        {/if}
                                    {else/}
                                        <i class="fa fa-ban btn grey" onmouseover="layer_tips = layer.tips('此项暂未支持', this, {time:100000});" onmouseout="layer.close(layer_tips);"></i>
                                    {/notempty}
                                </div>
                            </td>

                            <td class="operation">
                                <div class="tc w250">
                                    {notempty name="$vo.sms_open"}
                                    <a href="javascript:void(0);" data-href="{:url('Notify/UpConfig', ['up_type' => 'sms', 'tpl_id' => $vo.sms_open.tpl_id])}" class="btn blue" onclick="openFullframe(this, '短信配置', '80%', '80%');">短信配置</a> <i></i>
                                    {else/}
                                    <a class="btn grey" href="javascript:void(0);" onmouseover="layer_tips = layer.tips('此项暂未支持', this, {time:100000});" onmouseout="layer.close(layer_tips);">短信配置</a> <i></i>
                                    {/notempty}

                                    {notempty name="$vo.smtp_open"}
                                    <a href="javascript:void(0);" data-href="{:url('Notify/UpConfig', ['up_type' => 'smtp', 'tpl_id' => $vo.smtp_open.tpl_id])}" class="btn blue" onclick="openFullframe(this, '邮件配置', '80%', '55%');">邮件配置</a> <i></i>
                                    {else/}
                                    <a class="btn grey" href="javascript:void(0);" onmouseover="layer_tips = layer.tips('此项暂未支持', this, {time:100000});" onmouseout="layer.close(layer_tips);">邮件配置</a> <i></i>
                                    {/notempty}

                                    {notempty name="$vo.notice_open"}
                                    <a href="javascript:void(0);" data-href="{:url('Notify/UpConfig', ['up_type' => 'notice', 'tpl_id' => $vo.notice_open.tpl_id])}" class="btn blue" onclick="openFullframe(this, '站内信配置', '80%', '80%');">站内信配置</a>
                                    {else/}
                                    <a class="btn grey" href="javascript:void(0);" onmouseover="layer_tips = layer.tips('此项暂未支持', this, {time:100000});" onmouseout="layer.close(layer_tips);">站内信配置</a>
                                    {/notempty}
                                </div>
                            </td>
                            <td align="" class="" style="width: 100%;">
                                <div>&nbsp;</div>
                            </td>
                        </tr>
                        {/foreach}
                    {/empty}
                    </tbody>
                </table>
            </div>
            <div class="iDiv" style="display: none;"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        // 表格行点击选中切换
        $('#flexigrid > table>tbody >tr').click(function(){
            $(this).toggleClass('trSelected');
        });

        // 点击刷新数据
        $('.fa-refresh').click(function(){
            location.href = location.href;
        });
    });

    function handleShow(obj) {
        var tpl_id = $(obj).attr('data-id');
        var status = $(obj).attr('data-status');
        $.ajax({
            type : 'post',
            url  : "{:url('Notify/ajax_show')}",
            data : {tpl_id: tpl_id, status: status, _ajax:1},
            dataType : 'json',
            success : function(res) {

            },
            error:function(e) {
                showErrorAlert(e.responseText);
            }
        });
    }
</script>

{include file="public/footer" /}