{include file="public/layout" /}

<body class="bodystyle" style="cursor: default; -moz-user-select: inherit;min-width:auto;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page" style="min-width:auto;">
    <div class="flexigrid">
        <form class="form-horizontal" id="postForm" action="{:url('Notify/UpConfig', ['_ajax'=>1])}" method="post">
            <input type="hidden" name="up_type" value="sms">
            <input type="hidden" name="tpl_id" value="{$find.tpl_id}">
            <input type="hidden" name="sms_type" value="{$find.sms_type}">

            <div class="ncap-form-default">
                <dl class="row">
                    <dt class="tit"> <label>短信平台</label> </dt>
                    <dd class="opt"> {eq name='$find.sms_type' value='1'}阿里云短信{else /}腾讯云短信{/eq} </dd>
                </dl>

                <dl class="row">
                    <dt class="tit"> <label>模板类型</label> </dt>
                    <dd class="opt"> {$find.tpl_title} </dd>
                </dl>

                <dl class="row">
                    <dt class="tit"> <em>*</em><label>签名名称</label> </dt>
                    <dd class="opt">
                        <input type="text" name="sms_sign" value="{$find.sms_sign}" title="短信签名名称，例：易优" placeholder="短信签名名称，例：易优" class="input-txt">
                    </dd>
                </dl>

                <dl class="row">
                    <dt class="tit"> <em>*</em><label>{eq name="$find.sms_type" value="1"}模板CODE{else/}模板ID{/eq}</label> </dt>
                    <dd class="opt">
                       <input type="text" name="sms_tpl_code" value="{$find.sms_tpl_code}" title="{eq name='$find.sms_type' value='1'}短信模板CODE，例：SMS_123456789{else /}短信模板ID，例：123456789{/eq}" placeholder="{eq name='$find.sms_type' value='1'}短信模板CODE，例：SMS_123456789{else /}短信模板ID，例：123456789{/eq}" class="input-txt">
                    </dd>
                </dl>

                <dl class="row">
                    <dt class="tit"> <em>*</em><label>模板内容</label> </dt>
                    <dd class="opt">
                       <input type="text" name="tpl_content" value="{$find.tpl_content}" title="{eq name='$find.sms_type' value='1'}短信模板内容，例：验证码为 ${content} ，请在30分钟内输入验证。{else /}验证码为：{1}，您正在登录，若非本人操作，请勿泄露。{/eq}" placeholder="{eq name='$find.sms_type' value='1'}短信模板内容，例：验证码为 ${content} ，请在30分钟内输入验证。{else /}验证码为：{1}，您正在登录，若非本人操作，请勿泄露。{/eq}" class="input-txt">
                    </dd>
                </dl>

                <dl class="row">
                    <dt class="tit"> <label>启用模板</label> </dt>
                    <dd class="opt">
                        <div class="onoff">
                            <label for="is_open1" class="cb-enable {if condition='$find.is_open eq 1'}selected{/if}">是</label>
                            <label for="is_open0" class="cb-disable {if condition='$find.is_open eq 0'}selected{/if}">否</label>
                            <input id="is_open1" name="is_open" value="1" type="radio" {if condition="$find.is_open eq 1"} checked="checked"{/if}>
                            <input id="is_open0" name="is_open" value="0" type="radio" {if condition="$find.is_open eq 0"} checked="checked"{/if}>
                        </div>
                    </dd>
                </dl>

                <dl class="row">
                    <dt class="tit"> <label>更新时间</label> </dt>
                    <dd class="opt">
                        {$find.update_time|MyDate='Y-m-d H:i:s',###}
                    </dd>
                </dl>
            </div>
            
            <div class="ncap-form-default">
                <div class="bot" style="padding-bottom:0px;">
                    <a href="JavaScript:void(0);" onclick="checkForm();" class="ncap-btn-big ncap-btn-green" id="submitBtn">
                        保存配置
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        // 表格行点击选中切换
        $('#flexigrid > table>tbody >tr').click(function(){
            $(this).toggleClass('trSelected');
        });

        // 点击刷新数据
        $('.fa-refresh').click(function(){
            location.href = location.href;
        });
    });

    function checkForm() {
        layer_loading('正在处理');
        $.ajax({
            type: "POST",
            url : $('#postForm').attr('action'),
            data: $('#postForm').serialize(),
            dataType: 'json',
            success: function (res) {
                layer.closeAll();
                if (1 == res.code) {
                    layer.msg(res.msg, {icon: 1, time: 1000}, function(){
                        parent.window.location.reload();
                    });
                } else {
                    layer.alert(res.msg, {icon: 2, title: false, closeBtn: 0});
                }
            },
            error:function(){
                layer.closeAll();
                layer.alert(ey_unknown_error, {icon: 2, title: false, closeBtn: 0});
            }
        });
    }
</script> 
{include file="public/footer" /}