{include file="public/layout" /}

<body class="bodystyle" style="cursor: default; -moz-user-select: inherit;min-width:auto;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page" style="min-width:auto;">
    <div class="flexigrid">
        <form class="form-horizontal" id="postForm" action="{:url('Notify/UpConfig', ['_ajax'=>1])}" method="post">
            <input type="hidden" name="up_type" value="smtp">
            <input type="hidden" name="tpl_id" value="{$find.tpl_id}">

            <div class="ncap-form-default">
                <dl class="row">
                    <dt class="tit"> <label>模板名称</label> </dt>
                    <dd class="opt"> {$find.tpl_name} </dd>
                </dl>

                <dl class="row">
                    <dt class="tit"> <em>*</em><label>邮件标题</label> </dt>
                    <dd class="opt">
                        <input type="text" name="tpl_title" value="{$find.tpl_title}" title="邮件标题" placeholder="邮件标题" class="input-txt">
                    </dd>
                </dl>

                <dl class="row">
                    <dt class="tit"> <label>启用模板</label> </dt>
                    <dd class="opt">
                        <div class="onoff">
                            <label for="is_open1" class="cb-enable {if condition='$find.is_open eq 1'}selected{/if}">是</label>
                            <label for="is_open0" class="cb-disable {if condition='$find.is_open eq 0'}selected{/if}">否</label>
                            <input id="is_open1" name="is_open" value="1" type="radio" {if condition="$find.is_open eq 1"} checked="checked"{/if}>
                            <input id="is_open0" name="is_open" value="0" type="radio" {if condition="$find.is_open eq 0"} checked="checked"{/if}>
                        </div>
                    </dd>
                </dl>

                <dl class="row">
                    <dt class="tit"> <label>更新时间</label> </dt>
                    <dd class="opt">
                        {$find.update_time|MyDate='Y-m-d H:i:s',###}
                    </dd>
                </dl>
            </div>
            
            <div class="ncap-form-default">
                <div class="bot" style="padding-bottom:0px;">
                    <a href="JavaScript:void(0);" onclick="checkForm();" class="ncap-btn-big ncap-btn-green" id="submitBtn">
                        保存配置
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        // 表格行点击选中切换
        $('#flexigrid > table>tbody >tr').click(function(){
            $(this).toggleClass('trSelected');
        });

        // 点击刷新数据
        $('.fa-refresh').click(function(){
            location.href = location.href;
        });
    });

    function checkForm() {
        layer_loading('正在处理');
        $.ajax({
            type: "POST",
            url : $('#postForm').attr('action'),
            data: $('#postForm').serialize(),
            dataType: 'json',
            success: function (res) {
                layer.closeAll();
                if (1 == res.code) {
                    layer.msg(res.msg, {icon: 1, time: 1000}, function(){
                        parent.window.location.reload();
                    });
                } else {
                    layer.alert(res.msg, {icon: 2, title: false, closeBtn: 0});
                }
            },
            error:function(){
                layer.closeAll();
                layer.alert(ey_unknown_error, {icon: 2, title: false, closeBtn: 0});
            }
        });
    }
</script> 
{include file="public/footer" /}