{include file="public/layout" /}

{eq name="$editor.editor_select" value="1"}
    {load href="__PUBLIC__/plugins/Ueditor/ueditor.config.js" /}
    {load href="__PUBLIC__/plugins/Ueditor/ueditor.all.min.js" /}
    {load href="__PUBLIC__/plugins/Ueditor/lang/zh-cn/zh-cn.js" /}
{else/}
    {load href="__PUBLIC__/plugins/ckeditor/ckeditor.js" /}
{/eq}

<body class="bodysy-w">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div id="geduan_div" class="h15"></div>
<div id="page_div" class="page min-hg-c mb-20" style="min-width:auto;box-shadow:none;">
    <div class="fixed-bar">
        <div class="item-title">
            <a class="back_xin" href="javascript:history.back();" title="返回"><i class="iconfont e-fanhui"></i></a>
            <a class="back_sz" href="javascript:void(0);"  data-href="{:url('Special/help')}" onclick="openHelpframe(this, '设置与帮助', '500px', '100%', 'r');" title="设置与帮助"><i class="iconfont e-shezhi-tongyong"></i></a>
            <div class="subject">
                <h3>发布文档</h3>
                <h5></h5>
            </div>
            <ul class="tab-base nc-row">
                <li><a href="javascript:void(0);" data-index='1' class="tab current"><span>常规选项</span></a></li>
                <li><a href="javascript:void(0);" data-index='2' class="tab"><span>专题文档</span></a></li>
                <li><a href="javascript:void(0);" data-index='3' class="tab"><span>SEO选项</span></a></li>
                <li><a href="javascript:void(0);" data-index='4' class="tab"><span>其他选项</span></a></li>
                <!-- #weapp_demontrate_li# -->
            </ul>
        </div>
    </div>
    <form class="form-horizontal" id="post_form" action="{:url('Special/add')}" method="post">
        <!-- 常规信息 -->
        <div class="ncap-form-default tab_div_1">
            <dl class="row">
                <dt class="tit">
                    <label for="title"><em>*</em>标题</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="title" value="" id="title" class="input-txt" maxlength="200" {eq name="$channelRow.is_repeat_title" value="0"} oninput="check_title_repeat(this,0);" {/eq}>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    副标题：<input type="text" name="subtitle" value="" id="subtitle" class="w200">
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="title"><em>*</em>所属栏目</label>
                </dt>
                <dd class="opt"> 
                    <select name="typeid" id="typeid">
                        <option value="0">请选择栏目…</option>
                        {$arctype_html}
                    </select>
                    <span class="err"></span>
                </dd>
            </dl>
            {notempty name='$global.web_stypeid_open'}
            <dl class="row">
                <dt class="tit">
                    <label for="stypeid">所属副栏目</label>
                </dt>
                <dd class="opt"> 
                    <input type="hidden" name="stypeid" id="stypeid" value="" class="input-txt" onkeyup="this.value=this.value.replace(/[^\d\,]/g,'');" onpaste="this.value=this.value.replace(/[^\d\,]/g,'');">
                    &nbsp;<a href="javascript:void(0);" data-channel="{$channeltype}" onclick="select_stypeid(this);" class="ncap-btn ncap-btn-green">选择副栏目</a>
                    <span class="err"></span>
                    <div id="stypeid_txt" class="pt5"></div>
                </dd>
            </dl>
            {/notempty}
            <dl class="row">
                <dt class="tit">
                    <label>文档属性</label>
                </dt>
                <dd class="opt">
                    {volist name="archives_flags" id="vo"}
                        <label><input type="checkbox" name="{$vo.flag_fieldname}" value="1">{$vo.flag_name}<!-- [{$vo.flag_attr}] --></label>
                    {/volist}
                    <span class="err"></span>
                    <p class="notic">如需管理，请点击右上角设置与帮助按钮</p>
                </dd>
            </dl>
            <dl class="row none dl_jump">
                <dt class="tit">
                    <label>跳转网址</label>
                </dt>
                <dd class="opt">
                    <input type="text" value="" name="jumplinks" id="jumplinks" class="input-txt" placeholder="http://">
                    <span class="err"></span>
                </dd>
            </dl>
            <dl class="row" style="z-index:2;">
                <dt class="tit">
                    <label>TAG标签</label>
                </dt>
                <dd class="opt">          
                    <input type="text" value="" name="tags" id="tags" class="input-txt" placeholder="多个标签之间以逗号隔开" autocomplete="off" oninput="get_common_tagindex_input(this);" onfocus="$('#often_tags').hide();" onkeyup="this.value=this.value.replace(/[\，]/g,',');" onpaste="this.value=this.value.replace(/[\，]/g,',')">&nbsp;
                    <a href="javascript:void(0);" onclick="get_common_tagindex(this);">显示常用标签</a>&nbsp;<img id="tag_loading" src="__STATIC__/common/images/loading.gif" style="display: none;" />
                    <div class="often_tags" id="often_tags" data-opt="add" style="display: none;"></div>
                    <div class="often_tags" id="often_tags_input" style="display: none;"></div>
                    <input type="hidden" id="tags_click_count">
                </dd>
            </dl>
            <dl class="row {empty name="$global.web_citysite_open"} none {/empty} ">
                <dt class="tit">
                    <label for="title">所属区域</label>
                </dt>
                <dd class="opt"> 
                    <select name="province_id" id="province_id" onchange="set_city_list(0);">
                        <option value="0">全国</option>
                        {volist name=':get_site_province_list()' id='vo'}
                        <option value="{$vo.id}" {eq name="$Request.param.province_id" value="$vo.id" } selected="true" {/eq}>{$vo.name}</option>
                        {/volist}
                    </select>
                    <select name="city_id" id="city_id" class="none ml5" onchange="set_area_list(0);">
                        <option value="">--请选择--</option>
                    </select>
                    <select name="area_id" id="area_id" class="none ml5">
                        <option value="">--请选择--</option>
                    </select>
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                  <label>缩略图</label>
                </dt>
                <dd class="opt">
                    <div class="input-file-show div_litpic_local">
                        <span class="show">
                            <a id="img_a" target="_blank" class="nyroModal" rel="gal" href="javascript:void(0);">
                                <i id="img_i" class="fa fa-picture-o" onmouseover="" onmouseout="layer.close(layer_tips);"></i>
                            </a>
                        </span>
                        <span class="type-file-box">
                            <input type="text" id="litpic_local" name="litpic_local" value="" class="type-file-text" autocomplete="off">
                            <input type="button" name="button" id="button1" value="选择上传..." class="type-file-button">
                            <input class="type-file-file" onClick="GetUploadify(1,'','allimg','img_call_back')" size="30" hidefocus="true" nc_type="change_site_logo"
                                 title="点击前方预览图可查看大图，点击按钮选择文件并提交表单后上传生效">
                        </span>
                    </div>
                    <input type="text" id="litpic_remote" name="litpic_remote" value="" placeholder="http://" class="input-txt" onKeyup="keyupRemote(this, 'litpic');" style="display: none;height: 18px; line-height: 18px;">
                    &nbsp;
                    <label><input type="checkbox" name="is_remote" id="is_remote" value="1" onClick="clickRemote(this, 'litpic');">远程图片</label>
                    <span class="err"></span>
                </dd>
            </dl>

            {include file="archives/get_field_addonextitem" /}
        </div>
        <!-- 常规信息 -->
        <!-- 专题节点 -->
        <div class="ncap-form-default tab_div_2" style="display:none;">
            <div class="special-add">
                <span onclick="specialNodeAdd();"><i class="layui-icon layui-icon-addition"></i>新增节点</span>
            </div>
            <div class="sort-list-special">
                <div class="special-items specialNodeItems" id="specialNode_1_item">
                    <input type="hidden" name="specialNode[itemid][]" value="1">
                    <div class="special-del" onclick="specialNodeDel(this);">
                        <i class="fa fa-times" aria-hidden="true"></i>删除
                    </div>
                    <div class="special-items-row">
                        <div class="special-item">
                            <div class="special-item-l">
                                <em>*</em>节点名称
                            </div>
                            <div class="special-item-r">
                                <input type="text" name="specialNode[title][]" value="节点1" class="input-text" onkeyup="keyupNodeTitleUnique(this);">
                                <span class="err"></span>
                            </div>
                        </div>
                        <div class="special-item">
                            <div class="special-item-l">
                                <em>*</em>节点标识
                            </div>
                            <div class="special-item-r">
                                <input type="text" name="specialNode[code][]" value="default1" class="input-text" onkeyup="keyupNodeCodeUnique(this);" onkeyup="this.value=this.value.replace(/[^\w\-\_]/g,'');" onpaste="this.value=this.value.replace(/[^\w\-\_]/g,'')">
                                <span class="err"></span>
                            </div>
                        </div>
                    </div>
                    <div class="special-items-row">
                        <div class="special-item">
                            <div class="special-item-l">
                                文档来源
                            </div>
                            <div class="special-item-r">
                                <span class="option-item">
                                    <label class="ml5"><input type="radio" name="specialNode[isauto][1]" value="0" checked="checked" onclick="setNodeIsauto(this, 'specialNode_1_item');">按文档列表</label>
                                </span>
                                <span class="option-item">
                                    <label class="ml5"><input type="radio" name="specialNode[isauto][1]" value="1" onclick="setNodeIsauto(this, 'specialNode_1_item');">自动获取文档</label>
                                </span>
                                <span class="option-item dl_specialNode_1_item_isauto_1" style="display: none;"><label class="mr5">关键字：</label><input type="text" name="specialNode[keywords][]" class="input-text">（以 , 逗号分开）</span>
                                <span class="option-item dl_specialNode_1_item_isauto_1" style="display: none;"><label class="mr5">所属栏目：</label>
                                    <select name="specialNode[typeid][]">
                                        <option value="0">请选择栏目…</option>
                                        {$node_select_html}
                                    </select>
                                </span>
                                <span class="option-item dl_specialNode_1_item_isauto_1" style="display: none;"><label class="mr5">文档数：</label><input type="text" name="specialNode[row][]" value="10" class="input-text" style="width: 50px;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="special-items-row dl_specialNode_1_item_isauto_0">
                        <div class="special-item-l">
                            节点文档列表
                        </div>
                        <div class="special-item-r">
                            <textarea rows="5" cols="60" name="specialNode[aidlist][]" style="height:60px;"></textarea>
                        </div>
                        <div class="special-item-r mt20 ml20">
                            <a href="javascript:void(0);" onclick="selectNodeArchives(this, 'specialNode_1_item');" class="ncap-btn ncap-btn-green">选择节点文档</a>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
        <!-- 专题节点 -->
        <!-- SEO参数 -->
        <div class="ncap-form-default tab_div_3" style="display:none;">
            <dl class="row">
                <dt class="tit">
                    <label for="seo_title">SEO标题</label>
                </dt>
                <dd class="opt">
                    <input type="text" value="" name="seo_title" id="seo_title" class="input-txt">
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>SEO关键词</label>
                </dt>
                <dd class="opt">          
                    <textarea rows="5" cols="60" id="seo_keywords" name="seo_keywords" style="height:40px;"></textarea>
                    <span class="err"></span>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>SEO描述</label>
                </dt>
                <dd class="opt">          
                    <textarea rows="5" cols="60" id="seo_description" name="seo_description" style="height:60px;"></textarea>
                    <span class="err"></span>
                </dd>
            </dl>
        </div>
        <!-- SEO参数 -->
        <!-- 其他参数 -->
        <div class="ncap-form-default tab_div_4" style="display:none;">
            <dl class="row">
                <dt class="tit">
                    <label for="author">作者</label>
                </dt>
                <dd class="opt">
                    <input type="text" value="{$Think.session.admin_info.pen_name|default='小编'}" name="author" id="author" class="input-txt">
                </dd>
            </dl>
            <dl class="row dl_origin">
                <dt class="tit">
                    <label>来源</label>
                </dt>
                <dd class="opt origin-hot">
                    <input type="text" value="" name="origin" id="origin" class="input-txt" onclick="searchOrigin(this);" autocomplete="off">
                    <div class="origin-hot-list" style="display: none;" id="search_keywords_list_origin"></div>
                    <textarea id="system_originlist_str" style="display: none;">{$system_originlist_str}</textarea>
                    <span class="err"></span>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>浏览量</label>
                </dt>
                <dd class="opt">    
                    <input type="text" value="{$rand_arcclick}" name="click" id="click" class="input-txt">
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>阅读权限</label>
                </dt>
                <dd class="opt">
                    <select name="arcrank" id="arcrank" {if $admin_info.role_id>0&&$auth_role_info.check_oneself<1} disabled="disabled" {/if}>
                        {volist name="arcrank_list" id="vo"}
                        <option value="{$vo.rank}" {if $admin_info.role_id>0&&$auth_role_info.check_oneself<1&&$vo.rank==-1} selected="selected" {/if}>{$vo.name}</option>
                        {/volist}
                    </select>
                    <span class="err"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <!-- #weapp_UsersGroup_content_users_id={$field.users_id}#--><!-- #weapp_UsersGroup_content# -->
            <dl class="row">
                <dt class="tit">
                    <label for="articleForm">发布时间</label>
                </dt>
                <dd class="opt">
                    <input type="text" class="input-txt" id="add_time" name="add_time" value="{php}echo date('Y-m-d H:i:s'){/php}" autocomplete="off">        
                    <span class="add-on input-group-addon">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    </span> 
                    <span class="err"></span>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="tempview">文档模板</label>
                </dt>
                <dd class="opt">
                    <select name="tempview" id="tempview">
                        {volist name='$templateList' id='vo'}
                        <option value="{$vo}" {eq name='$vo' value='$tempview'}selected{/eq}>{$vo}</option>
                        {/volist}
                    </select>
                    <input type="hidden" name="type_tempview" value="{$tempview}" />
                    <span class="err"></span>
                </dd>
            </dl>
            <dl class="row {notin name='$seo_pseudo' value='2'}no-grey{/notin}" >
                <dt class="tit">
                    <label>自定义文件名</label>
                </dt>
                <dd class="opt">
                    <input type="text" {notin name='$seo_pseudo' value='2'}readonly="readonly" title="仅在静态模式下使用"{/notin} value="" name="htmlfilename" id="htmlfilename" autocomplete="off" onkeyup="this.value=this.value.replace(/[^\w\-]/g,'-');" onpaste="this.value=this.value.replace(/[^\w\-]/g,'-');" class="input-txt {notin name='$seo_pseudo' value='2'}no-drop{/notin}">.html
                    <span class="err"></span>
                </dd>
            </dl>
        </div>
        <!-- 其他参数 -->
        <!-- #weapp_demontrate_div# -->
        <div class="ncap-form-default">
            <div class="bot2">
                <input type="hidden" name="gourl" value="{$gourl|default=''}">
                <input type="hidden" id="editor_addonFieldExt" value="">
                <a href="JavaScript:void(0);" onclick="check_submit();" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a>
                <a class="ncap-btn-big ncap-btn-no" href="javascript:history.back();" title="返回">返回</a>
            </div>
        </div> 
    </form>
</div>
<script type="text/javascript">
    layui.use('laydate', function() {
        var laydate = layui.laydate;

        laydate.render({
            elem: '#add_time'
            ,type: 'datetime'
        });
    })

    $(function () {
        try {
            var web_citysite_open = {$global['web_citysite_open']|default=0};
            var site_province_id = {$site_province_id|default=0};
            var site_city_id = {$site_city_id|default=0};
            var site_area_id = {$site_area_id|default=0};
            if (web_citysite_open > 0 && site_province_id > 0) {
                $('select[name=province_id]').val(site_province_id);
                set_city_list(site_city_id);
                set_area_list(site_area_id);
            }
        }catch(e){}
     
        //选项卡切换列表
        $('.tab-base').find('.tab').click(function(){
            $('.tab-base').find('.tab').each(function(){
                $(this).removeClass('current');
            });
            $(this).addClass('current');
            var tab_index = $(this).data('index');
            $(".tab_div_1, .tab_div_2, .tab_div_3, .tab_div_4").hide();          
            $(".tab_div_"+tab_index).show();
            layer.closeAll();
        });

        $('input[name=is_jump]').click(function(){
            if ($(this).is(':checked')) {
                $('.dl_jump').show();
            } else {
                $('.dl_jump').hide();
            }
        });

        var dftypeid = {$typeid|default='0'};
        $('#typeid').change(function(){
            var current_channel = $(this).find('option:selected').data('current_channel');
            if (0 < $(this).val() && {$channeltype} != current_channel) {
                showErrorMsg('请选择对应模型的栏目！');
                $(this).val(dftypeid);
            } else if ({$channeltype} == current_channel) {
                layer.closeAll();
            }
            GetAddonextitem(1, $(this).val(), {$channeltype}, 0, true);
        });

        $(document).click(function(){
            $('#often_tags').hide();
            $('#often_tags_input').hide();
            event.stopPropagation();
        });

        $('#often_tags').click(function(){
            $('#often_tags').show();
            event.stopPropagation();
        });

        $('input[name=tags]').keyup(function(){
            var tags = $.trim($(this).val());
            $('#seo_keywords').val(tags);
        });
    });

    // 判断输入框是否为空
    function check_submit(){
        if($.trim($('input[name=title]').val()) == ''){ 
            showErrorMsg('标题不能为空！');
            $($('.tab-base').find('.tab')[0]).trigger('click');   
            $('input[name=title]').focus();
            return false;
        }
        if ($('#typeid').val() == 0) {
            showErrorMsg('请选择栏目…！');
            $($('.tab-base').find('.tab')[0]).trigger('click');
            $('#typeid').focus();
            return false;
        }
        if (!checkNode()) {
            return false;
        }
        
        layer_loading('正在处理');
        if(!ajax_check_htmlfilename())
        {
            layer.closeAll();
            showErrorMsg('自定义文件名已存在！');
            $('input[name=htmlfilename]').focus();
            return false;
        }
        setTimeout(function (){
            editor_auto_210607();
            $('#post_form').submit();
        }, 1);
    }

    function img_call_back(fileurl_tmp)
    {
        $("#litpic_local").val(fileurl_tmp);
        $("#img_a").attr('href', fileurl_tmp);
        $("#img_i").attr('onmouseover', "layer_tips=layer.tips('<img src="+fileurl_tmp+" class=\\'layer_tips_img\\'>',this,{tips: [1, '#fff']});");
        $("input[name=is_litpic]").attr('checked', true); // 自动勾选属性[图片]
    }

    function setNodeIsauto(obj, nodeid) {
        var isauto = $(obj).val();
        if (isauto == 0) {
            $('.dl_'+nodeid+'_isauto_0').show();
            $('.dl_'+nodeid+'_isauto_1').hide();
        } else {
            $('.dl_'+nodeid+'_isauto_0').hide();
            $('.dl_'+nodeid+'_isauto_1').show();
        }
    }

    // 点击选择节点文章
    var lists_node;
    function selectNodeArchives(obj, nodeid) {
        lists_node = $('#'+nodeid).find("textarea[name='specialNode[aidlist][]']");
        var aidlist = lists_node.val();
        var url = eyou_basefile + '?m=admin&c=Special&a=ajax_node_archives_list&aids='+aidlist+'&lang='+__lang__;
        //iframe窗
        var iframes = layer.open({
            type: 2,
            title: '选择节点文档',
            fixed: true, //不固定
            shadeClose: false,
            shade: layer_shade,
            area: ['80%', '80%'],
            content: url
        });
    }

    //选择关联文章返回
    function select_article_back(recall) {
        var lists_val = lists_node.val();
        var lists_add = recall;
        if (lists_val != ''){
            lists_add = lists_val + ',' + lists_add;
        }
        lists_node.val(lists_add);
    }

    /**
     * 删除节点
     * @return {[type]} [description]
     */
    function specialNodeDel(obj)
    {
        var num = $('.specialNodeItems').length;
        if (num <= 1) {
            layer.msg('至少保留一个！', {icon: 2});
            return false;
        }
        $(obj).parent().remove();
    }

    /**
     * 新增节点
     * @return {[type]} [description]
     */
    var node_itemid = $('.tab_div_2 .specialNodeItems').length;
    function specialNodeAdd()
    {
        var len = $('.specialNodeItems').length;
        var itemObj = $($('.specialNodeItems')[len - 1]);
        var nodehtml = itemObj.html();
        var itemid = itemObj.find("input[name='specialNode[itemid][]']").val();

        node_itemid++;
        nodehtml = '<div class="special-items specialNodeItems" id="specialNode_'+itemid+'_item">'+nodehtml+'</div>';
        nodehtml = nodehtml.replace(new RegExp('specialNode_'+itemid+'_item', "g"), 'specialNode_'+node_itemid+'_item'); //第一个参数是正则表达式。
        nodehtml = nodehtml.replace(new RegExp('specialNode\\[isauto\\]\\['+itemid+'\\]', "g"), 'specialNode[isauto]['+node_itemid+']'); //第一个参数是正则表达式。
        $($('.specialNodeItems')[0]).before(nodehtml);

        // 重置数据
        $('#specialNode_'+node_itemid+'_item').find("input[name='specialNode[title][]']").val('节点'+node_itemid);
        $('#specialNode_'+node_itemid+'_item').find("input[name='specialNode[code][]']").val('default'+node_itemid);
        $('#specialNode_'+node_itemid+'_item').find("input[name='specialNode[isauto]["+node_itemid+"]'][value='0']").prop("checked",true);
        $('#specialNode_'+node_itemid+'_item').find("textarea[name='specialNode[aidlist][]']").val('');
        $('#specialNode_'+node_itemid+'_item').find("input[name='specialNode[keywords][]']").val('');
        $('#specialNode_'+node_itemid+'_item').find("select[name='specialNode[typeid][]']").val('0');
        $('#specialNode_'+node_itemid+'_item').find("select[name='specialNode[row][]']").val('10');
        $('#specialNode_'+node_itemid+'_item').find("input[name='specialNode[itemid][]']").val(node_itemid);
    }

    function checkNode()
    {
        var returnVal = true;

        var titleObj = $("input[name='specialNode[title][]']");
        $.each(titleObj, function (index, item) {
            if ($.trim($(item).val()) == '') {
                showErrorMsg('节点名称不能为空！');
                $(item).focus();
                returnVal = false;
                return false;
            }
        });

        if (true == returnVal) {
            returnVal = nodeTitleUnique(0);
        }

        if (true == returnVal) {
            var codeObj = $("input[name='specialNode[code][]']");
            $.each(codeObj, function (index, item) {
                if ($.trim($(item).val()) == '') {
                    showErrorMsg('节点标识不能为空！');
                    $(item).focus();
                    returnVal = false;
                    return false;
                }
            });
        }

        if (true == returnVal) {
            returnVal = nodeCodeUnique(0);
        }

        return returnVal;
    }

    function keyupNodeTitleUnique(obj)
    {
        var returnVal = true;
        $(obj).parent().find('span.err').html('').hide();
        returnVal = nodeTitleUnique(1);
        if (!returnVal) {
            $(obj).parent().find('span.err').html('<font color="red">已存在，请更改！</font>').show();
        }
    }

    function keyupNodeCodeUnique(obj)
    {
        var returnVal = true;
        $(obj).parent().find('span.err').html('').hide();
        returnVal = nodeCodeUnique(1);
        if (!returnVal) {
            $(obj).parent().find('span.err').html('<font color="red">已存在，请更改！</font>').show();
        }
    }

    /**
     * 检测节点名称的唯一性
     * @return {[type]} [description]
     */
    function nodeTitleUnique(isMsg)
    {
        var returnVal = true;

        var titleObj = $("input[name='specialNode[title][]']");
        $.each(titleObj, function (index, item) {
            var bnum = 0;
            $.each(titleObj, function (index2, item2) {
                if ($.trim($(item).val()) == $.trim($(item2).val())) {
                    bnum += 1;
                }
            })
            if (bnum > 1) {
                if (0 == isMsg) {
                    showErrorMsg('节点名称已存在，请更改！');
                    $(item).focus();
                }
                returnVal = false;
                return false;
            }
        });

        return returnVal;
    }

    /**
     * 检测节点标识的唯一性
     * @return {[type]} [description]
     */
    function nodeCodeUnique(isMsg)
    {
        var returnVal = true;

        var codeObj = $("input[name='specialNode[code][]']");
        $.each(codeObj, function (index, item) {
            var bnum = 0;
            $.each(codeObj, function (index2, item2) {
                if ($.trim($(item).val()) == $.trim($(item2).val())) {
                    bnum += 1;
                }
            })
            if (bnum > 1) {
                if (0 == isMsg) {
                    showErrorMsg('节点标识已存在，请更改！');
                    $(item).focus();
                }
                returnVal = false;
                return false;
            }
        });

        return returnVal;
    }

    /** 以下 专题节点的拖动排序相关 js*/
    // $( ".sort-list-special" ).sortable({
    //     start: function( event, ui) {
        
    //     }
    //     ,stop: function( event, ui ) {

    //     }
    // });
    //因为他们要拖动，所以尽量设置他们的文字不能选择。 
    // $( ".sort-list-special" ).disableSelection();

    function newtpl()
    {
        var url = "{:url('Archives/ajax_newtpl', ['type'=>'view', 'nid'=>'special'])}";
        //iframe窗
        layer.open({
            type: 2,
            title: '新建文档模板',
            fixed: true, //不固定
            shadeClose: false,
            shade: layer_shade,
            maxmin: true, //开启最大化最小化按钮
            area: ['90%', '90%'],
            content: url
        });
    }
</script>
<script>
    try{
        var mt20_1649209614 = sessionStorage.getItem("mt20_1649209614");
        if (mt20_1649209614 == 1){
            $("#geduan_div").removeClass("h15");
        }else{
            $("#geduan_div").addClass("h15");
        }
    }catch(e){}
</script>
{include file="public/footer" /}