{eyou:volist name="$replyList" id="vo"}
<li class="secend-li" id="{$vo['comment_id']}_comment_li">
    <div class="head-secend">
        <a><img src="{$vo['head_pic']}" style="width:30px;height:30px;border-radius:100%;margin-right: 16px;"></a>
        <strong>{$vo['username']}</strong>
        <span style="margin:0 10px"> | </span>
        <span>{$vo['add_time']}</span>
        <div style="flex-grow:1"></div>
        <span id="{$vo['comment_id']}_replyA" onclick="ReplyUser('{$vo['pid']}','{$vo['users_id']}','{$vo['username']}','{$vo['comment_id']}')" class="secend-huifu-btn" style="cursor: pointer;">回复</span>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a onclick="CommentDel('{$DelCommentUrl}', '{$vo['comment_id']}', 2)" class="secend-huifu-btn" style="cursor: pointer; color:red;">删除</a>
    </div>
    <div class="secend-huifu-text">
        {$vo['content']}
    </div>
</li>
{/eyou:volist}