{eyou:volist name="$plugins.comment.commentData" id="vo"}
<li class="huifu-li" id="ul_div_li_{$vo.comment_id}">
    <div class="huifu-user">
        <a class="user_card" target="_blank">
            <img src="{$vo.head_pic}" style="width:40px;height:40px;border-radius:100%">
        </a>
        <div class="user-nice">
            <p class="nice" style="line-height: initial;margin-bottom: 7px">{$vo.username}</p>
            <p class="jianjie" style="margin-top: -5px"></p>
        </div>
        <div style="flex-grow:1"></div>
        <div class="dianzan-bnt" data-url="{$plugins.url.ClickLikeUrl}" onclick="ClickLike(this, '{$vo.aid}', '{$vo.comment_id}')">
            <span id="click_like_{$vo.comment_id}">{$vo.commentLike.LikeNum|default='0'}</span>
            <i class="iconfont icon-dianzan" style="margin-left:5px;"></i>
        </div>
    </div>
    <div class="weiguan-people" id="click_like_name_{$vo.comment_id}">
        <span id="click_like_span_{$vo.comment_id}">
            {$vo.commentLike.LikeName}
        </span>
        <span id="is_show_{$vo.comment_id}" {eyou:empty name="$vo.commentLike.LikeNum"} style="display: none;" {/eyou:empty}>
            等<font id="askanswer_click_like_{$vo.comment_id}">{$vo.commentLike.LikeNum}</font>人赞同
        </span>
    </div>
    <div class="huifu-text-box">
        <div class="huifu-content resetEditer">
            {$vo.content}
        </div>
        <div class="huifu-time">
            <span>{$vo.add_time}</span>
            {eyou:notempty name="$users.admin_id"}
                <span style="float:right">
                    <span id='{$vo.comment_id}_Review'>
                        {eyou:eq name="$vo.is_review" value="0"}
                        <a class="a" onclick="Review('{$plugins.url.ReviewUrl}', '{$vo.comment_id}');" title="该评论未审核，可点击审核，仅创始人可操作" style="color: red;">审核</a>
                        <span style="margin:0 5px;">|</span>
                        {/eyou:eq}
                    </span>

                    <a class="a" onclick="CommentEdit('{$plugins.url.EditCommentUrl}', '{$vo.comment_id}');">编辑</a>
                    <span style="margin:0 5px;">|</span>
                    <a class="a" onclick="CommentDel('{$plugins.url.DelCommentUrl}', '{$vo.comment_id}', 1);">删除</a>
                </span>
            {eyou:else/}
                {eyou:if condition="0 < $users.users_id && $vo.users_id == $users.users_id"}
                    <span style="float:right">
                        <a onclick="CommentEdit('{$plugins.url.EditCommentUrl}', '{$vo.comment_id}');">编辑</a>
                    </span>
                {/eyou:if}
            {/eyou:notempty}
        </div>
        <div class="secend-huifu">
            <ul class="secend-ul">
                <div id="{$vo.comment_id}_ReplyContainer">
                    {eyou:volist name="$vo.commentSubData" id="vo_sub"}
                    <li class="secend-li" id="{$vo_sub.comment_id}_comment_li">
                        <div class="head-secend">
                            <a >
                                <img src="{$vo_sub.head_pic}" style="width:30px;height:30px;border-radius:100%;margin-right: 16px;">
                            </a>
                            <strong>{$vo_sub.username}</strong>
                            <span style="margin:0 10px"> | </span>
                            <span>{$vo_sub.add_time}</span>
                            <div style="flex-grow:1"></div>

                            <span id='{$vo_sub.comment_id}_Review'>
                                {eyou:notempty name="$users.admin_id"}
                                    {eyou:eq name="$vo_sub.is_review" value="0"}
                                    <span onclick="Review('{$plugins.url.ReviewUrl}', '{$vo_sub.comment_id}')" class="secend-huifu-btn" style="cursor: pointer; color: red;" title="该评论未审核，可点击审核，仅创始人可操作">审核</span>
                                    <span style="margin:0 10px"> | </span>
                                    {/eyou:eq}
                                {/eyou:notempty}
                            </span>

                            <span id="{$vo_sub.comment_id}_replyA" onclick="ReplyUser('{$vo_sub.pid}','{$vo_sub.users_id}','{$vo_sub.username}','{$vo_sub.comment_id}')" class="secend-huifu-btn" style="cursor: pointer;">回复</span>
                            {eyou:notempty name="$users.admin_id"}
                                &nbsp;&nbsp;|&nbsp;&nbsp;
                                <a onclick="CommentDel('{$plugins.url.DelCommentUrl}', '{$vo_sub.comment_id}', 2)" class="secend-huifu-btn" style="cursor: pointer; color:red;">删除</a>
                            {eyou:else/}
                                {eyou:eq name="$vo_sub.users_id" value="$users.users_id"}
                                &nbsp;&nbsp;|&nbsp;&nbsp;
                                <a onclick="CommentDel('{$plugins.url.DelCommentUrl}', '{$vo_sub.comment_id}', 2)" class="secend-huifu-btn" style="cursor: pointer; color:red;">删除</a>
                                {/eyou:eq}
                            {/eyou:notempty}
                        </div>
                        <div class="secend-huifu-text">
                            {eyou:empty name="$vo_sub.at_users_id"}
                                {$vo_sub.content}
                            {eyou:else/}
                                回复 @{$vo_sub.at_usersname}:&nbsp;
                                {$vo_sub.content}
                            {/eyou:empty}
                        </div>
                    </li>
                    {/eyou:volist}
                </div>

                <a href="javascript:void(0);" data-url="{$plugins.url.PageReplyUrl}" id="{$vo.comment_id}_movepage" onclick="pageReply(this, '{$vo.comment_id}')" data-firstRow="{$plugins.comment.firstRow}" data-replylistRows="{$plugins.comment.replylistRows}" {eyou:empty name='$vo.commentSubMore'}style="display: none;"{/eyou:empty}>查看更多</a>

                <div class="huifu-area">
                    <div id="{$vo.comment_id}_init_ta">
                        <div class="pro_rela">
                            <textarea style="height: 42px" onfocus="initReply('{$vo.comment_id}');" id="{$vo.comment_id}_contentInput" name="content" rows="1" class="pl_text" maxlength="300" deftips="^-^我来说两句......" placeholder="^-^我来说两句......"></textarea>
                            {eyou:empty name="$plugins.isComment"}
                            <p class="login_tips1">请先
                                <a class="org_font" href="{:url('user/Users/login')}">登录</a>
                                <em>·</em>
                                <a class="org_font" href="{:url('user/Users/reg')}">注册</a>
                            </p>
                            {/eyou:empty}
                        </div>
                    </div>

                    <form id="{$vo.comment_id}_replyForm">
                        <input type="hidden" id="comment_id" value="{$vo.comment_id}" name="comment_id">
                        <input type="hidden" id="{$vo.comment_id}_at_users_id" value="" name="at_users_id">
                        <input type="hidden" id="{$vo.comment_id}_at_comment_id" value="" name="at_comment_id">
                        <div id="{$vo.comment_id}_ta" style="display: none;">
                            <p>
                                <textarea sdtyle="height: 70px" id="{$vo.comment_id}_i_contentInput" name="content" rows="3" class="pl_text" onfocus="focusTextArea(this);" onblur="blurTextArea(this);" onkeyup="dealInputContentAndSize(this);" maxlength="300" deftips="^-^我来说两句......" placeholder="^-^我来说两句......"></textarea>
                            </p>
                            <p class="mar_t10 text_r">
                                <span class="jiu_font  float_l" id="{$vo.comment_id}_errorMsg" style="color: red;"></span>
                                <a id="replyButton" href="javascript:;" class="mar_r10" onclick="UnReplyUser('{$vo.comment_id}');">取消</a>
                                <span value="评论" class="editreplaybtn" onclick="Reply('{$vo.comment_id}', '{$plugins.url.AddCommentUrl}');" style="cursor: pointer">评论</span>
                            </p>
                        </div>
                    </form>
                </div>
            </ul>
        </div>
    </div>
</li>
{/eyou:volist}