{include file="public/layout" /}
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;min-width: auto;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page" style="min-width: auto;box-shadow:none;">
    <!-- 操作说明 -->
    <div id="explanation" class="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
        <div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
            <h4 title="提示相关设置操作时应注意的要点">提示</h4>
            <span title="收起提示" id="explanationZoom" style="display: block;"></span>
        </div>
        <ul>
            <li>每个网站都存在一个安装序列号，点击【<a href="javascript:void(0);" data-href="https://www.keqq.cn/plus/view.php?aid=5552" onclick="openFullframe(this,'获取邮箱授权码');">查看教程</a>】复制序列号</li>
        </ul>
    </div>
    <form class="form-horizontal" id="post_form" method="post" onsubmit="return false;">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label for="serialnumber"><em>*</em>安装序列号</label>
                </dt>
                <dd class="opt" style="width: auto;">
                    <input type="text" name="serialnumber" value="" id="serialnumber" class="input-txt" autocomplete="off">
                    <span class="err"></span>
                    <p class="notic">每个网站都有一个安装序列号，具体教程请查看上方提示。</p>
                </dd>
            </dl>
            <div class="bot" style="padding-bottom:0px;">
                <input type="hidden" name="referurl" value="{$referurl}">
                <a href="JavaScript:void(0);" onclick="checkForm();" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">

    function checkForm()
    {
        if($.trim($('input[name=serialnumber]').val()) == ''){
            showErrorMsg('安全序列号不能为空！');
            $('input[name=serialnumber]').focus();
            return false;
        }

        layer_loading('正在处理');
        $.ajax({
            url: "{:url('Security/ajax_force_verify', ['_ajax'=>1])}",
            type: 'POST',
            dataType: 'JSON',
            data: $('#post_form').serialize(),
            success: function(res) {
                layer.closeAll();
                if (res.code == 1) {
                    layer.msg(res.msg, {shade: 0.1, time: 1000}, function(){
                        window.location.href = res.url;
                    });
                } else {
                    showErrorMsg(res.msg);
                }
            },
            error: function(e){
                layer.closeAll();
                showErrorAlert(e.responseText);
            }
        });
    }
</script>
{include file="public/footer" /}