{include file="public/layout" /}
<body class="bodystyle">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <form class="form-horizontal" id="post_form" action="{:url('Field/attribute_edit')}" method="post" onsubmit="return false;">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label for="typeid"><em>*</em>所属栏目</label>
                </dt>
                <dd class="opt"> 
                    {$select_html}
                    <input type="hidden" name="typeid" id="typeid" value="{$field.typeid|default=''}">
                    <span class="err" id="err_typeid" style="color:#F00; display:none;"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="ac_name"><em>*</em>属性名称</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="attr_name" value="{$field.attr_name}" id="attr_name" class="input-txt">
                    <span class="err" id="err_attr_name" style="color:#F00; display:none;"></span>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="attr_input_type"><em>*</em>属性类型</label>
                </dt>
                <dd class="opt">
                    {volist name='$attrInputTypeArr' id='vo'}
                        <div style="width: 150px; float: left;">
                            <label><input type="radio" name="attr_input_type" value="{$key}" {eq name="$field.attr_input_type" value="$key"} checked="checked" {/eq}>{$vo}</label>&nbsp;
                        </div>
                        {if condition="$i % 4 == 0"}<br/>{/if}
                    {/volist}
                    <span class="err" id="err_attr_input_type" style="color:#F00; display:none;"></span>
                    <p class="notic"></p>
                    <p class="red {if condition="!in_array($field.attr_input_type, [6,7])"} none {/if}" id="validate_type"><br/>前台表单输入框的格式验证标签调用，<a href="javascript:void(0);" onclick="click_to_eyou_1575506523('https://www.keqq.cn/plus/view.php?aid=8973','标签调用');">请点击这里查看教程</a></p>
                </dd>
            </dl>
            <dl class="row attr_input_type2 {notin name='field.attr_input_type' value='1,3,4'}none{/notin}">
                <dt class="tit">
                    <label for="attr_values"><em>*</em>可选值列表</label>
                </dt>
                <dd class="opt">
                    <textarea rows="10" cols="30" name="attr_values" id="attr_values" class="input-txt" style="height:100px;" placeholder="一行代表一个可选值" onkeyup="this.value=this.value.replace(/[\|]/g,'');" onpaste="this.value=this.value.replace(/[\|]/g,'');">{$field.attr_values}</textarea>
                    <span id="err_attr_values" class="err" style="color:#F00; display:none;"></span>
                    <p class="notic">一行代表一个可选值</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>后台列表显示</label>
                </dt>
                <dd class="opt">
                    <div class="onoff">
                        <label for="is_showlist1" class="cb-enable {eq name='$field.is_showlist' value='1'}selected {/eq}" id="is_showlist1_label" data-is_showlist="1" onclick="ajax_attribute_show(this);">显示</label>
                        <input id="is_showlist1" name="is_showlist" value="1" type="radio"  {eq name='$field.is_showlist' value='1'}checked="checked"{/eq}>

                        <label for="is_showlist0" class="cb-disable {eq name='$field.is_showlist' value='0'}selected {/eq}" id="is_showlist0_label" data-is_showlist="0" onclick="ajax_attribute_show(this);">隐藏</label>
                        <input id="is_showlist0" name="is_showlist" value="0" type="radio" {eq name='$field.is_showlist' value='0'}checked="checked"{/eq}>
                    </div>
                    &nbsp;
                    <span class="err"></span>
                    <p class="notic">默认在列表显示前4个字段，全部字段可点击查看</p>
                </dd>
            </dl>
            <div id='region_div' {neq name="$field.attr_input_type" value="9"}style="display: none;"{/neq}>
                <dl class="row">
                    <dt class="tit">
                        <label for="region"><em>*</em>区域选择</label>
                    </dt>
                    <dd class="opt">
                        <select id="province" onchange="GetRegionData(this,'province');">
                            <option value="-1">请选择</option>
                            {volist name='$Province' id='P_V'}
                            <option {if condition="$P_V.id == $region.parent_id"} selected {/if} value="{$P_V.id}">{$P_V.name}</option>
                            {/volist}
                        </select>

                        <span id='CityId'>
                            <select id="city" onchange="GetRegionData(this,'city');">
                                <option value="{$region.parent_id}">请选择</option>
                                {notempty name="$City"}
                                {volist name='$City' id='C_V'}
                                    <option {if condition="$C_V.id == $region.region_id"} selected {/if} value="{$C_V.id}">{$C_V.name}</option>
                                {/volist}
                                {/notempty}
                            </select>
                        </span>

                        <span class="err"></span>
                        <p class="notic"></p>
                    </dd>
                    <input type="hidden" id="GetRegionDataUrl" value="{:url('Field/ajax_get_region_data')}">
                    <input type="hidden" name="region_data[region_id]" id="RegionId" value="{$region.region_id}">
                </dl>

                <dl class="row">
                    <dt class="tit">
                        <label><em>*</em>默认值</label>
                    </dt>
                    <dd class="opt">
                        <textarea rows="5" cols="60" name="region_data[region_names]" id="region_names" readonly='readonly' placeholder="这里会自动区域选择之后的下级区域列表" style="height:110px; background-color: #f5f5f5;">{$region.region_names}</textarea>
                        <span class="err"></span>
                        <p class="notic">这里会自动区域选择之后的下级区域列表</p>
                    </dd>
                    <input type="hidden" name="region_data[region_ids]" id='region_ids' value='{$region.region_ids}' style="width: 100%;">
                </dl>
            </div>
            <dl class="row">
                <dt class="tit">
                    <label>前台必填</label>
                </dt>
                <dd class="opt">
                    <div class="onoff">
                        <label for="required1" class="cb-enable {eq name='$field.required' value='1'}selected {/eq}" >是</label>
                        <input id="required1" name="required" value="1" type="radio" {eq name='$field.required' value='1'}checked="checked"{/eq}>
                        <label for="required0" class="cb-disable {eq name='$field.required' value='0'}selected {/eq}">否</label>
                        <input id="required0" name="required" value="0" type="radio" {eq name='$field.required' value='0'}checked="checked"{/eq}>
                    </div>
                    &nbsp;
                    <span class="err"></span>
                    <p class="notic">用于控制前台用户提交是否必填验证</p>
                </dd>
            </dl>
            <dl class="row" id="realValidate" {if condition="!in_array($field.attr_input_type, [6])"} style="display: none;" {/if}>
                <dt class="tit"> <label>真实验证</label> </dt>
                <dd class="opt">
                    <div class="onoff">
                        <label for="real_validate1" class="cb-enable {eq name='$field.real_validate' value='1'} selected {/eq}" >是</label>
                        <input id="real_validate1" name="real_validate" value="1" type="radio" {eq name='$field.real_validate' value='1'}checked="checked"{/eq}>
                        <label for="real_validate0" class="cb-disable {eq name='$field.real_validate' value='0'} selected {/eq}">否</label>
                        <input id="real_validate0" name="real_validate" value="0" type="radio" {eq name='$field.real_validate' value='0'}checked="checked"{/eq}>
                    </div>
                    &nbsp;
                    <span class="err"></span>
                    <p class="notic">用于控制前台用户提交的内容是否进行真实验证</p>
                </dd>
            </dl>
            <div class="bot">
                <input type="hidden" name="attr_id" value="{$field.attr_id}">
                <a href="JavaScript:void(0);" onclick="check_submit('post_form');"  class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    var parentObj = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引

    $(function(){
        // 判断是否隐藏第二级地区选择栏
        var parent_array = {$parent_array};
        if (parent_array) {
            var region_id = $('#RegionId').val();
            if (0 <= $.inArray(region_id, parent_array)) {
                $('#CityId').hide();
            }
        }

        $('input[name=attr_input_type]').click(function(){
            var val = parseInt($(this).val());
            $('#validate_type').hide();
            $('#realValidate').hide();
            if (-1 < $.inArray(val, [1,3,4])) {
                $('.attr_input_type2').show();
            } else {
                $('.attr_input_type2').hide();
                if (-1 < $.inArray(val, [6,7])) {
                    $('#validate_type').show();
                    // 如果点击的是手机号码字段则执行
                    if (val == 6) $('#realValidate').show();
                }
            }
            if (9 == val) {
                $('#region_div').show();
                $('#dl_dfvalue').hide();
            } else {
                $('#dl_dfvalue').show();
                ClearAreaData();
            }
        });
    });
    // 当切换其他类型时清空所有关于区域选择的数据
    function ClearAreaData(){
        $('#region_div').hide();
        $('#RegionId').val('');
        $('#region_dfvalue').empty();
    }

    // 获取联动地址
    function GetRegionData(t,type){
        var parent_id = $(t).val();
        if(!parent_id){
            return false;
        }

        var url = $('#GetRegionDataUrl').val();
        $.ajax({
            url: url,
            data: {parent_id:parent_id,_ajax:1},
            type:'post',
            dataType:'json',
            success:function(res){
                // 判断是否隐藏第二级地区选择栏
                if (0 <= $.inArray(parent_id, res.parent_array)) {
                    $('#CityId').hide();
                }else{
                    $('#CityId').show();
                }
                // 加载城市名称数据到textarea
                $('#region_names').empty().html(res.region_names);
                // 加载城市ID数据到input
                $('#region_ids').val(res.region_ids);
                // 加载ID到input
                $('#RegionId').val(parent_id);
                // 输出下一级栏目选项
                if ('province' == type) {
                    res = '<option value='+parent_id+'>请选择</option>'+ res.region_html;
                    $('#city').empty().html(res);
                }
            },
            error : function(e) {
                layer.closeAll();
                layer.alert(e.responseText, {icon: 5});
            }
        });
    }
    /**
    * ajax 提交属性 到后台去验证然后回到前台提示错误
    * 验证通过后,再通过 form 自动提交
    */
    function check_submit(form_id)
    {
        if ($('#typeid').val() == 0) {
            showErrorMsg('请选择栏目…！');
            $('#typeid').focus();
            return false;
        }
        if($.trim($('input[name=attr_name]').val()) == ''){
            showErrorMsg('属性名称不能为空！');
            $('input[name=attr_name]').focus();
            return false;
        }
        var attr_input_type = parseInt($('input[name=attr_input_type]:checked').val());
        if (-1 < $.inArray(attr_input_type, [1,3,4]) && $.trim($('#attr_values').val()) == '') {
            showErrorMsg('可选值列表不能为空！');
            $('#attr_values').focus();
            return false;
        }

        layer_loading('正在处理');
        $.ajax({
            type : "POST",
            url  : "{:url('Field/attribute_edit', ['_ajax'=>1])}",
            data : $('#'+form_id).serialize(),// 你的formid
            dataType: "JSON",
            error: function(e) {
                layer.closeAll();
                layer.alert(e.responseText, {icon: 5, title:false});
                return false;
            },
            success: function(res) {
                layer.closeAll();
                if(res.code == 1)
                {
                    if(!res.data.url){
                        layer.msg(res.msg, {shade: layer_shade, time: 1000}, function(){
                            window.location.reload();
                        });
                    }else{
                        var _parent = parent;
                        _parent.layer.close(parentObj);
                        _parent.layer.msg(res.msg, {shade: layer_shade, time: 1000}, function(){
                            _parent.gourl(res.data.url);
                        });
                    }
                    return true;
                } else {     
                    showErrorMsg(res.msg);                       
                    return false;
                }
            }
        });   
    }

    function ajax_attribute_show(obj) {
        var is_showlist = $(obj).attr('data-is_showlist');
        var typeid = $('#typeid').val();
        if (typeid == 0) {
            showErrorMsg('请选择栏目…！');
            $('#typeid').focus();
            return false;
        }
        $.ajax({
            type : 'post',
            url : "{:url('Field/ajax_attribute_show')}",
            data : {typeid:typeid,is_showlist:is_showlist, _ajax:1},
            dataType : 'json',
            success : function(res){
                if (res.code != 1) {
                    $('#is_showlist1_label').removeClass('selected');
                    $('#is_showlist0_label').addClass('selected');//添加一个class
                    $("input:radio[name=is_showlist]").eq(0).attr("checked",false);
                    $("input:radio[name=is_showlist]").eq(1).attr("checked",true);
                    layer.alert(res.msg, {icon: 2, title:false});
                }
            },
            error:function(e){
                layer.alert(e.responseText, {icon: 2, title:false});
            }
        });
    }

</script>

{include file="public/footer" /}