    <aside class="aside-left">
        <!-- 评论回复 -->
        {eyou:empty name="$plugins.comment.commentData"}
        <div class="huifu-edit">
            <div class="huifu-null" > <img src="__ROOT_DIR__/template/plugins/comment/pc/skin/images/kong_pic2.png" alt="">
                <p style="margin-top: 10px;">暂时还没评论，等你发挥</p>
            </div>
        </div>
        {eyou:else/}
        <div class="wenti-huifu">
            <div class="huifu-head">
                <div>
                    <strong>评论回复</strong>
                    <span style="margin:0 10px;color:#E5E5E5">|</span>
                    <span style="font-size: 14px;color:#999">共
                        <span id="detail_comment_count_DIV">{$plugins.comment.commentCount}</span> 个
                    </span>
                </div>
                <div class="hf-head-flr">
                    <span class="hf-head-flr-span" id="orderName" style="color:#406080;font-size:14px;cursor: pointer;">
                        <a href="javascript:void(0);" data-url="{$plugins.url.commentLikeUrl}" data-sort_order='{$plugins.comment.orderway}' onclick="commentLike(this, '__ROOT_DIR__');">
                            按点赞量排序
                        </a>
                    </span>
                    <i class="icon iconfont icon-down" style="font-size: 12px;color: #999;display: inline-block;margin-left: 5px;"></i>
                </div>
            </div>

            <ul class="huifu-list">
                <div id="commentContainerDiv">
                    <!-- 评论列表 start --> 
                    {eyou:include file="comment/pc/ajax_comment_list.htm" /}
                    <!-- 评论列表 end -->
                </div>
            </ul>
            <div class="huifu-list-more">
                <a href="javascript:void(0);" onclick="pageComment(this);" data-url="{$plugins.url.PageCommentUrl}" id="comment_morepage" data-firstRow="{$plugins.comment.firstRow}" data-listRows="{$plugins.comment.listRows}" {eyou:empty name='$plugins.comment.commentMore'}style="display: none;"{/eyou:empty}>加载更多</a>
            </div>
        </div>
        {/eyou:empty}

        <div class="huifu-edit" id='hedit'>
            <div class="huifu-user">
                {eyou:empty name="$users.users_id"}
                    <img src="__ROOT_DIR__/template/plugins/comment/pc/skin/images/kong_pic2.png" style="width:40px;height:40px;border-radius:100%">
                {eyou:else/}
                    <img src="{$users.head_pic}" style="width:40px;height:40px;border-radius:100%">
                {/eyou:empty}

                <div class="user-nice">
                    {eyou:empty name="$users.users_id"}
                        <p class="nice">游客</p>
                    {eyou:else/}
                        <p class="nice">{$users.nickname}</p>
                    {/eyou:empty}
                </div>
            </div>

            <form id="commentForm">
                {eyou:empty name="$plugins.isComment"}
                    <div id="container" class="edui-default" style="">
                        <div id="edui1" class="edui-editor edui-default" style="text-indent: 0.5em; height:40px; z-index: 5; border:1px solid #ff6600; padding-top: 6px;">^-^我来说两句，请先
                            <a href="{eyou:diyurl type='login' /}" style="color: red;">登录</a>
                            <em>·</em>
                            <a href="{eyou:diyurl type='reg' /}" style="color: red;">注册</a>
                        </div>
                    </div>
                {eyou:else/}
                    {eyou:notempty name="$plugins.param.click_like"}
                        <!-- 百度编辑器 -->
                        {eyou:static file="/public/plugins/Ueditor/ueditor.config.js"/}
                        {eyou:static file="/public/plugins/Ueditor/ueditor.all.min.js"/}
                        {eyou:static file="/public/plugins/Ueditor/lang/zh-cn/zh-cn.js"/}
                        <!-- END -->
                    {/eyou:notempty}
                    <div class="ey_comment_row">
                        <div class="">
                            <textarea class="span12 ckeditor" id="plugins_comment_content" name="plugins_comment_content"></textarea>
                        </div>
                    </div>
                {/eyou:empty}
                <div class="edit-opt">
                	{eyou:empty name="$plugins.isComment"}
                	<span class="editbutton" style="cursor: pointer;" onclick="CommentAdds(this,'{$plugins.url.AddCommentUrl}');">发表评论</span>
                	{eyou:else/}
                    <span class="editbutton" style="cursor: pointer;" onclick="CommentAdd(this,'{$plugins.url.AddCommentUrl}');">发表评论</span>
                    {/eyou:empty}
                </div>
            </form>
        </div>
    </aside>
