<li class="secend-li" id="{$commentInfo['comment_id']}_comment_li">
    <div class="head-secend">
        <a><img src="{$commentInfo['head_pic']}" style="width:30px;height:30px;border-radius:100%;margin-right: 16px;"></a>
        <strong>{$commentInfo['username']}</strong>
        <span style="margin:0 10px"> | </span>
        <span>{$commentInfo['add_time']}</span>
        <div style="flex-grow:1"></div>
        <span id="{$commentInfo['comment_id']}_replyA" onclick="ReplyUser('{$commentInfo['pid']}','{$commentInfo['users_id']}','{$commentInfo['username']}','{$commentInfo['comment_id']}')" class="secend-huifu-btn" style="cursor: pointer;">回复</span>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a onclick="CommentDel('{$DelCommentUrl}', '{$commentInfo['comment_id']}', 2)" class="secend-huifu-btn" style="cursor: pointer; color:red;">删除</a>
    </div>
    <div class="secend-huifu-text">
        {$commentInfo['content']}
    </div>
</li>