    <!-- 评论回复 -->
    {eyou:static file="/public/static/common/js/jquery.min.js"/}
    {eyou:static file="/public/plugins/layer-v3.1.0/layer.js"/}
    {eyou:static file="skin/js/reply.js" code="comment"/}
    {eyou:static file="skin/css/reply.css" code="comment"/}
    <!-- END -->

    <!-- 百度编辑器 -->
    {eyou:static file="/public/plugins/Ueditor/ueditor.config.js"/}
    {eyou:static file="/public/plugins/Ueditor/ueditor.all.min.js"/}
    {eyou:static file="/public/plugins/Ueditor/lang/zh-cn/zh-cn.js"/}
    <!-- END -->

    <aside class="aside-left col-md-9" id="ey_comment">
        <div class="tiwen_box">
            <form id="CommentFormData" method="post">
                <div class="tiwen_main mar_t20" style="">
                    <p class="ti">
                        <big><strong>文档标题</strong></big>
                    </p>
                    <div class="mar_t10 ts">
                        {$plugins.comment.title}
                    </div>

                    <p class="hui_font mar_t10 ti">
                        <big><strong>评论回复</strong></big>
                        <font class="font12 jiu_font mar_l10">{$plugins.comment.nickname}，您要修改的评论内容如下</font>
                    </p>
                    <div class="mar_t10 da" style="">
                        <!-- HTML文本 start -->
                        <div class="ey_comment_row">
                            <div class="">
                                <textarea class="span12 ckeditor" id="plugins_comment_content" name="plugins_comment_content">{$plugins.comment.content}</textarea>
                            </div>
                        </div>
                        <script type="text/javascript">
                            UE.getEditor('plugins_comment_content',{
                                serverUrl :"{:url('user/Uploadify/index',array('savepath'=>'ueditor'))}",
                                zIndex: 999,
                                initialFrameWidth: "100%", //初化宽度
                                initialFrameHeight: 300, //初化高度            
                                focus: false, //初始化时，是否让编辑器获得焦点true或false
                                maximumWords: 99999,
                                removeFormatAttributes: 'class,style,lang,width,height,align,hspace,valign',//允许的最大字符数 'fullscreen',
                                pasteplain:false, //是否默认为纯文本粘贴。false为不使用纯文本粘贴，true为使用纯文本粘贴
                                autoHeightEnabled: false,
                                toolbars: [["forecolor", "backcolor", "removeformat", "|", "simpleupload", "unlink"]],
                                // xss 过滤是否开启,inserthtml等操作
                                xssFilterRules: true,
                                //input xss过滤
                                inputXssFilter: true,
                                //output xss过滤
                                outputXssFilter: true
                            });
                        </script>
                    </div>

                    <div class="width100 mar_t10 et da">
                        <span class="rc">
                            <input type="hidden" name="aid" value="{$plugins.comment.aid}">
                            <input type="hidden" name="comment_id" value="{$plugins.comment.comment_id}">
                            <button type="button" class="sz_button float_r" onclick="SubmitData('{$plugins.EditCommentUrl}');">提交</button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
   </aside>
