.lists {
	overflow: hidden;
	background: #fff;
}
.Game_list {
	overflow: hidden;
	margin-top: 0;
}
.Game_list .item {
	overflow: hidden;
	margin: 10px 12px;
}
.Game_list .item .list {
	padding: 15px 0;
	height: 70px;
	margin: 0 12px;
	border-bottom: 1px solid #f5f5f5;
	display: flex;
}
.Game_list .item .list .img, .Game_list .item .list .img img {
	width: 70px;
	height: 70px;
	border-radius: 6px;
}
.Game_list .item .list .img {
	display: block;
	margin-right: 12px;
	position: relative;
}
.Game_list .item .list .img, .Game_list .item .list .img img {
	width: 70px;
	height: 70px;
	border-radius: 6px;
}
.Game_list .item .list .info {
	flex: 1;
	margin-right: 12px;
}
.Game_list .item .list .info .bt {
	display: block;
	width: 100%;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	font-size: 14px;
	font-weight: 600;
	color: #333;
}
.Game_list .item .list .info p {
	height: 20px;
	line-height: 20px;
	font-size: 10px;
	color: #999;
	margin: 4px 0;
	overflow: hidden;
}
.Game_list .item .list .info p span {
	margin-left: 10px;
}
.Game_list .item .list .info ul {
	overflow: hidden;
	width: 100%;
	height: 24px;
}
.Game_list .item .list .info ul li {
	float: left;
	height: 18px;
	border-radius: 10px;
	padding: 0 10px;
	border: 1px solid #c5dcfc;
	text-align: center;
	font-size: 12px;
	color: #589cf6;
	margin: 2px 4px 10px 0;
}
.Game_list .item .list .info ul li span {
	width: 100%;
	color: #589cf6;
}
.Game_list .item .list .downl_btn {
	width: 60px;
	height: 26px;
	box-shadow: 0 0 12px #9fcee5;
	background: -webkit-linear-gradient(left, #589cf6 0%, #1ab2ff 100%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#589cf6', endColorstr='#1ab2ff', GradientType=1);
	background: linear-gradient(to right, #589cf6 0%, #1ab2ff 100%);
	color: #fff;
	text-align: center;
	border-radius: 4px;
	line-height: 26px;
	margin-top: 22px;
}
.lists .Game_list+.Game_list {
	display: none;
}
.m-header .m-search-index {
	margin: 0 15px 0 15px;
}
.jjweixinBtn {
	position: fixed;
	right: 15px;
	bottom: 150px;
	width: 40px;
	height: 40px;
	background: #fff url(../images/list-fanhui.png) center no-repeat;
	background-size: 25px 25px;
	border-radius: 50%;
	box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.07);
	opacity: 0.7;
	display: none;
}
/*资讯列表*/
.moudle-list-info {
	background: #fff;
	overflow: hidden;
}
.moudle-list-info .link {
	display: block;
	overflow: hidden;
	padding: 15px 0;
	margin: 0 15px;
	border-bottom: solid #f5f5f5 1px;
}
.moudle-list-info .link img {
	width: 130px;
	height: 79px;
	display: block;
	float: right;
	margin-left: 15px;
	border-radius: 3px;
}
.moudle-list-info h4 {
	font-size: 16px;
	color: #333;
	max-height: 48px;
	height: 48px;
	line-height: 24px;
	margin-bottom: 10px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.moudle-list-info .m-list-box-w {
	overflow: hidden;
}
.moudle-list-info .m-list-box-w .date {
	float: left;
	color: #aaa;
	line-height: 20px;
	font-size: 12px;
}
.moudle-list-info .m-list-box-w .frequency {
	float: right;
	color: #aaa;
	line-height: 20px;
	font-size: 12px;
}
/*加载更多*/
.list-linmore {
	height: 45px;
	line-height: 45px;
	padding: 10px 0;
}
.list-linmore img {
	width: 45px;
	height: 45px;
}
.star {
	width: 66px !important;
	position: relative;
	margin: 5px 0;
}
.star, .star span {
	height: 10px;
	background: url(../images/icon_star.png) no-repeat;
	background-size: 66px auto;
}
.star span {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	max-width: 100%;
	background-position: 0 -11px;
}
.star .l1 {
	width: 20%;
}
.star .l2 {
	width: 40%;
}
.star .l3 {
	width: 60%;
}
.star .l4 {
	width: 80%;
}
.star .l5 {
	width: 100%;
}
