
.m-header-video {
	margin-top: 10px;
	margin-bottom: 10px;
}
.m-header-video .header {
	background-color: #fff;
	padding: 20px 15px 0;
}
.mall-totop {
	bottom: 80px;
}
/*Swiper*/
.swiper-container {
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.swiper-container-android .swiper-slide, .swiper-wrapper {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.swiper-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	-o-transition-property: transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
.swiper-slide {
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	position: relative;
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	-o-transition-property: transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
}
.swiper-slide img {
	display: block;
	border-radius: 5px;
}
.swiper-pagination {
	position: absolute;
	text-align: center;
	-webkit-transition: .3s opacity;
	-o-transition: .3s opacity;
	transition: .3s opacity;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	z-index: 10;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 4px;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
	cursor: pointer;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
	width: 100%;
	bottom: 20px;
	left: 0;
}
.swiper-pagination-bullet {
	width: 15px;
	height: 3px;
	display: inline-block;
	background: #fff;
	opacity: .2;
}
.swiper-pagination-bullet-active {
	opacity: 1;
	background: #fff;
}
/*首页导航*/
.iMenu {
	overflow: hidden;
	padding: 5px 5px 0;
	background: #fff;
}
.iMenu li {
	width: 25%;
	float: left;
	padding-bottom: 20px;
}
.iMenu li a {
	display: block;
}
.iMenu li a i {
	width: 40px;
	height: 40px;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
}
.iMenu li a i img {
	display: block;
	border-radius: 50%;
}
.iMenu li a span {
	display: block;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	text-align: center;
}
/*课程分类*/
.nav-box-float {
	width: 100%;
	height: 40px;
	padding-top: 10px;
	background: #fff;
}
.second-tags-scroll-box {
	position: relative;
	padding: 0 15px;
}
.second-tags-scroll {
	background: #fff;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
}
.second-tags-scroll ul {
	white-space: nowrap;
}
.second-tags-scroll li {
	display: inline-block;
	padding-right: 15px;
}
.second-tags-scroll a {
	font-size: 16px;
	color: #333;
}
.second-tags-scroll .on {
	color: #508cee;
	font-weight: bold;
	display: block;
	font-size: 20px;
}
.second-tags-scroll .quanbu {
	color: #508cee;
	font-weight: bold;
	display: block;
	font-size: 20px;
}
.second-tags-scroll span {
	padding: 0 0 13px;
}
.second-tags-scroll-box .right-mask {
	width: 20px;
	height: 40px;
	position: absolute;
	right: 15px;
	bottom: 1px;
	z-index: 2;
	background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), #fff);
	background-image: linear-gradient(to right, rgba(255,255,255,0), #fff);
}
/*更多*/
.text-titie {
	width: 100%;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
}
.text-titie .btn {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	width: 57px;
	height: 24px;
	background: rgba(245,245,245,1);
	border-radius: 12px;
}
.text-titie .btn .text {
	font-size: 12px;
	font-weight: 400;
	color: rgba(153,153,153,1);
}
.text-titie .btn .icon {
	width: 4px;
	height: 7px;
	margin-left: 5px;
	margin-top: 1px;
}
/*文章列表*/
.moudle-list-info {
	background: #fff;
	overflow: hidden;
}
.moudle-list-info .link {
	display: block;
	overflow: hidden;
	padding: 15px 0;
	margin: 0 15px;
	border-bottom: solid #f5f5f5 1px;
}
.moudle-list-info .link img {
	width: 130px;
	height: 79px;
	display: block;
	float: right;
	margin-left: 15px;
	border-radius: 3px;
}
.moudle-list-info h4 {
	font-size: 16px;
	color: #333;
	max-height: 48px;
	height: 48px;
	line-height: 24px;
	margin-bottom: 10px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.moudle-list-info .m-list-box-w {
	overflow: hidden;
}
.moudle-list-info .m-list-box-w .date {
	float: left;
	color: #aaa;
	line-height: 20px;
	font-size: 12px;
}
.moudle-list-info .m-list-box-w .frequency {
	float: right;
	color: #aaa;
	line-height: 20px;
	font-size: 12px;
}