/*通用样式*/
body {
	margin: 0;
	padding: 0;
	background: #f0f0f0;
	font-family: "PingFang SC", "微软雅黑", "Microsoft YaHei", Helvetica, "Helvetica Neue", Tahoma, Arial, sans-serif;
	font-size: 12px;
	color: #333;
}
ul, li, input, h1, h2, h3, h4, p, span, b, dl, dt, dd, i, strong, form, div {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
h1, h2, h3, h4 {
	font-weight: normal;
}
section {
	display: block;
}
em, i {
	font-style: normal;
}
img {
	border: 0;
	max-width: 100%;
}
em {
	font-style: normal;
	font-weight: normal;
}
a {
	text-decoration: none;
	color: #333;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.fr {
	float: right;
}
.fl {
	float: left;
}
.clearfix:after {
	content: ".";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	font-size: 0;
}
.wrapper {
	max-width: 640px;
	min-width: 320px;
	margin: 0 auto;
	padding-top: 45px;
	padding-bottom: 52px;
}
.top_nav_left {
	width: 45px;
	height: 44px;
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	background: url(../images/mall-left.png) no-repeat;
	background-size: 54px 44px;
}
.topbar {
	width: 100%;
	background: #fff;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
	text-align: center;
}
.list-linmore {
	width: 100%;
	height: 60px;
	font-size: 14px;
	line-height: 60px;
	color: #757575;
	background: #fff;
	text-align: center;
}
.recommend-title {
	display: block;
	width: auto;
	height: 15px;
	margin: 10px auto;
	padding-bottom: 10px;
}
.m-yey-pl-wushuju {
	background-color: #fff;
}
/*首页底部查看全部课程*/
.yey-vip-qbkc {
	background: #f0f0f0;
	margin: 20px 0;
	padding: 0 15px;
}
.yey-vip-qbkc a {
	width: 100%;
	line-height: 40px;
	margin: 0 auto;
	font-size: 14px;
	color: #ff700a;
	text-align: center;
	display: block;
	border: 1px solid #ff700a;
	border-radius: 5px;
}
/*首页重置最头部*/
.m-header {
	width: 100%;
	height: 44px;
	background: #fff;
	z-index: 100;
	position: fixed;
	border-bottom: 1px solid #f5f5f5;
}
.m-header .index-logo {
	width: 100px;
	height: 100%;
	top: 5px;
	left: 0px;
	display: block;
	position: absolute;
}
.m-header .index-logo img {
	width: 100px;
	height: 32px;
}
.m-header .m-search-index {
	height: 30px;
	line-height: 30px;
	margin: 0 60px 0 96px;
	background: #f0f0f0;
	display: block;
	position: relative;
	top: 7px;
	border-radius: 3px;
	color: #999;
	font-size: 14px;
	padding-left: 10px;
}
.m-header .m-search-index:before {
	background: url(../images/index-search-top.png) no-repeat;
	background-size: 15px auto;
}
.m-header .m-search-index:before {
	width: 15px;
	height: 15px;
	content: "";
	display: inline-block;
	margin: -3px 5px 0 0;
	vertical-align: middle;
}
.m-header .yey-top-h1 {
	width: 70%;
	line-height: 44px;
	float: left;
	font-size: 16px;
	padding-left: 15px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.m-header .search-list {
	position: absolute;
	top: 12px;
	right: 15px;
	width: 23px;
	height: 23px;
	background: url(../images/index-search.png) no-repeat;
	background-size: 23px 23px;
}
.m-header-member {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	top: 0;
	right: 15px;
	margin-top: 7px;
	position: absolute;
}
.m-header-member img {
	width: 30px;
	height: 30px;
	border-radius: 20px;
	position: absolute;
}
.searchbar_index {
	width: 100%;
	height: 44px;
	border-bottom: 1px solid #f5f5f5;
}
.searchbar_index h1 {
	font-size: 18px;
	color: #000;
	line-height: 44px;
	text-align: center;
}
.searchbar_index h2 {
	width: 60%;
	height: 44px;
	line-height: 44px;
	margin: 0 auto;
	display: block;
	font-size: 18px;
	color: #333;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.courses-search {
	width: 25px;
	height: 25px;
	display: block;
	position: absolute;
	right: 15px;
	top: 10px;
	background: url(../images/index-search.png) no-repeat;
	background-size: 25px 25px;
}
/*重置左右两边间距-更换手机号/密码/昵称*/
.wrapper .mima-content {
	padding: 0 5px;
}
.foot-notice {
	padding: 30px 15px !important;
}
/*重写样式*/
.login_box .submit {
	background: #ff700a !important;
	padding: 0;
}
.login_box .login_box_inputw input {
	font-size: 14px !important;
}
.m-user-tuichu .m-tuichu {
	background: #ff700a !important;
}
.gdb_buybtn_pay {
	background: #ff700a !important;
}
.button2 {
	background: #ff700a !important;
}
.recharge .pc-vip-list.active {
	border: #ff700a 1px solid !important;
}
.recharge .pc-vip-list .pc-vip-name {
	color: #ff700a !important;
}
.recharge .pc-vip-list .money {
	color: #ff700a !important;
}
.recharge .pc-vip-list .money em {
	color: #ff700a !important;
}
.recharge .pc-vip-list .icon-recomd {
	background: #ff700a !important;
}
.button-face {
	background: #ff700a !important;
}
.m-touxiang {
	color: #ff700a !important;
}
.list-bottom-goumai .kc-goumai {
	background: #ff700a !important;
}
.aui-nav-list-box li.aui-current span {
	color: #ff700a !important;
	border-bottom: 2px solid #ff700a !important;
}
.yey-courses-mulu .content_list li .on {
	color: #ff700a !important;
	border: 1px solid #ff700a !important;
}
.m-search-index {
	font-size: 12px !important;
}
.m-yey-zhuche {
	color: #ff700a !important;
	border: 1px solid #ff700a !important;
}
.jq22-coll-share-item {
	width: 25% !important;
	margin-bottom: 0 !important;
}
.jq22-coll-share-box {
	padding: 25px 0 25px 0 !important;
}
/*最头部登录账号后头像*/
.m-header .member-box {
	overflow: hidden;
}
.m-header .m-link {
	display: block;
	height: 30px;
}
.m-header .m-link img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
/*通用课程搜索*/
.m-full-pnl .m-search-pnl {
	display: block;
	position: absolute;
	z-index: 9999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	width: 100%;
	height: 100%;
	background: #fff;
}
.m-search-pnl {
	display: none;
}
.m-full-pnl, .m-full-pnl body {
	height: 100%;
	position: relative;
}
.m-disb-scroll, .m-disb-scroll body {
	overflow: hidden;
}
.ysearch-box {
	padding: 10px 50px 10px 15px;
	box-sizing: border-box;
	box-shadow: 0 0 3px 1px rgba(0,0,0,.1);
}
.ysearch-box .yfixtext {
	width: 100%;
	line-height: 20px;
	background: #eee;
	padding: 5px 15px 5px 28px;
	font-size: 12px;
	border-radius: 3px;
	box-sizing: border-box;
	border: 0;
	outline: 0;
	-webkit-appearance: none;
	color: #333;
}
.ysearch-box .fixsbmt {
	width: 15px;
	height: 15px;
	display: block;
	position: absolute;
	left: 22px;
	top: 17px;
	background: url(../images/index-search.png) no-repeat;
	background-size: 15px 15px;
	border: 0;
	outline: 0;
	-webkit-appearance: none;
	opacity: 0.7;
}
#JwsClose {
	width: 25px;
	height: 25px;
	line-height: 25px;
	display: block;
	position: absolute;
	right: 12px;
	top: 12px;
	font-size: 12px;
}
/*首页课程列表*/
.m-header-video .header {
	background-color: #fff;
	padding: 20px 15px 15px;
}
.m-header-video .header .text-titie {
	font-size: 20px;
	font-weight: 700;
	color: #333;
}
.m-header-video .content_list {
	background: #fff;
	overflow: hidden;
	padding: 15px 15px 0;
}
.m-header-video .content_item {
	width: 50%;
	float: left;
	box-sizing: border-box;
}
.m-header-video .content_item .link {
	display: block;
	position: relative;
}
.m-header-video .content_item:nth-child(2n+1) {
	border-right: 5px solid #fff;
}
.m-header-video .content_item:nth-child(2n) {
	border-left: 5px solid #fff;
}
.m-header-video .content_item img {
	width: 100%;
	display: block;
	border-radius: 3px;
}
.m-header-video .content_item .main_title {
	margin: 5px 0 5px;
	height: 44px;
	line-height: 22px;
	font-size: 16px;
	color: #333;
	font-weight: 700;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
.m-header-video .content_item .sub_title {
	height: 18px;
	line-height: 18px;
	color: #999;
	font-size: 12px;
	padding-bottom: 25px;
}
.m-header-video .content_item .sub_title .price {
	float: left;
	color: #f30;
	font-size: 16px;
	padding-right: 5px;
}
em.jishu {
	position: absolute;
	line-height: 12px;
	bottom: 102px;
	right: 5px;
	color: #fff;
	font-size: 12px;
	border-radius: 3px;
	background: rgba(0,0,0,0.6);
	padding: 3px 6px;
}
em.ke-bs, em.price1 {
	display: none;
}
em.ke-bs1 {
	display: inline-block;
	color: #2ed25d;
	font-size: 16px;
	padding-right: 5px;
}
/*视频播放器VIP会员开通*/
.m-video-vip {
	padding: 20px 10px 0;
	background: #fff;
	overflow: hidden;
}
.m-video-vip a {
	width: 60%;
	line-height: 45px;
	border-radius: 3px;
	background: #ff700a;
	color: #fff;
	font-size: 12px;
	float: right;
	text-align: center;
}
.m-video-shikan {
	width: 30%;
	height: 45px;
	line-height: 45px;
	color: #fff;
	background: #999;
	text-align: center;
	border-radius: 3px;
	float: left;
	font-size: 12px;
}
/*课程文章页-课程购买*/
.m-video-vip-box {
	position: relative;
	overflow: hidden;
	height: 200px;
	background: #333;
}
.m-video-vip-box .m-video-yey-list {
	width: 100%;
	height: 100%;
	;
	background: rgba(0,0,0,.6);
	position: absolute;
	top: 0;
}
.m-video-vip-box .m-yey-vip-bt {
	padding: 40px 15px 0;
	text-align: center;
	font-size: 16px;
	color: #fff;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-weight: 700;
}
.m-video-vip-box .m-yey-vip-jg {
	padding-top: 20px;
	text-align: center;
	font-size: 20px;
	color: #ff700a;
	font-weight: 700;
}
.m-video-vip-box .m-yey-vip-gmkc {
	padding-top: 10px;
	text-align: center;
}
.m-video-vip-box .m-yey-vip-gmkc .m-kc-goumai {
	line-height: 20px;
	color: #fff;
	background: #ff700a;
	padding: 7px 30px;
	display: inline-block;
	font-size: 14px;
	border-radius: 5px;
}
/*课程课件内容*/
.m-courses-cotainer {
	overflow: hidden;
	background: #fff;
	padding: 50px 15px 15px;
}
.m-courses-cotainer h1 a {
	width: 160px;
	height: 38px;
	line-height: 38px;
	display: inline-block;
	text-align: center;
	color: #fff;
	font-size: 18px;
	margin-right: 15px;
	border-radius: 3px;
	background: #ff700a;
}
.m-courses-cotainer h2, .m-courses-cotainer h3 {
	font-size: 18px;
	line-height: 22px;
	padding-bottom: 15px;
}
.m-courses-cotainer p {
	text-align: center;
	color: #999;
	font-size: 14px;
	line-height: 22px;
	padding-bottom: 15px;
}
.m-courses-cotainer img {
	display: block;
}
/*文章标题*/
.m-article-title {
	background-color: #fff;
	padding: 20px 15px;
}
.m-article-title h1 {
	line-height: 32px;
	color: #333;
	font-size: 22px;
}
.m-article-title .status_bar {
	line-height: 20px;
	padding-top: 10px;
}
.m-article-title .status_bar .first {
	font-size: 12px;
	line-height: 18px;
	color: #bcbcbc;
	padding: 0 5px;
	border-radius: 2px;
	margin-right: 10px;
	display: inline-block !important;
	background: #f2f2f2;
}
.m-article-title .status_bar .source, .m-article-title .status_bar .date, .m-article-title .status_bar .yuedu {
	color: #b2b2b2;
	font-size: 14px;
	padding-right: 10px;
}
/*文章内容*/
.m-article-content {
	background-color: #fff;
	padding: 10px 15px;
}
.m-article-content p {
	line-height: 22px;
	font-size: 14px;
	color: #333;
	padding-bottom: 25px;
	text-align: justify;
}
.m-article-content h2 {
	font-size: 20px;
	margin-bottom: 25px;
	font-weight: 700;
	line-height: 18px;
	border-left: 5px solid #ff700a;
	padding-left: 10px;
}
.m-article-content img {
	width: 100%;
	display: block;
}
/*文章点赞*/
.manageBox {
	padding: 10px 0 50px;
	text-align: center;
	background-color: #fff;
}
.manageBox .like {
	width: 130px;
	height: 70px;
	border-radius: 35px;
	background: #eee;
	display: inline-block;
	padding-top: 12px;
	cursor: pointer;
	box-sizing: border-box;
}
.manageBox span .yey-dianzan {
	display: block;
	width: 26px;
	height: 26px;
	background: url(../images/dianzan1.png) no-repeat;
	background-size: 26px 26px;
	margin: 0 auto 5px;
}
.manageBox span .yey-dianzan2 {
	display: block;
	width: 26px;
	height: 26px;
	background: url(../images/dianzan2.png) no-repeat;
	background-size: 26px 26px;
	margin: 0 auto 5px;
}
/*课程问答*/
.am-share-sns {
	overflow: hidden;
	padding-top: 20px;
}
.yey-kc-tiwen {
	padding: 0 15px;
}
.input-txt-box {
	padding: 0 15px;
	width: 100%;
	height: 53px;
	background: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	box-sizing: border-box;
	box-shadow: 0 -1px 10px 0 rgba(0,0,0,0.05);
}
.input-txt-box .gd_comment {
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	background: #f0f0f0;
	border-radius: 4px;
	text-indent: 10px;
	color: #999;
	display: block;
	margin-top: 12px;
}
.article-course-pl .gd_comment_fabu {
	float: right;
	-webkit-appearance: none;
	color: #fff;
	font-size: 12px;
	cursor: pointer;
	border: 0;
	background: #ff700a;
	outline: 0;
	padding: 3px 12px;
	margin-top: 5px;
	border-radius: 25px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.article-course-pl .form-contro {
	width: 100%;
	height: 100px;
	display: block;
	line-height: 22px;
	font-size: 14px;
	border: none;
	border-radius: 5px;
	color: #666;
	padding: 10px;
	resize: none;
	outline: 0;
	box-sizing: border-box;
	-webkit-appearance: none;
	background: #f7f7f7;
}
/*评论内容*/
.course-discuss .pl-list {
	padding: 20px 15px;
	border-bottom: 1px solid #f5f5f5;
	background: #fff;
}
.course-discuss .pl-list-avator {
	float: left;
	width: 40px;
	height: 40px;
}
.course-discuss .pl-list-avator img {
	display: block;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}
.course-discuss .pl-list-main {
	margin-left: 50px;
}
.course-discuss .pl-list-nick {
	line-height: 16px;
	margin-bottom: 8px;
	font-size: 14px;
	color: #999;
}
.course-discuss .pl-list-content {
	margin-bottom: 10px;
	font-size: 14px;
	color: #333;
	line-height: 22px;
}
.course-discuss .pl-list-btm {
	height: 18px;
	font-size: 12px;
	color: #93999f;
	margin-top: 15px;
}
.course-discuss .pl-list-btm .list-praise {
	color: #93999f;
}
.course-discuss .pl-list-btm .pl-list-time {
	display: block;
	line-height: 18px;
}
.course-discuss .pl-list-btm .ok-btn {
	position: relative;
	cursor: pointer;
	height: 18px;
	line-height: 18px;
	margin-right: 5px;
	color: #666;
	padding: 0 0 0 17px;
	background: url(../images/hottestcomment-bg.png) no-repeat 0 -100px;
}
.course-discuss .pl-list-btm .ok-btn em {
	margin-left: 3px;
}
.course-discuss .pl-list-btm .ok-btn:hover {
	background-position: 0 -70px;
	color: #8895a6;
}
/*官方回复*/
.course-discuss .pl-list-gfhf {
	background: #f8f8f8;
	border-radius: 3px;
	padding: 10px;
	line-height: 22px;
	margin-top: 10px;
	color: #333;
	font-size: 14px;
}
/*评论提交反馈*/
.pl-list-tjfk {
	padding: 0 15px 10px;
	color: #999;
	font-size: 12px;
}
/*相关文章推荐*/
.relevant-recommend {
	margin-top: 10px;
	background-color: #fff;
}
.relevant-recommend .mod-title {
	font-size: 18px;
	color: #333;
	padding: 20px 15px 5px;
	font-weight: bold;
}
.post_item a {
	display: block;
	padding: 10px 0;
	margin: 0 15px;
	border-bottom: 1px solid #f5f5f5;
}
.post_item img {
	float: right;
	width: 140px;
	height: 79px;
	margin-left: 15px;
	border-radius: 5px;
}
.post_item h3 {
	font-size: 16px;
	color: #333;
	max-height: 48px;
	height: 48px;
	line-height: 24px;
	margin-bottom: 10px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.post_item .post_tag {
	overflow: hidden;
}
.post_item .post_name {
	float: left;
	color: #aaa;
	line-height: 20px;
	font-size: 12px;
}
.post_item .postSee {
	float: right;
	color: #aaa;
	line-height: 20px;
	font-size: 12px;
}
/*返回顶部*/
.mall-totop {
	display: none;
	width: 40px;
	height: 40px;
	background: url(../images/scroll-to-top-icon.png) no-repeat;
	background-size: 100%;
	position: fixed;
	bottom: 60px;
	right: 15px;
	z-index: 10;
}
/*通用底部*/
.gzs-bottombar {
	width: 100%;
	height: 52px;
	background: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1000;
	box-shadow: 0 -1px 10px 0 rgba(0,0,0,0.05);
}
.gzs-bo {
	width: 25%;
	float: left;
	height: 52px;
	font-size: 10px;
	color: #999;
	text-align: center;
}
.gzs-bo img {
	width: 24px;
	height: 24px;
	display: block;
	margin: 8px auto 1px;
}
.gzs-on {
	color: #ff700a;
}
/*课程详情底部*/
.m-dwz-bottom {
	width: 100%;
	position: fixed;
	bottom: 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.m-video-bf {
	background: #fff;
	height: 50px;
	line-height: 50px;
}
/*关于我们*/
.m-m-about {
	padding: 25px 15px 0;
}
.m-m-about h2 {
	line-height: 24px;
	font-size: 18px;
	color: #333;
	font-weight: 700;
	padding-bottom: 25px;
}
.m-m-about h3 {
	line-height: 24px;
	font-size: 16px;
	color: #ff700a;
	padding-bottom: 10px;
}
.m-m-about p {
	line-height: 24px;
	font-size: 14px;
	color: #999;
	padding-bottom: 15px;
	text-align: justify;
}
.m-m-about p strong {
	font-weight: bold;
	color: #333;
}
/*在线支付按钮*/
.btn_mid_grey {
	width: 100%;
	background: #1FBD46;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	color: #fff;
}
.cart_bottom_c {
	height: 50px;
	width: 100%;
	position: fixed;
	left: 0px;
	bottom: 0px;
	z-index: 400;
	background: #fff;
}
.order-time {
	background: #fff;
	line-height: 22px;
	padding: 30px 10px 0 10px;
	color: #E40A0A;
	;
	font-size: 14px;
}
.bweb_wrap {
	background: #fff;
	overflow: hidden;
}
.bweb_wrap .box_title {
	height: 30px;
	line-height: 30px;
	padding: 15px 15px 10px;
}
.bweb_wrap .box_title span {
	font-size: 20px;
	font-weight: 700;
	color: #333;
}
.bweb_wrap ul {
	border-top: none;
}
.bweb_wrap .games {
	overflow: hidden;
	margin: 12px 12px 0;
}
.bweb_wrap .games li {
	float: left;
	width: 25%;
	margin-bottom: 16px;
}
.bweb_wrap .games li .info {
	display: block;
	margin: 0 auto;
}
.bweb_wrap .games li .info img {
	width: 64px;
	height: 64px;
	border-radius: 12px;
	display: block;
	margin: 0 auto;
}
.bweb_wrap .games li .info p {
	font-size: 14px;
	color: #111111;
	text-align: center;
	line-height: 20px;
	height: 20px;
	overflow: hidden;
	margin-top: 5px;
}
.bweb_wrap .games li .downl {
	display: block;
	margin: 5px auto 0;
	width: 60px;
	height: 24px;
	line-height: 24px;
	border: 1px solid #b2d9ff;
	color: #3399ff;
	font-size: 12px;
	text-align: center;
	border-radius: 3px;
}
.wrapper .apic img {
	width: 100%;
}