/*重置头部*/
body {
	background: #fff;
}
.wrapper {
	padding-bottom: 70px;
	padding-top: 0;
}
.swiper-slide img {
	display: block;
}
.showYin {
	display: block !important;
}
.yin {
	display: none !important;
}
.ke-mf1 {
	display: none !important;
}
.ke-goumai-mf {
	display: none;
}
.yey-ke-mf1 {
	width: 100%;
	text-align: center;
	height: 44px;
	line-height: 44px;
	background: #ff700a;
	font-size: 16px;
	color: #fff;
	border-radius: 22px;
	display: block !important;
}
/*重写头部右边图标位置*/
.yey-header .member-box {
	overflow: hidden;
}
.yey-header .m-link {
	display: block;
	height: 30px;
}
.yey-header .m-link img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.jw-video-expense{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .8);
  z-index: 999;
  color: #fff;
  font-size: 0.28rem;
  text-align: center;
  display: none;
  /* height: 3.6rem;
  width: 100%;
  line-height: 3.6rem; */
}
/*课程标题*/
.gzs-title-box {
	position: relative;
	box-shadow: 0 0 10px rgba(0,0,0,.15);
	margin: 20px 15px 10px;
	border-radius: 5px;
	background-color: #fff;
    top: -30px;
}
.gzs-title-box h1 {
	line-height: 32px;
	font-size: 24px;
	color: #333;
	font-weight: 700;
	padding: 25px 20px 15px;
	text-align: center;
}
.gzs-title-box .times {
	text-align: center;
	font-size: 12px;
	color: #999;
	padding-bottom: 15px;
}
.gzs-title-box .times em {
	color: #ff700a;
	font-size: 20px;
	font-weight: 700;
	padding: 0 2px;
}
.gzs-title-box .yey-sc {
	text-align: center;
	padding-bottom: 20px;
}
.gzs-title-box .iofx .times {
	float: left;
	font-size: 12px;
	color: #999;
	display: inline-block;
}
/*课程目录*/
.yey-kcml-box {
	padding: 0 15px 0;
}
.yey-list-kcml {
	padding-bottom: 10px;
	font-size: 16px;
	color: #333;
}
.pd_info_box .task-task-item {
	position: relative;
	padding: 10px;
	display: block;
	overflow: hidden;
	background: #f8f8f8;
	margin-bottom: 10px;
	border-radius: 3px;
	box-sizing: border-box;
}
.pd_info_box .task-task-item:hover {
	background: #f2f2f2;
}
.pd_info_box .yey-list-course {
	overflow: hidden;
}
.pd_info_box .task-tt-text {
	width: 100%;
	color: #333;
	font-size: 16px;
	height: 22px;
	line-height: 22px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	box-sizing: border-box;
	padding-left: 20px;
	background: url(../images/pay-video.png) no-repeat 0 2px;
	background-size: 15px 15px;
}
.pd_info_box .task-tt-zj {
	color: #999;
	font-size: 12px;
	line-height: 18px;
	padding: 3px 20px 0;
}
/* .pd_info_box .task-tt-zj .needBuy{
	float: right
} */
.pd_info_box .yey-kc-s {
	color: #ff700a;
	font-size: 12px;
	margin-left: 5px;
}
.pd_info_box .keshikan {
	color: #393;
	font-size: 12px;
	margin-left: 5px;
}
/*课程简介*/
.yey-kc-jianjie {
	padding: 20px 15px 20px;
	background-color: #fff;
}
.yey-kc-jianjie .ke-jieshao {
	font-size: 16px;
	color: #333;
	padding-bottom: 10px;
}
.yey-kc-jianjie h3 {
	font-size: 18px;
	color: #333;
	padding-bottom: 10px;
}
.yey-kc-jianjie p {
	color: #666;
	font-size: 14px;
	padding-bottom: 10px;
	line-height: 24px;
	text-align: justify;
}
.yey-kc-jianjie p img {
	margin: 0 auto;
	display: block;
	width: 100% !important;
	height: 100% !important;
	margin-bottom: -10px;
}
/*课程收藏*/
.gzs-title-box .shoucang1 {
	line-height: 20px;
	font-size: 12px;
	color: #e0a604;
	display: inline-block;
	padding: 0 10px;
	border-radius: 2px;
	cursor: pointer;
	border: #e0a604 solid 1px;
	margin: 0 3px;
}
.gzs-title-box .shoucang2 {
	line-height: 20px;
	font-size: 12px;
	color: #fff;
	display: inline-block;
	padding: 0 6px;
	background-color: #e0a604;
	border-radius: 2px;
	cursor: pointer;
	border: #e0a604 solid 1px;
	margin: 0 3px;
}
.mui-toast-container {
	position: fixed;
	z-index: 9999;
	bottom: 200px;
	width: 100%;
	-webkit-transition: opacity .8s;
	transition: opacity .8s;
	opacity: 0;
}
.mui-toast-container.mui-active {
	opacity: 1;
}
.mui-toast-message {
	width: 120px;
	margin: 5px auto;
	padding: 10px 5px;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	background-color: #606060;
	font-size: 12px;
}
/*课程购买*/
.list-bottom-goumai {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	padding: 10px 15px;
	box-sizing: border-box;
	background: #fff;
	box-shadow: 0 -1px 10px 0 rgba(0,0,0,0.05);
}
.list-bottom-goumai .kc-goumai {
	width: 100%;
	float: left;
	text-align: center;
	height: 44px;
	line-height: 44px;
	background: #ed7e30;
	display: block;
	font-size: 16px;
	color: #fff;
	border-radius: 22px;
}.list-bottom-goumai .kc-goumai span{
	width: 100%;
}
.list-bottom-goumai .kc-goumai a{
	color: #fff;
    width: 100%;
    display: block;
}
.list-bottom-goumai .kc-goumai .kc-yuanjia {
	padding: 0 5px;
	color: #dedede;
	font-size: 14px;
	text-decoration: line-through;
}
/*购买须知*/
.gzs-k-faq {
	padding: 20px 15px 0;
}
.gzs-k-faq h3 {
	font-size: 16px;
	color: #333;
	padding-bottom: 10px;
}
.gzs-k-faq p {
	line-height: 20px;
	font-size: 14px;
	color: #999;
	padding-bottom: 15px;
}
/*更多*/
.jjweixinBtn {
	position: fixed;
	right: 15px;
	bottom: 150px;
	width: 40px;
	height: 40px;
	background: #fff url(../images/list-fanhui.png) center no-repeat;
	background-size: 25px 25px;
	border-radius: 50%;
	box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.07);
	opacity: 0.7;
	display: none;
}
.jq22-navBar-item {
	position: fixed;
	right: 15px;
	bottom: 100px;
	width: 40px;
	height: 40px;
	background: #fff url(../images/list-genduo.png) center no-repeat;
	background-size: 25px 25px;
	border-radius: 50%;
	box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.07);
	opacity: 0.7;
}
.m-actionsheet {
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	background-color: #fff;
	-webkit-transform: translate(0, 100%);
	transform: translate(0, 100%);
	-webkit-transition: -webkit-transform .3s;
	transition: -webkit-transform .3s;
	transition: transform .3s;
	transition: transform .3s, -webkit-transform .3s;
}
.actionsheet-toggle {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}
.jq22-coll-share-box {
	overflow: hidden;
	padding: 20px 0 10px 0;
}
.jq22-coll-share-item {
	width: 33.333%;
	margin-bottom: 10px;
	float: left;
	box-sizing: border-box;
	font-size: 12px;
	color: #666;
}
.jq22-coll-share-img {
	width: 30px;
	height: 30px;
	margin: 0 auto;
}
.jq22-coll-share-img img {
	width: 100%;
	height: auto;
	display: block;
	border: none;
}
.jq22-coll-cancel a {
	width: 100%;
	height: 45px;
	line-height: 45px;
	font-size: 14px;
	background: #f9f9f9;
	display: block;
	text-align: center;
}
.mask-black {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	z-index: 999;
}
/*开通VIP会员*/
.yey-svip {
	text-align: center;
}
.yey-svip a {
	border-radius: 3px;
	font-size: 14px;
	padding: 10px;
	display: block;
	color: #fff;
	background: #e0a604;
}
.yey-svip .yey-svip-x {
	margin: 0 15px 15px;
}
/*查看全部目录*/
.pd_info_mask {
	max-height: 330px;
	position: relative;
	overflow: hidden;
}
.pd_info_all {
	text-align: center;
}
.pd_info_all a {
	font-size: 14px;
	color: #ff700a;
	display: inline-block;
	padding: 13px 25px;
}
.pd_info_mask:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 50px;
	left: 0;
	bottom: 0;
	background: -webkit-linear-gradient(top, rgba(254,254,254,0), rgba(254,254,254,0.9));
}
/*微信客服*/
.click_pop {
	line-height: 20px;
	font-size: 12px;
	color: #e0a604;
	display: inline-block;
	padding: 0 10px;
	border-radius: 2px;
	cursor: pointer;
	border: #e0a604 solid 1px;
	margin: 0 3px;
}
.pop {
	display: none;
	width: 100%;
	height: 300px;
	left: 0;
	bottom: 0;
	position: fixed;
	z-index: 130;
	background: #fff;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.pop-top {
	height: 46px;
	line-height: 46px;
	border-bottom: 1px #eee solid;
	padding: 0 15px;
}
.pop-top h2 {
	float: left;
	color: #333;
	font-size: 16px;
}
.pop-top span {
	float: right;
	color: #333;
	font-size: 16px;
	cursor: pointer;
}
.pop-content {
	padding: 0 15px;
	text-align: center;
}
.pop-content img {
	width: 180px;
}
.pop-content p {
	color: #999;
	font-size: 14px;
	line-height: 20px;
	padding-bottom: 10px;
}
.bgPop {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.2);
	display: none;
	z-index: 129;
}
/*分销赚钱*/
.personal-zq {
	position: fixed;
	top: 10px;
	right: 0;
	height: 30px;
	background: #ff700a;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-flex-direction: row;
	flex-direction: row;
	border-radius: 100px 0 0 100px;
}
.personal-zq img {
	width: 18px;
	height: 18px;
	display: block;
	margin: 0 4px 0 8px;
}
.personal-zq p {
	color: #fff;
	font-size: 12px;
	margin-right: 8px;
	line-height: 14px;
	text-align: center;
}