* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	background: #fff;
	font-family: "STHeiti", Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #333;
}
ul, li {
	list-style: none;
}
h1, h2, h3, h4 {
	font-weight: normal;
}
em, i {
	font-style: normal;
	font-weight: normal;
}
img {
	border: 0;
	max-width: 100%;
}
a {
	text-decoration: none;
	color: #333;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.wrapper {
	max-width: 640px;
	min-width: 320px;
	margin: 0 auto;
	padding-top: 50px;
	margin-bottom: 54px;
}
.m-header {
	width: 100%;
	height: 50px;
	background: #fff;
	z-index: 100;
	position: fixed;
}
.ysearch-box {
	padding: 10px 15px 10px 15px;
	box-sizing: border-box;
	box-shadow: 0 0 3px 1px rgba(0,0,0,.1);
}
.ysearch-box .yfixtext {
	width: 100%;
	line-height: 20px;
	background: #eee;
	padding: 5px 15px 5px 28px;
	font-size: 12px;
	border-radius: 3px;
	box-sizing: border-box;
	border: 0;
	outline: 0;
	-webkit-appearance: none;
	color: #333;
}
.ysearch-box .fixsbmt {
	width: 15px;
	height: 15px;
	display: block;
	position: absolute;
	left: 22px;
	top: 17px;
	background: url(../images/index-search.png) no-repeat;
	background-size: 15px 15px;
	border: 0;
	outline: 0;
	-webkit-appearance: none;
	opacity: 0.7;
}
.jjweixinBtn {
	position: fixed;
	right: 15px;
	bottom: 150px;
	width: 40px;
	height: 40px;
	background: #fff url(../images/list-fanhui.png) center no-repeat;
	background-size: 25px 25px;
	border-radius: 50%;
	box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.07);
	opacity: 0.7;
	display: none;
}
/*课程列表*/
.m-header-video .content_list {
	background: #fff;
	overflow: hidden;
	padding: 15px 15px 0;
}
.m-header-video .content_item {
	width: 50%;
	float: left;
	box-sizing: border-box;
}
.m-header-video .content_item .link {
	display: block;
	position: relative;
}
.m-header-video .content_item:nth-child(2n+1) {
	border-right: 5px solid #fff;
}
.m-header-video .content_item:nth-child(2n) {
	border-left: 5px solid #fff;
}
.m-header-video .content_item img {
	width: 100%;
	display: block;
	border-radius: 3px;
}
.m-header-video .content_item .main_title {
	margin: 5px 0 5px;
	height: 44px;
	line-height: 22px;
	font-size: 16px;
	color: #333;
	font-weight: 700;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
.m-header-video .content_item .sub_title {
	height: 18px;
	line-height: 18px;
	color: #999;
	font-size: 12px;
	padding-bottom: 25px;
}
.m-header-video .content_item .sub_title .price {
	float: left;
	color: #f30;
	font-size: 16px;
	padding-right: 5px;
}
em.jishu {
	position: absolute;
	line-height: 12px;
	bottom: 102px;
	right: 5px;
	color: #fff;
	font-size: 12px;
	border-radius: 3px;
	background: rgba(0,0,0,0.6);
	padding: 3px 6px;
}
em.ke-bs, em.price1 {
	display: none;
}
em.ke-bs1 {
	display: inline-block;
	color: #2ed25d;
	font-size: 16px;
	padding-right: 5px;
}
/*课程搜索结果*/
.yey-list-loading {
	width: 100%;
	height: 20px;
	line-height: 20px;
	padding: 0 0 30px;
	overflow: hidden;
	text-align: center;
	color: #999;
	font-size: 14px;
}
.yey-list-loading a, .yey-list-loading span{
    background-color: #fff;
    font-size: 14px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    border: 1px solid #eee;
    color: #666;
    margin-left: 5px;
    padding: 0 20px;
}

.gzs-bottombar{width:100%;height:52px;background:#fff;position:fixed;bottom:0;left:0;z-index:1000;box-shadow:0 -1px 10px 0 rgba(0,0,0,0.05);}
.gzs-bo{width:25%;float:left;height:52px;font-size:10px;color:#999;text-align:center;}
.gzs-bo img{width:24px;height:24px;display:block;margin:8px auto 1px;}
.gzs-on{color:#ff700a;}