.web_wap {
	background: #fff;
}
.boxwrap {
	border-top: 6px solid #f5f5f5;
	overflow: hidden;
}
.boxwrap .box_title {
	height: 30px;
	line-height: 30px;
	padding: 12px 12px 0;
}
.boxwrap .box_title span, .boxwrap .box_title h2 {
	float: left;
	font-size: 16px;
	color: #333;
	font-weight: 600;
}
.boxwrap ul {
	border-top: none;
}
.Brdnav {
	overflow: hidden;
	height: 40px;
	line-height: 40px;
	padding: 0 12px;
	background: #f5f5f5;
	font-size: 12px;
	color: #999;
}
.Brdnav i {
	display: inline-block;
	float: left;
	width: 20px;
	height: 20px;
	background: url(../images/position.png) no-repeat;
	background-size: 20px auto;
	margin: 10px 6px 0px 0px;
}
.Brdnav a {
	color: #999;
}
.Brdnav span {
	margin: 0 6px;
	font-family: initial;
}
.downl_wrap {
	background: #fff;
	padding: 15px 24px;
	position: relative;
}
.downl_wrap .info {
	margin: 0 auto;
	text-align: center;
}
.downl_wrap .info .tx {
	margin: 5px auto;
	display: inline-block;
}
.downl_wrap .info .tx, .downl_wrap .info .tx img {
	width: 50px;
	height: 50px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.downl_wrap .info .bt {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #444;
	line-height: 10px;
	margin: 10px 0;
}
.downl_wrap .info .txt {
	margin: 5px 0;
	color: #b0b0b0;
	font-size: 12px;
	line-height: 16px;
}
.downl_wrap .info .btn {
	overflow: hidden;
	width: auto;
}
.downl_wrap .info .btn .btn {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	max-width: 400px;
	min-width: 230px;
	border-radius: 14px;
	margin: 5px 0;
	background: #eee;
	font-size: 14px;
	color: #fff;
}
.downl_wrap .info .btn .az_btn {
	background: #3399ff;
	box-shadow: 0 0 8px #1ab2ff;
}
.txtwrap {
	overflow: hidden;
	margin: 0 12px;
}
.txtwrap .txtcont {
	font-size: 14px;
	color: #444;
	line-height: 28px;
	overflow: hidden;
}
.like_item {
	overflow: hidden;
	width: 100%;
	overflow-x: auto;
	padding: 10px 0;
	overflow-y: hidden;
	white-space: nowrap;
}
.like_item .item + .item {
	display: none;
}
.like_item ul li {
	display: inline-block;
	background: #fff;
	overflow: hidden;
	width: 90px;
	height: 168px;
	border-radius: 6px;
	margin: 10px 20px 10px 0;
	position: relative;
	vertical-align: middle;
}
.like_item ul li .img {
	margin: 15px auto 0;
	display: block;
}
.like_item ul li .img, .like_item ul li .img img {
	width: 60px;
}
.like_item ul li .name {
	font-size: 14px;
	color: #333;
	text-align: center;
	margin: 5px;
	overflow: hidden;
	height: 18px;
	line-height: 18px;
	font-weight: bold;
}
.like_item ul li .downl_btn {
	display: block;
	width: 55px;
	height: 22px;
	line-height: 22px;
	border-radius: 3px;
	margin: 10px auto;
	color: #3399ff;
	font-size: 14px;
	border: 1px solid #3399ff;
	text-align: center;
}
