
body {
	background: #fff;
}
.wrapper {
	padding-bottom: 0;
	padding-top: 0;
}
.cmt-top-title .join-txt-qb {
	display: none;
}
.course-discuss .pl-list-btm .ok-btn {
	display: none;
}

/*加载中*/
.yey-list-loading {
	width: 100%;
	height: 50px;
	line-height: 50px;
	color: #757575;
	background: #fff;
	text-align: center;
	font-size: 14px;
}
.m-yey-pl-wushuju {
	display: none;
}
.yin {
	position: absolute;
	left: -9999px;
	font-size: 0px;
}
/*课程目录*/
.yey-courses-mulu {
	background-color: #fff;
	margin-bottom: 10px;
}
.yey-courses-mulu .jjseotitle {
	padding: 25px 15px 10px;
	color: #333;
	font-size: 18px;
	line-height: 26px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.yey-courses-mulu .content_list li {
	margin-bottom: 10px;
}
.yey-courses-mulu .content_list li a {
	line-height: 50px;
	padding: 0 15px;
	display: block;
	border: 1px solid #f0f0f0;
	color: #333;
	font-size: 14px;
	background: #f8f8f8;
	border-radius: 3px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.yey-courses-mulu .content_list li .on {
	color: #ff700a;
	border: 1px solid #ff700a;
	background: #fff;
}
.yey-courses-mulu .content_list {
	padding: 15px 15px 15px 15px;
}
.yey-courses-mulu .content_list .content_item_2 {
	width: 200px;
	position: relative;
	padding: 0 0 0 10px;
	box-sizing: border-box;
	display: inline-block;
}
.yey-courses-mulu .content_list .content_item_2 a {
	display: block;
}
/*TAB切换*/
.aui-nav-list-box {
	border-bottom: 1px solid #f5f5f5;
	background: #fff;
	height: 50px;
}
.aui-nav-list-box li {
	float: left;
	width: 50%;
	line-height: 50px;
	font-size: 16px;
	text-align: center;
}
.aui-nav-list-box a {
	display: block;
	color: #666;
}
.aui-nav-list-box span {
	display: inline-block;
	height: 48px;
}
.aui-nav-list-box li.aui-current a {
	color: #333;
}
.aui-nav-list-box li.aui-current span {
	color: #ff700a;
	border-bottom: 2px solid #ff700a;
}
.aui-nav-list-box .tiwen-su {
	font-size: 12px;
	padding-left: 2px;
	color: #999;
}
.aui-nav-list-box li.aui-current .tiwen-su {
	color: #ff700a !important;
}
.aui-nav-list-item {
	display: none;
}
/*更多*/
.jq22-navBar-item {
	position: fixed;
	right: 15px;
	bottom: 100px;
	width: 40px;
	height: 40px;
	background: #fff;
	background-size: 25px 25px;
	border-radius: 50%;
	box-shadow: 0px 5px 11px 0px rgba(0,0,0,0.07);
	opacity: 0.7;
	z-index: 999;
}
.m-actionsheet {
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	background-color: #fff;
	-webkit-transform: translate(0, 100%);
	transform: translate(0, 100%);
	-webkit-transition: -webkit-transform .3s;
	transition: -webkit-transform .3s;
	transition: transform .3s;
	transition: transform .3s, -webkit-transform .3s;
}
.actionsheet-toggle {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}
.jq22-coll-share-box {
	overflow: hidden;
	padding: 20px 0 10px 0;
}
.jq22-coll-share-item {
	width: 33.333%;
	margin-bottom: 10px;
	float: left;
	box-sizing: border-box;
	font-size: 12px;
	color: #666;
}
.jq22-coll-share-img {
	width: 30px;
	height: 30px;
	margin: 0 auto;
}
.jq22-coll-share-img img {
	width: 100%;
	height: auto;
	display: block;
	border: none;
}
.jq22-coll-cancel a {
	width: 100%;
	height: 45px;
	line-height: 45px;
	font-size: 14px;
	background: #f9f9f9;
	display: block;
	text-align: center;
}
.mask-black {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	z-index: 999;
}
/*播放器重写*/
.prism-player{
    width:100%;background: #000;
    position:relative;
    padding-bottom:56.25%;    /*需要用padding来维持16:9比例,也就是9除以16*/
    height: 0;
}
.prism-player video{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%
}