<div class="gzs-bottombar"> <a href="{eyou:global name='web_cmsurl'/}" {eyou:eq name='$Request.param.m' value='Index'} class="gzs-bo gzs-on" {eyou:else/} class="gzs-bo" {/eyou:eq}> {eyou:eq name='$Request.param.m' value='Index'} <img src="{eyou:global name='web_templets_m' /}/skin/images/index2.png">首页
  {eyou:else/} <img src="{eyou:global name='web_templets_m' /}/skin/images/index.png">首页
  {/eyou:eq} </a> <a href="{eyou:type typeid='1'}{$field.typeurl}{/eyou:type}" {eyou:if condition='($eyou.field.typeid == "1")'} class="gzs-bo gzs-on" {eyou:else/} class="gzs-bo" {/eyou:if}> {eyou:if condition='($eyou.field.typeid == "1")'} <img src="{eyou:global name='web_templets_m' /}/skin/images/index-ke2.png">课程
  {eyou:else/} <img src="{eyou:global name='web_templets_m' /}/skin/images/index-ke.png">课程
  {/eyou:if} </a> <a href="{eyou:url link='user/Users/media_index' /}" class="gzs-bo"> <img src="{eyou:global name='web_templets_m' /}/skin/images/index-yg.png">已购 </a> <a href="{eyou:diyurl type='login'/}" class="gzs-bo"> <img src="{eyou:global name='web_templets_m' /}/skin/images/index-admin.png">我的 </a> </div>
<div class="mall-totop" onclick="window.scrollTo(0,0);" style="display: block;"></div>
{eyou:static file="skin/js/mall-top.js" /} 
<script type="text/javascript">
$(function(){
    lazyRender();
	$("#JenIpt").on('click',function(){
		$("#JwapSearch").show();
	});
	$("#JwsClose").on('click',function(){
		$("#JwapSearch").hide();
	});
})
$(window).on('scroll',function () {
    lazyRender();
})
function lazyRender () {
    $('img').each(function () {
        //解决没缩略图的
        if($(this).attr('src') == undefined)
        {
            $(this).attr("src","{eyou:global name='web_templets_m' /}/skin/images/yey-sc-bg.gif");
        }
        if (checkShow($(this)) && !isLoaded($(this)) ){
            loadImg($(this));
        }
        if($(this).attr('src') == '{eyou:global name='web_cmspath' /}'){$(this).attr("src","{eyou:global name='web_templets_m' /}/skin/images/yey-sc-bg.gif");}
    })
}
function checkShow($img) { // 传入一个img的jq对象
    var scrollTop = $(window).scrollTop();  //即页面向上滚动的距离
    var windowHeight = $(window).height(); // 浏览器自身的高度
    var offsetTop = $img.offset().top;  //目标标签img相对于document顶部的位置
    if (offsetTop < (scrollTop + windowHeight) && offsetTop > scrollTop) { //在2个临界状态之间的就为出现在视野中的
        return true;
    }
    return false;
}
function isLoaded ($img) {
    return $img.attr('data-src') === $img.attr('src'); //如果data-src和src相等那么就是已经加载过了
}
function loadImg ($img) {
    // $img.css('display','none');
    $img.attr('src',$img.attr('data-original')).fadeIn(300); // 加载就是把自定义属性中存放的真实的src地址赋给src属性
}
</script>
<style>
.m-search-pnl {
    display: block;
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
    background: #fff;
}
</style>
<div id="JwapSearch" class="m-search-pnl" style="display: none;">
  <div id="JwsClose">取消</div>
  <div class="ysearch-box"> {eyou:searchform type='default' channelid='5'}
    <form method="get" action="{$field.action}" onsubmit="return checkSearchForm()">
      {$field.hidden}
      <input type="search" class="yfixtext" id="keywords" name="keywords" placeholder="搜索您感兴趣的课程" autocomplete="off">
      <input type="submit" class="fixsbmt" value="">
    </form>
    {/eyou:searchform} </div>
</div>
<script type="text/javascript">
  function checkSearchForm(){
  if(document.getElementById('keywords').value){
    return true;
    }else{
   alert("请输入课程关键字");
    return false;
    }
    }
</script> 
<!-- 应用插件标签 start --> 
{eyou:weapp type='default' /} 
<!-- 应用插件标签 end --> 
<!--[if lt IE 9]>
    <div class="notsupport">
        <h1>:( 非常遗憾</h1>
        <h2>您的浏览器版本太低，请升级您的浏览器</h2>
    </div>
<![endif]--> 
