{include file="header.htm" /}
<body class="bodystyle" style="overflow-y: scroll; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page" style="min-width: auto;">
    {include file="bar.htm" /}
    <div class="flexigrid">
        <div class="mDiv">
            <div class="ftitle">
                <h3>问题列表</h3>
                <h5>(共{$pageObj->totalRows}条数据)</h5>
            </div>
            <div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>
            <form class="navbar-form form-inline" action="{:weapp_url('Ask/Ask/ask_list')}" method="get" onsubmit="layer_loading('正在处理');">
                {$searchform.hidden|default=''}
                <div class="sDiv">
                    <div class="sDiv2">
                        <input type="text" size="30" name="keywords" class="qsbox" placeholder="搜索相关数据...">
                        <input type="submit" class="btn" value="搜索">
                        <i class="fa fa-search"></i>
                    </div>
                    <div class="sDiv2">
                        <input type="button" class="btn" value="重置" onClick="window.location.href='{:weapp_url('Ask/Ask/ask_list')}';">
                    </div>
                </div>
            </form>
        </div>
        <div class="hDiv">
            <div class="hDivBox">
                <table cellspacing="0" cellpadding="0" style="width: 100%">
                    <thead>
                    <tr>
                        <th class="sign w40" axis="col0">
                            <div class="tc">选择</div>
                        </th>
                        <th abbr="article_show" axis="col5" class="w40">
                            <div class="tc">ID</div>
                        </th>
                        <th abbr="ac_id" axis="col4">
                            <div style="text-align: left; padding-left: 10px;" class="">问题标题</div>
                        </th>
                        <th abbr="article_title" axis="col3" class="w150">
                            <div class="tc">提问时间</div>
                        </th>
                        <th abbr="article_time" axis="col6" class="w50">
                            <div class="tc">推荐</div>
                        </th>
                        <th abbr="article_time" axis="col6" class="w60">
                            <div class="tc">已审核</div>
                        </th>
                        <th abbr="article_time" axis="col6" class="w100">
                            <div class="tc">所属栏目</div>
                        </th>
                        <th axis="col1" class="w40">
                            <div class="tc">回答数</div>
                        </th>
                        <th abbr="article_show" axis="col5" class="w80">
                            <div class="tc">问题状态</div>
                        </th>
                        <th abbr="nickname" axis="col6" class="w80">
                            <div class="tc">提问者</div>
                        </th>
                        <th abbr="article_show" axis="col5" class="w60">
                            <div class="tc">操作</div>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="bDiv" style="height: auto;">
            <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                <table style="width: 100%">
                    <tbody>
                    {empty name="list"}
                        <tr>
                            <td class="no-data" align="center" axis="col0" colspan="50">
                                <i class="fa fa-exclamation-circle"></i>没有符合条件的记录
                            </td>
                        </tr>
                    {else/}
                        {volist name="list" id="vo"}
                        <tr>
                            <td class="sign">
                                <div class="w40 tc"><input type="checkbox" name="ask_ids[]" value="{$vo.ask_id}"></div>
                            </td>
                            <td class="sort">
                                <div class="w40 tc">
                                    {$vo.ask_id}
                                </div>
                            </td>
                            <td style="width: 100%">
                                <div class="tl" style="padding-left: 10px;">
                                    <a href="{$vo.HomeUrl}" target="_blank">
                                        {$vo.ask_title}
                                    </a>
                                </div>
                            </td>
                            <td class="">
                                <div class="w150 tc">
                                    {$vo.add_time|MyDate='Y-m-d H:i:s',###}
                                </div>
                            </td>
                            <td class="">
                                <div class="w50 tc">
                                    {eq name="$vo['is_recom']" value='1'}
                                        <span class="yes" onclick="changeTableVal('weapp_ask','ask_id','{$vo.ask_id}','is_recom',this);">
                                            <i class="fa fa-check-circle"></i>是
                                        </span>
                                    {else /}
                                        <span class="no" onclick="changeTableVal('weapp_ask','ask_id','{$vo.ask_id}','is_recom',this);">
                                            <i class="fa fa-ban"></i>否
                                        </span>
                                    {/eq}
                                </div>
                            </td>
                            <td class="">
                                <div class="w60 tc">
                                    {eq name="$vo['is_review']" value='1'}
                                        <span class="yes" onclick="changeTableVal('weapp_ask','ask_id','{$vo.ask_id}','is_review',this);">
                                            <i class="fa fa-check-circle"></i>是
                                        </span>
                                    {else /}
                                        <span class="no" onclick="changeTableVal('weapp_ask','ask_id','{$vo.ask_id}','is_review',this);">
                                            <i class="fa fa-ban"></i>否
                                        </span>
                                    {/eq}
                                </div>
                            </td>
                            <td class="">
                                <div class="w100 tc">
                                    {$vo.type_name}
                                    <br/>
                                    {$vo.sub_type_name}
                                </div>
                            </td>
                            <td>
                                <div class="w40 tc">
                                    {$vo.replies}
                                </div>
                            </td>
                            <td class="sort">
                                <div class="w80 tc">
                                    {$vo.status}
                                </div>
                            </td>
                            <td class="">
                                <div class="w80 tc">
                                    {$vo.nickname|default='———'}
                                </div>
                            </td>
                            <td class="sort">
                                <div class="w60 tc">
                                    <a href="javascript:void(0);" data-url="{:weapp_url('Ask/Ask/ask_del')}" onclick="FindDelData(this, '{$vo.ask_id}');" class="btn blue">
                                        <i class="fa fa-pencil-square-o"></i>删除
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {/volist}
                    {/empty}
                    </tbody>
                </table>
            </div>
            <div class="iDiv" style="display: none;"></div>
        </div>
        <div class="tDiv">
            <div class="tDiv2">
                <div class="fbutton checkboxall">
                    <input type="checkbox" onclick="javascript:$('input[name*=ask_ids]').prop('checked',this.checked);">
                </div>
                <div class="fbutton">
                    <a onclick="BatchDelData(this, 'ask_ids');" data-url="{:weapp_url('Ask/Ask/ask_del')}">
                        <div class="add" title="批量删除">
                            <span><i class="fa fa-close"></i>批量删除</span>
                        </div>
                    </a>
                </div>
                <div class="fbutton">
                    <a onclick="BatchReview(this, 'ask_ids');" data-url="{:weapp_url('Ask/Ask/ask_review')}">
                        <div class="add" title="批量审核">
                            批量审核</span>
                        </div>
                    </a>
                </div>
                <div class="fbutton">
                    <a onclick="BatchRecom(this, 'ask_ids');" data-url="{:weapp_url('Ask/Ask/ask_recom')}">
                        <div class="add" title="批量推荐">
                            批量推荐</span>
                        </div>
                    </a>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
        <!--分页位置-->
        {$pageStr}
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        // 表格行点击选中切换
        $('#flexigrid > table>tbody >tr').click(function(){
            $(this).toggleClass('trSelected');
        });

        // 点击刷新数据
        $('.fa-refresh').click(function(){
            location.href = location.href;
        });
    });
</script>
{include file="footer.htm" /}
