<div class="fixed-bar">
    <div class="item-title">
        <a class="back_xin" href="{if condition="'Ask' == $Request.param.sc && 'index' == $Request.param.sa"}{:url("Weapp/index")}{else /}{:weapp_url("Ask/Ask/index")}{/if}" title="返回"><i class="iconfont e-fanhui"></i></a>
        <div class="subject">
            <h3>{$weappInfo['name']}</h3>
            <h5></h5>
        </div>
        <ul class="tab-base nc-row">
             <li>
            {if condition="in_array($Request.param.sa, ['index'])"}
                <a href="javascript:void(0);" class="tab current"><span>栏目列表</span></a>
            {else/}
                <a href="{:weapp_url("Ask/Ask/index")}" class="tab"><span>栏目列表</span></a>
            {/if}
            </li>

            <li>
            {eq name="$Request.param.sa" value="ask_list"}
                <a href="javascript:void(0);" class="tab current"><span>问题列表</span></a>
            {else /}
                <a href="{:weapp_url("Ask/Ask/ask_list")}" class="tab"><span>问题列表</span></a>
            {/eq}
            </li>

            <li>
            {eq name="$Request.param.sa" value="answer"}
                <a href="javascript:void(0);" class="tab current"><span>答案列表</span></a>
            {else /}
                <a href="{:weapp_url("Ask/Ask/answer")}" class="tab"><span>答案列表</span></a>
            {/eq}
            </li>
            <li>
            {if condition="in_array($Request.param.sa, ['conf'])"}
                <a href="javascript:void(0);" class="tab current"><span>插件配置</span></a>
            {else/}
                <a href="{:weapp_url("Ask/Ask/conf")}" class="tab"><span>插件配置</span></a>
            {/if}
            </li>
            <li>
                <a href="javascript:void(0);" onclick="click_to_eyou_1575506523('https://www.keqq.cn/plus/view.php?aid=10732', '问答插件使用指南');" class="tab"><span>使用指南</span></a>
            </li>
        </ul>
    </div>
</div>