{include file="header.htm" /}

<body class="bodystyle" style=" padding:0; overflow: hidden;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <form class="form-horizontal" id="editpostForm">
        <div class="ncap-form-default">

            <dl class="row">
                <dt class="tit">
                    <label for="is_open">打开限制</label>
                </dt>
                <dd class="opt">
                    <div class="onoff">
                        <label for="is_open1" class="cb-enable {if condition='$data.rate.is_open eq 1'}selected{/if}">是</label>
                        <label for="is_open0" class="cb-disable {if condition='$data.rate.is_open eq 0'}selected{/if}">否</label>
                        <input id="is_open1" name="rate[is_open]" value="1" type="radio" {if condition="$data.rate.is_open eq 1"} checked="checked"{/if}>
                        <input id="is_open0" name="rate[is_open]" value="0" type="radio" {if condition="$data.rate.is_open eq 0"} checked="checked"{/if}>
                    </div>
                    <p class="notic">限制会员多久才可以提交一次提问|回答</p>
                </dd>
            </dl>

            <dl class="row">
                <dt class="tit">
                    <label for="duration">限制时长</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="rate[duration]" id="duration" value="{$data['rate']['duration']|default='0'}" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" onpaste="this.value=this.value.replace(/[^0-9]/g,'');" class="input-txt">秒
                    <p class="notic">限制会员每隔若干时长（单位为秒)才能提问和回答一次，限制被恶意刷数据</p>
                </dd>
            </dl>

            <div class="bot">
                <a href="JavaScript:void(0);" onclick="checkForm();" class="ncap-btn-big ncap-btn-green">确认提交</a>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    var parentObj = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引

    // 判断输入框是否为空
    function checkForm() {
        layer_loading('正在处理');
        $.ajax({
            url : "{:weapp_url('Ask/Ask/rate_edit', ['_ajax'=>1])}",
            data: $('#editpostForm').serialize(),
            type: 'POST',
            success:function(res) {
                layer.closeAll();
                if (1 == res.code) {
                    parent.layer.msg(res.msg, {shade: 0.3, time: 1000}, function(){
                        parent.window.location.reload();
                        parent.layer.close(parentObj);
                    });
                } else {
                    showErrorMsg(res.msg);
                }
            },
            error: function(e) {
                layer.closeAll();
                showErrorMsg(ey_unknown_error);
            }
        });
    }
</script>

{include file="footer.htm" /}