{include file="header.htm" /}

<body class="bodystyle" style=" padding:0; overflow: hidden;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <form class="form-horizontal" id="editpostForm">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit" style="padding-left: 10px;">
                    <label>悬赏模式</label>
                </dt>
                <dd class="opt">
                    <label>
                    <input type="radio" name="reward_switch" value="1" {if condition="!empty($data.reward_switch) && 1 == $data.reward_switch"}checked="checked"{/if}>开启&nbsp;
                    </label>
                    <label>
                    <input type="radio" name="reward_switch" value="0" {if condition="empty($data.reward_switch)"}checked="checked"{/if}>关闭&nbsp;
                    </label>
                </dd>
            </dl>
            <dl class="row {if condition='empty($data.reward_switch)'}none{/if}" id="reward_type_dl">
                <dt class="tit" style="padding-left: 10px;">
                    <label>悬赏方式</label>
                </dt>
                <dd class="opt">
                    <label>
                        <input type="radio" name="reward_type" value="users_money" {if condition="!empty($data.reward_type) && 'users_money' == $data.reward_type"}checked="checked"{/if}>余额&nbsp;
                    </label>
                    <label>
                        <input type="radio" name="reward_type" value="scores" {if condition="empty($data.reward_switch) || 'scores' == $data.reward_type"}checked="checked"{/if}>积分&nbsp;
                    </label>
                </dd>
            </dl>

            <div class="bot">
                <a href="JavaScript:void(0);" onclick="checkForm();" class="ncap-btn-big ncap-btn-green">确认提交</a>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(function(){
        $('input[name=reward_switch]').click(function () {
            var val= $(this).val();
            if (1 == val) {
                $('#reward_type_dl').show();
            }else {
                $('#reward_type_dl').hide();
            }
        });
    });

    var parentObj = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引

    // 判断输入框是否为空
    function checkForm() {
        layer_loading('正在处理');
        $.ajax({
            url : "{:weapp_url('Ask/Ask/reward_edit', ['_ajax'=>1])}",
            data: $('#editpostForm').serialize(),
            type: 'POST',
            success:function(res) {
                layer.closeAll();
                if (1 == res.code) {
                    parent.layer.msg(res.msg, {shade: 0.3, time: 1000}, function(){
                        parent.window.location.reload();
                        parent.layer.close(parentObj);
                    });
                } else {
                    showErrorMsg(res.msg);
                }
            },
            error: function(e) {
                layer.closeAll();
                showErrorMsg(ey_unknown_error);
            }
        });
    }
</script>

{include file="footer.htm" /}