{include file="header.htm" /}

<body class="bodystyle" style=" padding:0; overflow: hidden;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <form class="form-horizontal" id="editpostForm">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit" style="padding-left: 10px;">
                    <label>过滤规则</label>
                </dt>
                <dd class="opt">
                    <label>
                        <input type="radio" name="sensitive[sensitive_switch]" value="1" {if condition="!empty($data.sensitive.sensitive_switch) && 1 == $data.sensitive.sensitive_switch"}checked="checked"{/if}>替换敏感词为 ***&nbsp;
                    </label>
                    <label>
                        <input type="radio" name="sensitive[sensitive_switch]" value="2" {if condition="!empty($data.sensitive.sensitive_switch) && 2 == $data.sensitive.sensitive_switch"}checked="checked"{/if}>进入审核&nbsp;
                    </label>
                    <label>
                        <input type="radio" name="sensitive[sensitive_switch]" value="3" {if condition="!empty($data.sensitive.sensitive_switch) && 3 == $data.sensitive.sensitive_switch"}checked="checked"{/if}>禁止发帖&nbsp;
                    </label>
                    <label>
                        <input type="radio" name="sensitive[sensitive_switch]" value="4" {if condition="!empty($data.sensitive.sensitive_switch) && 4 == $data.sensitive.sensitive_switch"}checked="checked"{/if}>自动拉黑用户&nbsp;
                    </label>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit" style="padding-left: 10px;">
                    <label>敏感词</label>
                </dt>
                <dd class="opt">
                    <textarea rows="5" cols="60" name="sensitive[sensitive_data]" id="seo_description" style="height: 60px;">{$data.sensitive.sensitive_data|default=''}</textarea>
                    <p class="notic">多个过滤词汇中间用“,”隔开，提问、回答内容包括这些内容时将被过滤</p>
                </dd>
            </dl>

            <div class="bot">
                <a href="JavaScript:void(0);" onclick="checkForm();" class="ncap-btn-big ncap-btn-green">确认提交</a>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(function(){

    });

    var parentObj = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引

    // 判断输入框是否为空
    function checkForm() {
        layer_loading('正在处理');
        $.ajax({
            url : "{:weapp_url('Ask/Ask/sensitive_edit', ['_ajax'=>1])}",
            data: $('#editpostForm').serialize(),
            type: 'POST',
            success:function(res) {
                layer.closeAll();
                if (1 == res.code) {
                    parent.layer.msg(res.msg, {shade: 0.3, time: 1000}, function(){
                        parent.window.location.reload();
                        parent.layer.close(parentObj);
                    });
                } else {
                    showErrorMsg(res.msg);
                }
            },
            error: function(e) {
                layer.closeAll();
                showErrorMsg(ey_unknown_error);
            }
        });
    }
</script>

{include file="footer.htm" /}