<!-- 此处不支持JS语法，相关JS可以写在外面模板 -->
<div class="topRight" id="UsersInfo">
  <div class="sign-box" id="_userlogin">
    <div id="mainmenu" onmouseover="$('#mainmenu2').show();" onmouseout="$('#mainmenu2').hide();"> <a href="{eyou:Diyurl link='user/Users/centre' /}" class="link"><img src="{$users.head_pic}" width="40" height="40" class="hy-tx UsersImg"></a> 
      <!-- 我是隐藏显示 -->
      <div id="mainmenu2"> <i class="arrow"></i>
        <div class="nav-login-bd">
          <div class="nav-login-user"> 
            <!-- 用户头像 -->
            <div class="img"> <a href="{eyou:Diyurl link='user/Users/centre' /}" class="homeLink"> <img src="{$users.head_pic}" class="UsersImg"> </a> </div>
            <!-- 用户头像 End --> 
            <!-- 用户帐号 -->
            <div class="title-accProt">
              <div class="title-accProt-span"><a href="{eyou:Diyurl link='user/Users/centre' /}" class="NickName">{$users.nickname}</a></div>
              {gt name='$users.level' value='1'} 
              <!-- 显示会员皇冠 -->
              <div class="yey-vip-ico-1"></div>
              {else /} 
              <!-- 显示灰色会员皇冠 -->
              <div class="yey-vip-ico-0"></div>
              {/gt} </div>
            <!-- 用户帐号 End --> 
          </div>
          <!-- 用户权限 --> 
          
          {gt name='$users.level' value='1'} 
          <!-- 已开通会员显示 -->
          <div class="micro-card-vip" style="text-align: center;"> 您已开通<span>{$users.level_name}</span>，可免费观看视频 </div>
          {else /} 
          <!-- 未开通会员显示 -->
          <div class="micro-card-vip" style="text-align: center;"> <a href="{eyou:url link='user/Level/level_centre' /}">开通会员，可免费观看更多视频</a> </div>
          {/gt} 
          
          <!-- 用户权限 End --> 
          <!-- 用户导航 -->
          <div class="nav-login-bottom">
            <ul class="userFunList">
              <li> <a href="{eyou:url link='user/Users/media_index' /}"><i class="userFunImg img-mytw"></i>
                <p class="userFunTxt">已购课程</p>
                </a> </li>
              <li> <a href="{:url('user/Pay/pay_consumer_details')}"><i class="userFunImg img-myhy"></i>
                <p class="userFunTxt">我的会员</p>
                </a> </li>
              <li> <a href="{eyou:Diyurl link='user/Users/centre' /}"><i class="userFunImg img-grzx"></i>
                <p class="userFunTxt">个人中心</p>
                </a> </li>
            </ul>
          </div>
          <!-- 用户导航 End --> 
          <!-- 退出帐号 -->
          <div class="yey-huiyuan" style="overflow:hidden;padding:0 38px;"> <a class="nav-login-profile-Link"
                            href="{:url('user/Users/logout')}" rel="nofollow">退出</a> </div>
          <!-- 退出帐号 End --> 
        </div>
      </div>
      <!-- 我是隐藏显示 End --> 
    </div>
  </div>
</div>
