<nav class="navbar navbar-default ey-nav001 navbar-fixed-top" role="navigation">
    <div class="ey-head">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-6 logo">
                    <ul class="list-none">
                        <li><a href="{eyou:global name='web_cmsurl' /}" class="ey-logo"><img src="{eyou:global name='web_logo'/}" style="max-height: 60px;" /></a></li>
                        <li>问答中心</li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-6 user-info">
                    <ol class="breadcrumb pull-right">
                        {eyou:eq name="$users['users_id']" value='0'}
                        <li><a href="{eyou:url link='user/Users/login' /}" title="登录">登录</a></li>
                        <li><a href="{eyou:url link='user/Users/reg' /}" title="注册">注册</a></li>
                        {eyou:else/}
                        <li><a href="{eyou:url link='user/Users/centre' /}">{$users.nickname}</a></li>
                        <li><a href="{eyou:url link='user/Users/logout' /}" title="退出登录">退出登录</a></li>
                        {/eyou:eq}
                    </ol>
                    <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>