@charset "utf-8";

/*web-icons.min.css*/
@font-face {
    font-family: 'Web Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/web-icons.eot);
    src: url(../fonts/web-icons.eot) format('embedded-opentype'), url(../fonts/web-icons.woff2) format('woff2'), url(../fonts/web-icons.woff) format('woff'), url(../fonts/web-icons.ttf) format('truetype'), url(../fonts/web-icons.svg) format('svg')
}

[class*=" wb-"],
[class^=wb-] {
    position: relative;
    display: inline-block;
    font-family: 'Web Icons';
    font-style: normal;
    font-weight: 400;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    text-rendering: auto;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}


.wb-check-circle:before {
    content: "\f191";
}

/*font-awesome.min.css*/
/*!
 *  Font Awesome 4.2.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
[class*=" fa-"],
[class^=fa-] {
    position: relative;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    text-rendering: auto;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

@font-face {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/fontawesome-webfont.eot);
    src: url(../fonts/fontawesome-webfont.eot) format('embedded-opentype'), url(../fonts/fontawesome-webfont.woff2) format('woff2'), url(../fonts/fontawesome-webfont.woff) format('woff'), url(../fonts/fontawesome-webfont.ttf) format('truetype'), url(../fonts/fontawesome-webfont.svg) format('svg')
}

#ey_comment .fa-database:before {
    content: "\f1c0"
}

#ey_comment .fa-ban:before {
    content: "\f05e";
}

#ey_comment .fa-question:before {
    content: "\f128"
}

#ey_comment .fa-download:before {
    content: "\f019"
}

#ey_comment .fa-angle-down:before {
    content: "\f107"
}

#ey_comment .fa-comments-o:before {
    content: "\f0e6";
}

/*7-stroke.min.css*/
@font-face {
    font-family: Pe-icon-7-stroke;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/pe-icon-7-stroke.eot);
    src: url(../fonts/pe-icon-7-stroke.eot) format('embedded-opentype'), url(../fonts/pe-icon-7-stroke.woff) format('woff'), url(../fonts/pe-icon-7-stroke.ttf) format('truetype'), url(../fonts/pe-icon-7-stroke.svg) format('svg')
}

[class*=" pe-"],
[class^=pe-] {
    position: relative;
    display: inline-block;
    font-family: Pe-icon-7-stroke;
    font-style: normal;
    font-weight: 400;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    text-rendering: auto;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}



#ey_comment .pe-medal:before {
    content: "\e6a0";
}

#ey_comment .pe-ribbon:before {
    content: "\e61a";
}

#ey_comment .pe-cart:before {
    content: "\e66e";
}

#ey_comment .pe-server:before {
    content: "\e617"
}

#ey_comment .pe-help1:before {
    content: "\e64a"
}

#ey_comment .pe-info:before {
    content: "\e647"
}

@font-face {
    font-family: "iconfont";
    /* Project id 3118868 */
    src: url('../fonts/iconfont.woff2?t=1641353627004') format('woff2'),
        url('../fonts/iconfont.woff?t=1641353627004') format('woff'),
        url('../fonts/iconfont.ttf?t=1641353627004') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-dianzan:before {
    content: "\ec7f";
    font-family: unset;
}

ol,
ul,
li {
    list-style: none;
}

ul,
li {
    padding: 0px;
    list-style: none;
}

#ey_comment .pre-scrollable {
    max-height: 340px;
    overflow-y: scroll
}

#ey_comment .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:768px) {
    #ey_comment .container {
        width: 750px
    }
}

@media (min-width:992px) {
    #ey_comment .container {
        width: 970px
    }
}

@media (min-width:1200px) {
    #ey_comment .container {
        width: 1170px
    }
}

#ey_comment .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.ey_comment_row {
    margin-right: 0;
    margin-left: 0;
}

#ey_comment .col-lg-1,
#ey_comment .col-lg-10,
#ey_comment .col-lg-11,
#ey_comment .col-lg-12,
#ey_comment .col-lg-2,
#ey_comment .col-lg-3,
#ey_comment .col-lg-4,
#ey_comment .col-lg-5,
#ey_comment .col-lg-6,
#ey_comment .col-lg-7,
#ey_comment .col-lg-8,
#ey_comment .col-lg-9,
#ey_comment .col-md-1,
#ey_comment .col-md-10,
#ey_comment .col-md-11,
#ey_comment .col-md-12,
#ey_comment .col-md-2,
#ey_comment .col-md-3,
#ey_comment .col-md-4,
#ey_comment .col-md-5,
#ey_comment .col-md-6,
#ey_comment .col-md-7,
#ey_comment .col-md-8,
#ey_comment .col-md-9,
#ey_comment .col-sm-1,
#ey_comment .col-sm-10,
#ey_comment .col-sm-11,
#ey_comment .col-sm-12,
#ey_comment .col-sm-2,
#ey_comment .col-sm-3,
#ey_comment .col-sm-4,
#ey_comment .col-sm-5,
#ey_comment .col-sm-6,
#ey_comment .col-sm-7,
#ey_comment .col-sm-8,
#ey_comment .col-sm-9,
#ey_comment .col-xs-1,
#ey_comment .col-xs-10,
#ey_comment .col-xs-11,
#ey_comment .col-xs-12,
#ey_comment .col-xs-2,
#ey_comment .col-xs-3,
#ey_comment .col-xs-4,
#ey_comment .col-xs-5,
#ey_comment .col-xs-6,
#ey_comment .col-xs-7,
#ey_comment .col-xs-8,
#ey_comment .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

#ey_comment .col-xs-1,
#ey_comment .col-xs-10,
#ey_comment .col-xs-11,
#ey_comment .col-xs-12,
#ey_comment .col-xs-2,
#ey_comment .col-xs-3,
#ey_comment .col-xs-4,
#ey_comment .col-xs-5,
#ey_comment .col-xs-6,
#ey_comment .col-xs-7,
#ey_comment .col-xs-8,
#ey_comment .col-xs-9 {
    float: left
}

#ey_comment .col-xs-12 {
    width: 100%
}

#ey_comment .col-xs-11 {
    width: 91.66666667%
}

#ey_comment .col-xs-10 {
    width: 83.33333333%
}

#ey_comment .col-xs-9 {
    width: 75%
}

#ey_comment .col-xs-8 {
    width: 66.66666667%
}

#ey_comment .col-xs-7 {
    width: 58.33333333%
}

#ey_comment .col-xs-6 {
    width: 50%
}

#ey_comment .col-xs-5 {
    width: 41.66666667%
}

#ey_comment .col-xs-4 {
    width: 33.33333333%
}

#ey_comment .col-xs-3 {
    width: 25%
}

#ey_comment .col-xs-2 {
    width: 16.66666667%
}

#ey_comment .col-xs-1 {
    width: 8.33333333%
}

#ey_comment .col-xs-pull-12 {
    right: 100%
}

#ey_comment .col-xs-pull-11 {
    right: 91.66666667%
}

#ey_comment .col-xs-pull-10 {
    right: 83.33333333%
}

#ey_comment .col-xs-pull-9 {
    right: 75%
}

#ey_comment .col-xs-pull-8 {
    right: 66.66666667%
}

#ey_comment .col-xs-pull-7 {
    right: 58.33333333%
}

#ey_comment .col-xs-pull-6 {
    right: 50%
}

#ey_comment .col-xs-pull-5 {
    right: 41.66666667%
}

#ey_comment .col-xs-pull-4 {
    right: 33.33333333%
}

#ey_comment .col-xs-pull-3 {
    right: 25%
}

#ey_comment .col-xs-pull-2 {
    right: 16.66666667%
}

#ey_comment .col-xs-pull-1 {
    right: 8.33333333%
}

#ey_comment .col-xs-pull-0 {
    right: auto
}

#ey_comment .col-xs-push-12 {
    left: 100%
}

#ey_comment .col-xs-push-11 {
    left: 91.66666667%
}

#ey_comment .col-xs-push-10 {
    left: 83.33333333%
}

#ey_comment .col-xs-push-9 {
    left: 75%
}

#ey_comment .col-xs-push-8 {
    left: 66.66666667%
}

#ey_comment .col-xs-push-7 {
    left: 58.33333333%
}

#ey_comment .col-xs-push-6 {
    left: 50%
}

#ey_comment .col-xs-push-5 {
    left: 41.66666667%
}

#ey_comment .col-xs-push-4 {
    left: 33.33333333%
}

#ey_comment .col-xs-push-3 {
    left: 25%
}

#ey_comment .col-xs-push-2 {
    left: 16.66666667%
}

#ey_comment .col-xs-push-1 {
    left: 8.33333333%
}

#ey_comment .col-xs-push-0 {
    left: auto
}

#ey_comment .col-xs-offset-12 {
    margin-left: 100%
}

#ey_comment .col-xs-offset-11 {
    margin-left: 91.66666667%
}

#ey_comment .col-xs-offset-10 {
    margin-left: 83.33333333%
}

#ey_comment .col-xs-offset-9 {
    margin-left: 75%
}

#ey_comment .col-xs-offset-8 {
    margin-left: 66.66666667%
}

#ey_comment .col-xs-offset-7 {
    margin-left: 58.33333333%
}

#ey_comment .col-xs-offset-6 {
    margin-left: 50%
}

#ey_comment .col-xs-offset-5 {
    margin-left: 41.66666667%
}

#ey_comment .col-xs-offset-4 {
    margin-left: 33.33333333%
}

#ey_comment .col-xs-offset-3 {
    margin-left: 25%
}

#ey_comment .col-xs-offset-2 {
    margin-left: 16.66666667%
}

#ey_comment .col-xs-offset-1 {
    margin-left: 8.33333333%
}

#ey_comment .col-xs-offset-0 {
    margin-left: 0
}

@media (min-width:768px) {

    #ey_comment .col-sm-1,
    #ey_comment .col-sm-10,
    #ey_comment .col-sm-11,
    #ey_comment .col-sm-12,
    #ey_comment .col-sm-2,
    #ey_comment .col-sm-3,
    #ey_comment .col-sm-4,
    #ey_comment .col-sm-5,
    #ey_comment .col-sm-6,
    #ey_comment .col-sm-7,
    #ey_comment .col-sm-8,
    #ey_comment .col-sm-9 {
        float: left
    }

    #ey_comment .col-sm-12 {
        width: 100%
    }

    #ey_comment .col-sm-11 {
        width: 91.66666667%
    }

    #ey_comment .col-sm-10 {
        width: 83.33333333%
    }

    #ey_comment .col-sm-9 {
        width: 75%
    }

    #ey_comment .col-sm-8 {
        width: 66.66666667%
    }

    #ey_comment .col-sm-7 {
        width: 58.33333333%
    }

    #ey_comment .col-sm-6 {
        width: 50%
    }

    #ey_comment .col-sm-5 {
        width: 41.66666667%
    }

    #ey_comment .col-sm-4 {
        width: 33.33333333%
    }

    #ey_comment .col-sm-3 {
        width: 25%
    }

    #ey_comment .col-sm-2 {
        width: 16.66666667%
    }

    #ey_comment .col-sm-1 {
        width: 8.33333333%
    }

    #ey_comment .col-sm-pull-12 {
        right: 100%
    }

    #ey_comment .col-sm-pull-11 {
        right: 91.66666667%
    }

    #ey_comment .col-sm-pull-10 {
        right: 83.33333333%
    }

    #ey_comment .col-sm-pull-9 {
        right: 75%
    }

    #ey_comment .col-sm-pull-8 {
        right: 66.66666667%
    }

    #ey_comment .col-sm-pull-7 {
        right: 58.33333333%
    }

    #ey_comment .col-sm-pull-6 {
        right: 50%
    }

    #ey_comment .col-sm-pull-5 {
        right: 41.66666667%
    }

    #ey_comment .col-sm-pull-4 {
        right: 33.33333333%
    }

    #ey_comment .col-sm-pull-3 {
        right: 25%
    }

    #ey_comment .col-sm-pull-2 {
        right: 16.66666667%
    }

    #ey_comment .col-sm-pull-1 {
        right: 8.33333333%
    }

    #ey_comment .col-sm-pull-0 {
        right: auto
    }

    #ey_comment .col-sm-push-12 {
        left: 100%
    }

    #ey_comment .col-sm-push-11 {
        left: 91.66666667%
    }

    #ey_comment .col-sm-push-10 {
        left: 83.33333333%
    }

    #ey_comment .col-sm-push-9 {
        left: 75%
    }

    #ey_comment .col-sm-push-8 {
        left: 66.66666667%
    }

    #ey_comment .col-sm-push-7 {
        left: 58.33333333%
    }

    #ey_comment .col-sm-push-6 {
        left: 50%
    }

    #ey_comment .col-sm-push-5 {
        left: 41.66666667%
    }

    #ey_comment .col-sm-push-4 {
        left: 33.33333333%
    }

    #ey_comment .col-sm-push-3 {
        left: 25%
    }

    #ey_comment .col-sm-push-2 {
        left: 16.66666667%
    }

    #ey_comment .col-sm-push-1 {
        left: 8.33333333%
    }

    #ey_comment .col-sm-push-0 {
        left: auto
    }

    #ey_comment .col-sm-offset-12 {
        margin-left: 100%
    }

    #ey_comment .col-sm-offset-11 {
        margin-left: 91.66666667%
    }

    #ey_comment .col-sm-offset-10 {
        margin-left: 83.33333333%
    }

    #ey_comment .col-sm-offset-9 {
        margin-left: 75%
    }

    #ey_comment .col-sm-offset-8 {
        margin-left: 66.66666667%
    }

    #ey_comment .col-sm-offset-7 {
        margin-left: 58.33333333%
    }

    #ey_comment .col-sm-offset-6 {
        margin-left: 50%
    }

    #ey_comment .col-sm-offset-5 {
        margin-left: 41.66666667%
    }

    #ey_comment .col-sm-offset-4 {
        margin-left: 33.33333333%
    }

    #ey_comment .col-sm-offset-3 {
        margin-left: 25%
    }

    #ey_comment .col-sm-offset-2 {
        margin-left: 16.66666667%
    }

    #ey_comment .col-sm-offset-1 {
        margin-left: 8.33333333%
    }

    #ey_comment .col-sm-offset-0 {
        margin-left: 0
    }
}

@media (min-width:992px) {

    #ey_comment .col-md-1,
    #ey_comment .col-md-10,
    #ey_comment .col-md-11,
    #ey_comment .col-md-12,
    #ey_comment .col-md-2,
    #ey_comment .col-md-3,
    #ey_comment .col-md-4,
    #ey_comment .col-md-5,
    #ey_comment .col-md-6,
    #ey_comment .col-md-7,
    #ey_comment .col-md-8,
    #ey_comment .col-md-9 {
        float: left
    }

    #ey_comment .col-md-12 {
        width: 100%
    }

    #ey_comment .col-md-11 {
        width: 91.66666667%
    }

    #ey_comment .col-md-10 {
        width: 83.33333333%
    }

    #ey_comment .col-md-9 {
        width: 75%
    }

    #ey_comment .col-md-8 {
        width: 66.66666667%
    }

    #ey_comment .col-md-7 {
        width: 58.33333333%
    }

    #ey_comment .col-md-6 {
        width: 50%
    }

    #ey_comment .col-md-5 {
        width: 41.66666667%
    }

    #ey_comment .col-md-4 {
        width: 33.33333333%
    }

    #ey_comment .col-md-3 {
        width: 25%
    }

    #ey_comment .col-md-2 {
        width: 16.66666667%
    }

    #ey_comment .col-md-1 {
        width: 8.33333333%
    }

    #ey_comment .col-md-pull-12 {
        right: 100%
    }

    #ey_comment .col-md-pull-11 {
        right: 91.66666667%
    }

    #ey_comment .col-md-pull-10 {
        right: 83.33333333%
    }

    #ey_comment .col-md-pull-9 {
        right: 75%
    }

    #ey_comment .col-md-pull-8 {
        right: 66.66666667%
    }

    #ey_comment .col-md-pull-7 {
        right: 58.33333333%
    }

    #ey_comment .col-md-pull-6 {
        right: 50%
    }

    #ey_comment .col-md-pull-5 {
        right: 41.66666667%
    }

    #ey_comment .col-md-pull-4 {
        right: 33.33333333%
    }

    #ey_comment .col-md-pull-3 {
        right: 25%
    }

    #ey_comment .col-md-pull-2 {
        right: 16.66666667%
    }

    #ey_comment .col-md-pull-1 {
        right: 8.33333333%
    }

    #ey_comment .col-md-pull-0 {
        right: auto
    }

    #ey_comment .col-md-push-12 {
        left: 100%
    }

    #ey_comment .col-md-push-11 {
        left: 91.66666667%
    }

    #ey_comment .col-md-push-10 {
        left: 83.33333333%
    }

    #ey_comment .col-md-push-9 {
        left: 75%
    }

    #ey_comment .col-md-push-8 {
        left: 66.66666667%
    }

    #ey_comment .col-md-push-7 {
        left: 58.33333333%
    }

    #ey_comment .col-md-push-6 {
        left: 50%
    }

    #ey_comment .col-md-push-5 {
        left: 41.66666667%
    }

    #ey_comment .col-md-push-4 {
        left: 33.33333333%
    }

    #ey_comment .col-md-push-3 {
        left: 25%
    }

    #ey_comment .col-md-push-2 {
        left: 16.66666667%
    }

    #ey_comment .col-md-push-1 {
        left: 8.33333333%
    }

    #ey_comment .col-md-push-0 {
        left: auto
    }

    #ey_comment .col-md-offset-2 {
        margin-left: 16.66666667%
    }

    #ey_comment .col-md-offset-1 {
        margin-left: 8.33333333%
    }

    #ey_comment .col-md-offset-0 {
        margin-left: 0
    }
}

@media (min-width:1200px) {

    #ey_comment .col-lg-1,
    #ey_comment .col-lg-10,
    #ey_comment .col-lg-11,
    #ey_comment .col-lg-12,
    #ey_comment .col-lg-2,
    #ey_comment .col-lg-3,
    #ey_comment .col-lg-4,
    #ey_comment .col-lg-5,
    #ey_comment .col-lg-6,
    #ey_comment .col-lg-7,
    #ey_comment .col-lg-8,
    #ey_comment .col-lg-9 {
        float: left
    }

}

.btn-group-vertical>.btn-group:after,
.btn-group-vertical>.btn-group:before,
.btn-toolbar:after,
.btn-toolbar:before,
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.dl-horizontal dd:after,
.dl-horizontal dd:before,
.form-horizontal .form-group:after,
.form-horizontal .form-group:before,
.modal-footer:after,
.modal-footer:before,
.modal-header:after,
.modal-header:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.pager:after,
.pager:before,
.panel-body:after,
.panel-body:before,
.ey_comment_row:after,
.ey_comment_row:before {
    display: table;
    content: " "
}

.btn-group-vertical>.btn-group:after,
.btn-toolbar:after,
.clearfix:after,
.container-fluid:after,
.container:after,
.dl-horizontal dd:after,
.form-horizontal .form-group:after,
.modal-footer:after,
.modal-header:after,
.nav:after,
.navbar-collapse:after,
.navbar-header:after,
.navbar:after,
.pager:after,
.panel-body:after,
.ey_comment_row:after {
    clear: both
}


#ey_comment .center-block {
    display: block;
    margin-right: auto;
    margin-left: auto
}

#ey_comment .pull-right {
    float: right !important
}

#ey_comment .pull-left {
    float: left !important
}

#ey_comment .hide {
    display: none !important
}

#ey_comment .show {
    display: block !important
}

#ey_comment .invisible {
    visibility: hidden
}

#ey_comment .text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}

#ey_comment .hidden {
    display: none !important
}

#ey_comment .affix {
    position: fixed
}

@-ms-viewport {
    width: device-width
}

#ey_comment .visible-lg,
#ey_comment .visible-md,
#ey_comment .visible-sm,
#ey_comment .visible-xs {
    display: none !important
}

#ey_comment .visible-lg-block,
#ey_comment .visible-lg-inline,
#ey_comment .visible-lg-inline-block,
#ey_comment .visible-md-block,
#ey_comment .visible-md-inline,
#ey_comment .visible-md-inline-block,
#ey_comment .visible-sm-block,
#ey_comment .visible-sm-inline,
#ey_comment .visible-sm-inline-block,
#ey_comment .visible-xs-block,
#ey_comment .visible-xs-inline,
#ey_comment .visible-xs-inline-block {
    display: none !important
}

@media (max-width:767px) {
    #ey_comment .visible-xs {
        display: block !important
    }

    #ey_comment table.visible-xs {
        display: table !important
    }

    #ey_comment tr.visible-xs {
        display: table-row !important
    }

    #ey_comment td.visible-xs,
    #ey_comment th.visible-xs {
        display: table-cell !important
    }
}

@media (max-width:767px) {
    #ey_comment .visible-xs-block {
        display: block !important
    }
}

@media (max-width:767px) {
    #ey_comment .visible-xs-inline {
        display: inline !important
    }
}

@media (max-width:767px) {
    #ey_comment .visible-xs-inline-block {
        display: inline-block !important
    }
}

@media (min-width:768px) and (max-width:991px) {
    #ey_comment .visible-sm {
        display: block !important
    }

    #ey_comment table.visible-sm {
        display: table !important
    }

    #ey_comment tr.visible-sm {
        display: table-row !important
    }

    #ey_comment td.visible-sm,
    #ey_comment th.visible-sm {
        display: table-cell !important
    }
}

@media (min-width:768px) and (max-width:991px) {
    #ey_comment .visible-sm-block {
        display: block !important
    }
}

@media (min-width:768px) and (max-width:991px) {
    #ey_comment .visible-sm-inline {
        display: inline !important
    }
}

@media (min-width:768px) and (max-width:991px) {
    #ey_comment .visible-sm-inline-block {
        display: inline-block !important
    }
}

@media (min-width:992px) and (max-width:1199px) {
    #ey_comment .visible-md {
        display: block !important
    }

    #ey_comment table.visible-md {
        display: table !important
    }

    #ey_comment tr.visible-md {
        display: table-row !important
    }

    #ey_comment td.visible-md,
    #ey_comment th.visible-md {
        display: table-cell !important
    }
}

@media (min-width:992px) and (max-width:1199px) {
    #ey_comment .visible-md-block {
        display: block !important
    }
}

@media (min-width:992px) and (max-width:1199px) {
    #ey_comment .visible-md-inline {
        display: inline !important
    }
}

@media (min-width:992px) and (max-width:1199px) {
    #ey_comment .visible-md-inline-block {
        display: inline-block !important
    }
}

@media (min-width:1200px) {
    #ey_comment .visible-lg {
        display: block !important
    }

    #ey_comment table.visible-lg {
        display: table !important
    }

    #ey_comment tr.visible-lg {
        display: table-row !important
    }

    #ey_comment td.visible-lg,
    #ey_comment th.visible-lg {
        display: table-cell !important
    }
}

@media (min-width:1200px) {
    #ey_comment .visible-lg-block {
        display: block !important
    }
}

@media (min-width:1200px) {
    #ey_comment .visible-lg-inline {
        display: inline !important
    }
}

@media (min-width:1200px) {
    #ey_comment .visible-lg-inline-block {
        display: inline-block !important
    }
}

@media (max-width:767px) {
    #ey_comment .hidden-xs {
        display: none !important
    }
}

@media (min-width:768px) and (max-width:991px) {
    #ey_comment .hidden-sm {
        display: none !important
    }
}

@media (min-width:992px) and (max-width:1199px) {
    #ey_comment .hidden-md {
        display: none !important
    }
}

@media (min-width:1200px) {
    #ey_comment .hidden-lg {
        display: none !important
    }
}

#ey_comment .visible-print {
    display: none !important
}

@media print {
    #ey_comment .visible-print {
        display: block !important
    }

    #ey_comment table.visible-print {
        display: table !important
    }

    #ey_comment tr.visible-print {
        display: table-row !important
    }

    #ey_comment td.visible-print,
    #ey_comment th.visible-print {
        display: table-cell !important
    }
}

#ey_comment .visible-print-block {
    display: none !important
}

@media print {
    #ey_comment .visible-print-block {
        display: block !important
    }
}

#ey_comment .visible-print-inline {
    display: none !important
}

@media print {
    #ey_comment .visible-print-inline {
        display: inline !important
    }
}

#ey_comment .visible-print-inline-block {
    display: none !important
}

@media print {
    #ey_comment .visible-print-inline-block {
        display: inline-block !important
    }
}

@media print {
    #ey_comment .hidden-print {
        display: none !important
    }
}

/*bootstrap-extend.min.css*/
#ey_comment a.text-action {
    color: #a3afb7
}

#ey_comment a.text-action,
#ey_comment a.text-action:focus,
#ey_comment a.text-action:hover {
    text-decoration: none
}

#ey_comment a.text-action:focus,
#ey_comment a.text-action:hover {
    color: #ccd5db
}

#ey_comment a.text-action .icon+span {
    margin-left: 3px
}

#ey_comment a.text-like {
    color: #a3afb7 !important
}

#ey_comment a.text-like,
#ey_comment a.text-like:focus,
#ey_comment a.text-like:hover {
    text-decoration: none
}

#ey_comment a.text-like.active,
#ey_comment a.text-like:focus,
#ey_comment a.text-like:hover {
    color: #f96868 !important
}

#ey_comment .text-action+#ey_comment .text-action {
    margin-left: 6px
}

#ey_comment .img-bordered {
    padding: 3px;
    border: 1px solid #e4eaec
}

#ey_comment .img-bordered-primary {
    border-color: #ff6f06 !important
}

#ey_comment .img-bordered-purple {
    border-color: #7c51d1 !important
}

#ey_comment .img-bordered-red {
    border-color: #e9595b !important
}

#ey_comment .img-bordered-green {
    border-color: #7dd3ae !important
}

#ey_comment .img-bordered-orange {
    border-color: #ec9940 !important
}

#ey_comment .h1,
#ey_comment .h2,
#ey_comment .h3,
#ey_comment .h4,
#ey_comment .h5,
#ey_comment .h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    text-shadow: rgba(0, 0, 0, .15) 0 0 1px
}

#ey_comment .h1 .icon:first-child,
#ey_comment .h2 .icon:first-child,
#ey_comment .h3 .icon:first-child,
#ey_comment .h4 .icon:first-child,
#ey_comment .h5 .icon:first-child,
#ey_comment .h6 .icon:first-child,
#ey_comment h1 .icon:first-child,
#ey_comment h2 .icon:first-child,
#ey_comment h3 .icon:first-child,
#ey_comment h4 .icon:first-child,
#ey_comment h5 .icon:first-child,
#ey_comment h6 .icon:first-child {
    margin-right: .5em
}

#ey_comment .mark,
mark {
    color: #fff;
    border-radius: 2px
}

#ey_comment .drop-cap {
    float: left;
    padding: 5px;
    margin-right: 5px;
    font-family: Georgia;
    font-size: 60px;
    line-height: 50px;
    color: #263238
}

#ey_comment .drop-cap-reversed {
    color: #fff;
    background-color: #263238
}

#ey_comment .list-icons {
    padding-left: 10px;
    margin-left: 0;
    list-style: none
}

#ey_comment .list-icons>li {
    margin-top: 6px
}

#ey_comment .list-icons>li:first-child {
    margin-top: 0
}

#ey_comment .list-icons>li i {
    float: left;
    width: 1em;
    margin: 0 6px 0 0
}

#ey_comment .text-primary {
    color: #ff6f06
}

#ey_comment a.text-primary:focus,
#ey_comment a.text-primary:hover {
    color: #358fe4
}

#ey_comment .text-success {
    color: #46be8a
}

#ey_comment a.text-success:focus,
#ey_comment a.text-success:hover {
    color: #369b6f
}

#ey_comment .text-info {
    color: #57c7d4
}

#ey_comment a.text-info:focus,
#ey_comment a.text-info:hover {
    color: #33b6c5
}

#ey_comment .text-warning {
    color: #f2a654
}

#ey_comment a.text-warning:focus,
#ey_comment a.text-warning:hover {
    color: #ee8d25
}

#ey_comment .text-danger {
    color: #f96868
}

#ey_comment a.text-danger:focus,
#ey_comment a.text-danger:hover {
    color: #f73737
}

pre code {
    border: none
}

#ey_comment .container {
    max-width: 100%
}

@media (min-width:1600px) {
    #ey_comment .container {
        width: 1310px
    }
}

@media (min-width:1600px) {}

b,
strong {
    font-weight: 500;
}

/* .moveease{
    transition: all 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
} */
#ey_comment .hide-head-wrap {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#ey_comment .hide-head {
    display: flex;
    width: 1000px;
    align-items: center;
    justify-content: space-between;
    opacity: 1;
}

#ey_comment .hide-head .ellipsis-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 610px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

#ey_comment .hide-head .people-btn {
    text-align: center;
}

#ey_comment .hide-head .people-btn button {
    width: 116px;
    height: 40px;
    background: #f2f2f2;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
    color: #ff6f06;
    background-color: #F2F2F2;
    border: none;
}

#ey_comment .hide-head .people-btn button.act {
    background-color: #ff6f06;
    color: white;
}

#ey_comment .aside-left .nav-swiper {
    width: 100%;
    height: 350px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 10px 0px rgba(153, 153, 153, 0.1);
}

#ey_comment .aside-left .nav-swiper .swiper-slide {
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    height: 350px;
}

#ey_comment .aside-left .nav-swiper .swiper-slide .slide-tetx {
    font-size: 18px;
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 30px;
    left: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 431px;
    z-index: 2;
}

#ey_comment .aside-left .nav-swiper .swiper-slide .swiper-mask {
    height: 70px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    position: absolute;
    z-index: 0;
    bottom: 0;
    width: 100%;
}

#ey_comment .aside-left .nav-swiper .banner-swiper-pagination {
    left: 578px;
    bottom: 30px;
    width: fit-content;
}

#ey_comment .aside-left .nav-swiper .banner-swiper-pagination .swiper-pagination-bullet {
    width: 20px;
    height: 4px;
    background: #ffffff;
    opacity: 0.5;
    border-radius: 0;
}

#ey_comment .aside-left .nav-swiper .banner-swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
}

#ey_comment .aside-left .nav-swiper .swiper-button-next,
#ey_comment .aside-left .nav-swiper .swiper-button-prev {
    background-image: none;
    color: white;
    width: 40px;
    height: 50px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 4px 0px 0px 4px;
    text-align: center;
    line-height: 50px;
    right: 0;
    outline: none;
}

#ey_comment .aside-left .nav-swiper .swiper-button-next i,
#ey_comment .aside-left .nav-swiper .swiper-button-prev i {
    font-size: 22px;
    color: #CCC;
}

#ey_comment .aside-left .nav-swiper .swiper-button-prev {
    transform: rotateY(180deg);
    border-radius: 0px 4px 4px 0px;
    left: 0;
}

#ey_comment .aside-left .article-nav {
    background-color: white;
    height: 70px;
    line-height: 70px;
}

#ey_comment .aside-left .article-nav span {
    font-size: 18px;
    color: #333;
    margin-left: 22px;
    position: relative;
    cursor: pointer;
}

#ey_comment .aside-left .article-nav span.act {
    font-weight: bold;
}

#ey_comment .aside-left .article-nav span.act:after {
    position: absolute;
    bottom: -25px;
    left: 0;
    content: '';
    height: 3px;
    width: 100%;
    background-color: #ff6f06;
}

#ey_comment .aside-left .article-nav button {
    width: 100px;
    height: 32px;
    background-color: #F2F2F2;
    font-size: 14px;
    color: #999;
    border-radius: 4px;
    outline: none;
    border: none;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    font-weight: 400;
}

#ey_comment .aside-left .article-nav button:hover {
    background-color: #ff6f06;
    color: white;
}

#ey_comment .aside-left .load-more {
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 16px;
    color: #ff6f06;
    background-color: #F2F2F2;
}

#ey_comment .aside-left .article-list {
    background-color: white;
    border-radius: 4px 4px 0px 0px;
    box-shadow: 0px 3px 10px 0px rgba(153, 153, 153, 0.1);
}

#ey_comment .aside-left .article-list .article-ul .article-list-item {
    padding: 22px;
    border-top: 1px solid #f2f2f2;
    display: flex;
}

#ey_comment .aside-left .article-list .article-ul .article-list-item .sq {
    width: 40px;
    height: 20px;
    background: #FF5500;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    line-height: 21px;
}

#ey_comment .aside-left .article-list .article-ul .article-list-item .sq.sqo {
    background: #FF9900;
}

#ey_comment .aside-left .article-list .article-ul .article-list-item:first-child {
    border-top: 1px solid #e6e6e6;
}

#ey_comment .aside-left .article-list .article-ul .article-list-item .list-avter {
    margin-right: 20px;
    flex-shrink: 0;
    position: relative;
}

#ey_comment .aside-left .article-list .article-ul .article-list-item .list-avter i {
    position: absolute;
    top: 22px;
    right: -5px;
}

#ey_comment .aside-left .article-list .article-ul .article-list-item .list-avter img {
    width: 40px;
    height: 40px;
    border-radius: 100%
}

#ey_comment .aside-left .article-list .article-ul .article-list-item .list-avter+div {
    flex-grow: 1;
}

#ey_comment .jxuan {
    width: 60px;
    height: 20px;
    background: rgba(255, 85, 0, 1);
    border-radius: 4px;
    color: white;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    line-height: 18px;
}

#ey_comment .aside-left .article-list .article-ul .article-list-item .went-head {
    font-size: 16px;
    color: #333;
    line-height: 28px;
}

#ey_comment .aside-left .article-list .article-ul .article-list-item .went-head:hover,
.aside-left .article-list .article-ul .article-list-item .went-head:visited {
    text-decoration: none;
}

#ey_comment .aside-left .article-list .article-ul .article-list-item .went-head .went-head-text:hover {
    color: #ff6f06;
}

#ey_comment .aside-left .article-list .article-ul .article-list-item:hover {
    background-color: #F7F7F7;
}

#ey_comment .aside-left .article-list .article-ul .article-list-item .tx-list {
    margin-top: 16px;
    display: flex;
    align-items: center;
}

#ey_comment .aside-left .article-list .article-ul .article-list-item .tx-list img {
    width: 20px;
    height: 20px;
    border-radius: 100%
}

#ey_comment .aside-left .article-list .article-ul .article-list-item .tx-list a {
    margin-right: 5px;
}

#ey_comment .aside-left .article-list .article-ul .article-list-item .tx-list .list-text {
    font-size: 12px;
    color: #999;
}

#ey_comment .aside-left .article-list .article-ul .article-list-item .tx-list .more-info {
    font-size: 12px;
    color: #999;
}

#ey_comment .aside-left .article-list .hot-zhuanchang {
    padding: 0 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
    background-color: #F7F7F7;
}

#ey_comment .aside-left .article-list .hot-zhuanchang .hot-zhuanchang-head {
    height: 70px;
    line-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#ey_comment .aside-left .article-list .hot-zhuanchang .hot-zhuanchang-head span {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

#ey_comment .aside-left .article-list .hot-zhuanchang .hot-zhuanchang-head a {
    font-size: 14px;
    color: #ff6f06;
}

#ey_comment .aside-left .article-list .hot-zhuanchang .hot-ul {
    display: flex;
}

#ey_comment .aside-left .article-list .hot-zhuanchang .hot-ul li img {
    transition: all 0.25s linear;
    position: relative;
}

#ey_comment .aside-left .article-list .hot-zhuanchang .hot-ul li img:hover {
    box-shadow: 2px 2px 10px 0px rgba(153, 153, 153, 0.1);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}

#ey_comment .aside-left .article-list .hot-zhuanchang .hot-ul li .jiesao {
    font-size: 16px;
    color: #333;
    line-height: 28px;
    margin-right: 13px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 13px;
    max-width: 300px;
}

#ey_comment .aside-left .article-list .hot-zhuanchang .hot-ul li .tiwen {
    font-size: 12px;
    color: #999;
}

#ey_comment .aside-left .zhuanchang-list {
    background-color: white;
}

#ey_comment .aside-left .zhuanchang-list .zhuanchang-ul li {
    border-top: 1px solid #f2f2f2;
    padding: 30px 30px 24px;
}

#ey_comment .aside-left .zhuanchang-list .zhuanchang-ul li:hover {
    background-color: #f7f7f7;
}

#ey_comment .aside-left .zhuanchang-list .zhuanchang-ul li:first-child {
    border-top: 1px solid #e6e6e6;
}

#ey_comment .aside-left .zhuanchang-list .zhuanchang-ul li .zc-text {
    font-size: 16px;
    color: #333;
    line-height: 28px;
    margin-top: 14px;
    margin-bottom: 10px;
}

#ey_comment .aside-left .zhuanchang-list .zhuanchang-ul li .zc-info {
    font-size: 12px;
    color: #999;
}

#ey_comment .aside-left .zhuanchang-list .zhuanchang-ul li .zc-info .zc-flr {
    color: #FF5500;
    float: right;
}

#ey_comment .aside-left .huifu-edit {
    background-color: white;
    margin-top: 20px;
    padding: 30px 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#ey_comment .aside-left .huifu-edit .not-log {
    width: 620px;
    height: 179px;
    background-image: url('../images/answerinput.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    font-size: 14px;
    color: #999;
}

#ey_comment .aside-left .huifu-edit .not-log a {
    color: #ff5500;
    line-height: 179px;
}

#ey_comment .aside-left .huifu-edit .huifu-user {
    display: flex;
    margin-bottom: 14px;
}

#ey_comment .aside-left .huifu-edit .huifu-user .user-nice {
    margin-left: 20px;
}

#ey_comment .aside-left .huifu-edit .huifu-user .user-nice>p.nice {
    font-size: 16px;
    color: #ff6f06;
    font-weight: bold;
    line-height: 32px;
}

#ey_comment .aside-left .huifu-edit .huifu-user .user-nice>p.jianjie {
    font-size: 14px;
    color: #999;
}

#ey_comment .aside-left .huifu-edit .edit-opt {
    height: 32px;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

#ey_comment .aside-left .huifu-edit .edit-opt span {
    font-size: 14px;
    color: #999;
}

#ey_comment .aside-left .huifu-edit .edit-opt .cbox-wrap {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url('../images/checkbox_up@2x.png');
    position: relative;
    background-size: cover;
    top: 3px;
}

#ey_comment .aside-left .huifu-edit .edit-opt .cbox-wrap.act {
    background-image: url('../images/checkbox_pre@2x.png');
}

#ey_comment .aside-left .huifu-edit .edit-opt .cbox-wrap .cbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

#ey_comment .aside-left .huifu-edit .edit-opt span.editbutton {
    width: 100px;
    height: 32px;
    background-color: #ff6f06;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
    color: white;
    border: none;
    display: inline-block;
    text-align: center;
    line-height: 32px;
}

#ey_comment .aside-left .huifu-edit .huifu-null {
    text-align: center;
    font-size: 14px;
    color: #999;
    padding-top: 30px;
    margin-left: -30px;
    margin-bottom: 30px;
}

#ey_comment .aside-right .block-head {
    height: 70px;
    line-height: 70px;
    padding: 0 25px;
    font-size: 18px;
    color: #333;
}

#ey_comment .aside-right .block-head .hot-sw {
    float: right;
    font-size: 14px;
}

#ey_comment .aside-right .block-head .hot-sw span.act {
    color: #ff6f06;
    font-weight: normal;
    cursor: pointer;
}

#ey_comment .aside-right .hot-wenda {
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 0px 3px 10px 0px rgba(153, 153, 153, 0.1);
    border-radius: 4px;
}

#ey_comment .aside-right .hot-wenda ul li {
    border-top: 0.5px solid #F2F2F2;
    line-height: 25px;
    padding: 15px 24px;
    box-sizing: border-box;
    text-align: justify;
    font-size: 14px;
    color: #333;
}

#ey_comment .aside-right .hot-wenda ul li:hover {
    background-color: #F7F7F7;
    color: #ff6f06;
}

#ey_comment .aside-right .hot-users {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 3px 10px 0px rgba(153, 153, 153, 0.1);
}

#ey_comment .aside-right .hot-users ul li {
    border-top: 0.5px solid #F2F2F2;
    padding: 15px 24px;
    box-sizing: border-box;
    text-align: justify;
    font-size: 14px;
    color: #333;
    display: flex;
}

#ey_comment .aside-right .hot-users ul li .hot-user-avter {
    border-radius: 100%;
    flex-shrink: 0;
    margin-right: 16px;
}

#ey_comment .aside-right .hot-users ul li .hot-user-avter img {
    border-radius: 100%;
}

#ey_comment .aside-right .hot-users ul li .hot-user-info {
    flex-grow: 1;
}

#ey_comment .aside-right .hot-users ul li .hot-user-info .hot-nice {
    font-size: 14px;
    color: #333;
    font-weight: bold;
}

#ey_comment .aside-right .hot-users ul li .hot-user-info .hot-nice span {
    float: right;
    color: #FF5500;
    font-weight: normal;
}

#ey_comment .aside-right .hot-users ul li .hot-user-info .hot-nice a:hover {
    color: #ff6f06;
}

#ey_comment .aside-right .hot-users ul li .hot-user-info .hot-des {
    font-size: 12px;
    color: #999;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-top: 8px;
    line-height: 18px;
}

#ey_comment .aside-right .hot-users ul li:hover {
    background-color: #F7F7F7;
}

#ey_comment .aside-right .hot-last {
    background-color: white;
    margin-top: 20px;
    box-shadow: 0px 3px 10px 0px rgba(153, 153, 153, 0.1);
    border-radius: 4px;
}

#ey_comment .aside-right .hot-last ul {
    padding: 30px 24px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

#ey_comment .aside-right .hot-last ul li div {
    font-size: 12px;
    color: #999;
    margin-top: 10px;
    line-height: 21px;
}

#ey_comment .aside-right .hot-ewm {
    text-align: center;
    padding-bottom: 38px;
    border-bottom: 0.5px solid #E6E6E6;
}

#ey_comment .aside-right .hot-ewm p {
    font-size: 14px;
    color: #333;
    line-height: 22px;
    margin-top: 12px;
}

#ey_comment .aside-right .last-footer {
    padding: 25px 25px 30px;
    font-size: 14px;
    color: #333;
}

#ey_comment .aside-right .last-footer p {
    line-height: 21px;
}

#ey_comment .aside-right .last-footer .last-footer-a {
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#ey_comment .aside-right .last-footer .last-footer-a button {
    width: 100px;
    height: 40px;
    background: #ff6f06;
    border-radius: 4px;
    font-size: 14px;
    color: white;
    border: none;
}

#ey_comment .aside-right .last-footer .last-footer-a button:hover {
    background-color: #ff6600;
}

/* 问答专场 */
#ey_comment .wt-imgwrap {
    padding: 15px 0;
    display: flex;
}

#ey_comment .wt-imgwrap div {
    margin-right: 10px;
}

#ey_comment .wt-imgwrap div:last-child {
    margin-right: 0;
}

#ey_comment .wt-imgwrap img {
    max-width: 100%;
    border-radius: 4px;
    cursor: zoom-in;
}

#ey_comment .wenda {
    padding: 30px;
    color: #999;
    font-size: 14px;
    line-height: 25px;
    background-color: white;
    box-shadow: 0px 3px 10px 0px rgba(153, 153, 153, 0.1);
    word-wrap: break-word;
}

#ey_comment .wenda .wt-head {
    line-height: 27px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
    margin-bottom: 14px;
    text-indent: 20px;
}

#ey_comment .wenda .wt-desc {
    margin-bottom: 40px;
}

#ey_comment .wenda .wt-desc a {
    color: #ff6f06;
}

#ey_comment .wenda .wt-desc img {
    max-width: 100% !important;
    height: auto !important;
}

#ey_comment .wenda .if-zhuang {
    font-size: 12px;
    margin-bottom: 20px;
}

#ey_comment .wenda .wt-opt .a {
    cursor: pointer;
}

#ey_comment .wenda .wt-opt .a:hover {
    color: #ff6f06;
}

#ey_comment .wenda .yingdao-app {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #FF5500;
    justify-content: space-between;
    padding-top: 25px;
    border-top: 0.5px solid #F2F2F2;
    margin-top: 30px;
    position: relative;
}

#ey_comment .wenda .yingdao-app .ydewm {
    position: absolute;
    right: 0;
}

#ey_comment .wenda .yingdao-app .ydewm:hover .hoverewm {
    display: block;
}

#ey_comment .wenda .yingdao-app .ydewm .hoverewm {
    position: absolute;
    display: none;
    z-index: 5;
    padding: 20px;
    width: 112px;
    top: 25px;
    background: #ffffff;
    box-shadow: 0px 3px 10px 0px rgba(153, 153, 153, 0.3);
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    color: #333;
    right: 0;
    top: 56px;
}

#ey_comment .wenti-huifu {
    background-color: white;
    margin-top: 20px;
    box-sizing: border-box;
    border-radius: 4px;
}

#ey_comment .wenti-huifu .huifu-head {
    height: 70px;
    /* padding: 0 30px; */
    position: relative;
}

#ey_comment .wenti-huifu .huifu-head>div:first-child {
    top: 50%;
    position: absolute;
    left: 0;
    transform: translateY(-50%);
}

#ey_comment .wenti-huifu .huifu-head>div:first-child strong {
    font-size: 18px;
    color: #333;
}

#ey_comment .wenti-huifu .huifu-head .hf-head-flr {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#ey_comment .wenti-huifu .huifu-head .hf-head-flr ul {
    display: none;
    position: absolute;
    width: 120px;
    background-color: white;
    top: 45px;
    box-shadow: 0px 3px 30px 0px rgba(153, 153, 153, 0.3);
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    padding: 10px 0;
    left: -20px;
}

#ey_comment .wenti-huifu .huifu-head .hf-head-flr ul li {
    text-align: center;
    height: 48px;
    line-height: 48px;
    cursor: pointer;
}

#ey_comment .wenti-huifu .huifu-head .hf-head-flr ul li:hover {
    background-color: #F7F7F7;
    color: #ff6f06;
}

#ey_comment .wenti-huifu .huifu-list {
    box-sizing: border-box;
}

#ey_comment .wenti-huifu .huifu-list .huifu-li {
    padding: 20px 0;
    border-top: 0.5px solid #F2F2F2;
}

#ey_comment .wenti-huifu .huifu-list .huifu-user {
    display: flex;
    margin-bottom: 14px;
}

#ey_comment .wenti-huifu .huifu-list .huifu-user .user-nice {
    margin-left: 20px;
}

#ey_comment .wenti-huifu .huifu-list .huifu-user .user-nice>p.nice {
    font-size: 16px;
    color: #ff6f06;
    font-weight: bold;
    line-height: 32px;
}

#ey_comment .wenti-huifu .huifu-list .huifu-user .user-nice>p.jianjie {
    font-size: 14px;
    color: #999;
}

#ey_comment .wenti-huifu .huifu-list .huifu-user .dianzan-bnt {
    width: 60px;
    height: 40px;
    font-size: 14px;
    color: #4A4B4C;
    background-color: #EDF0F2;
    border-radius: 4px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

#ey_comment .wenti-huifu .huifu-list .huifu-user .dianzan-bnt.dianzan-bnt-act {
    color: #FF5500;
}

#ey_comment .wenti-huifu .huifu-list .weiguan-people {
    line-height: 28px;
    font-size: 14px;
    color: #7A8A99;
    margin-bottom: 17px;
}

#ey_comment .wenti-huifu .huifu-list .huifu-text-box a {
    color: #ff6f06;
}

#ey_comment .wenti-huifu .huifu-list .huifu-text-box .huifu-content {
    font-size: 16px;
    color: #333;
    line-height: 28px;
    margin-bottom: 17px;
    word-wrap: break-word;
}

#ey_comment .wenti-huifu .huifu-list .huifu-text-box .huifu-content img {
    max-width: 100%;
    height: auto;
    display: block;
}

#ey_comment .wenti-huifu .huifu-list .huifu-text-box .huifu-content .audio-replay-wrap .audio-controls .controls-wrap {
    cursor: pointer;
    display: inline-flex;
    width: 150px;
    box-sizing: border-box;
    align-items: center;
    font-size: 14px;
    color: white;
    padding: 0 20px;
    height: 40px;
    background-color: #297ACC;
    position: relative;
    border-radius: 34px;
}

#ey_comment .wenti-huifu .huifu-list .huifu-text-box .huifu-content .audio-replay-wrap .audio-controls .controls-wrap:after {
    content: '';
    position: absolute;
    left: -2px;
    bottom: -2px;
    background-image: url('../images/after.png');
    width: 14px;
    height: 20px;
    background-size: cover;
}

#ey_comment .wenti-huifu .huifu-list .huifu-text-box .huifu-content .audio-replay-wrap .audio-controls .controls-wrap .play-icon {
    display: inline-block;
    width: 10px;
    height: 15px;
    background-image: url('../images/yuyinpng.png');
    background-size: contain;
}

#ey_comment .wenti-huifu .huifu-list .huifu-text-box .huifu-content .audio-replay-wrap .audio-controls .controls-wrap .play-icon.playing {
    background-image: url('../images/yuyin_active.gif');
}

#ey_comment .wenti-huifu .huifu-list .huifu-text-box .huifu-content .audio-replay-wrap .audio-controls .audio-longtime {
    font-size: 12px;
    color: #999;
    margin-left: 4px;
}

#ey_comment .wenti-huifu .huifu-list .huifu-text-box .huifu-time {
    font-size: 12px;
    color: #999;
    line-height: 28px;
}

#ey_comment .wenti-huifu .huifu-list .huifu-text-box .huifu-time span {
    cursor: pointer;
}

#ey_comment .wenti-huifu .huifu-list .huifu-text-box .secend-huifu {
    margin-top: 21px;
    background-color: #F5F6F7;
    padding: 20px 30px 30px;
    box-sizing: border-box;
    /* display:none; */
}

#ey_comment .wenti-huifu .huifu-list .huifu-text-box .secend-huifu .secend-ul .secend-li {
    padding-bottom: 15px;
    padding-top: 30px;
    border-bottom: 0.5px solid #F2F2F2;
}

#ey_comment .wenti-huifu .huifu-list .huifu-text-box .secend-huifu .secend-ul .secend-li:first-child {
    padding-top: 0;
}

#ey_comment .wenti-huifu .huifu-list .huifu-text-box .secend-huifu .secend-ul .secend-li .head-secend {
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #999;
}

#ey_comment .wenti-huifu .huifu-list .huifu-text-box .secend-huifu .secend-ul .secend-li .head-secend strong {
    color: #333;
    font-weight: bold;
}

#ey_comment .wenti-huifu .huifu-list .huifu-text-box .secend-huifu .secend-ul .secend-li .secend-huifu-text {
    line-height: 25px;
    font-size: 14px;
    color: #333;
    margin-top: 15px;
}

#ey_comment .wenti-huifu .huifu-list .huifu-text-box .secend-huifu .huifu-area {
    margin-top: 20px;
}

#ey_comment .wenti-huifu .huifu-list .huifu-text-box .secend-huifu .huifu-area textarea {
    resize: none;
    width: 100%;
    height: 60px;
    border-radius: 4px;
    font-size: 14px;
    color: #999;
    line-height: 25px;
    padding-top: 9px;
    padding-left: 20px;
    box-sizing: border-box;
    border: 0.5px solid #E6E6E6;
}

#ey_comment .editreplaybtn {
    width: 100px;
    height: 32px;
    background-color: #ff6f06;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
    color: white;
    border: none;
    display: inline-block;
    text-align: center;
    line-height: 32px;
}

#ey_comment .text_r {
    text-align: right;
}

#ey_comment .mar_r10 {
    margin-right: 10px;
}

#ey_comment .wenti-huifu .huifu-list .huifu-text-box .secend-huifu .huifu-area .huifu-btn {
    margin-top: 10px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    color: #999;
}

#ey_comment .wenti-huifu .huifu-list .huifu-text-box .secend-huifu .huifu-area .huifu-btn button {
    width: 60px;
    height: 24px;
    border-radius: 4px;
    font-size: 14px;
    color: #999;
    border: none;
    outline: none;
}

#ey_comment .wenti-huifu .huifu-list .huifu-text-box .secend-huifu .huifu-area .huifu-btn button:nth-child(1) {
    background-color: #F2F2F2;
    margin-right: 20px;
}

#ey_comment .wenti-huifu .huifu-list .huifu-text-box .secend-huifu .huifu-area .huifu-btn button:nth-child(2) {
    background-color: #ff6f06;
    color: white;
}

#ey_comment .wt-opti {
    box-shadow: 0px 3px 10px 0px rgba(153, 153, 153, 0.1);
    border-radius: 4px;
    background-color: white;
    margin-bottom: 20px;
}

#ey_comment .wt-opti .people-info {
    padding: 30px 24px 23px;
    display: flex;
    border-bottom: 0.5px solid #F2F2F2;
}

#ey_comment .wt-opti .people-info .people-info-a {
    margin-left: 20px;
}

#ey_comment .wt-opti .people-info .people-info-a h3 {
    font-size: 16px;
    color: #ff6f06;
    font-weight: bold;
    line-height: 32px;
}

#ey_comment .wt-opti .people-info .people-info-a div {
    line-height: 25px;
    font-size: 14px;
    color: #999;
}

#ey_comment .wt-opti .people-btn {
    height: 68px;
    line-height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 24px;
}

#ey_comment .wt-opti .people-btn button.tw {
    width: 116px;
    height: 40px;
    background: #f2f2f2;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
    color: #ff6f06;
    background-color: #F2F2F2;
    border: none;
    width: 100%;
}

#ey_comment .wt-opti .people-btn button.act {
    background-color: #ff6f06;
    color: white;
}

#ey_comment .reword-wrap {
    background-color: white;
    margin-bottom: 20px;
    padding: 5px 24px 25px;
    box-sizing: border-box;
}

#ey_comment .reword-wrap .reward-head {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-end;
}

#ey_comment .reword-wrap .reward-head strong {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 57px;
}

#ey_comment .reword-wrap .reward-head span {
    float: right;
    color: #999;
    font-size: 14px;
    cursor: pointer;
}

#ey_comment .reword-wrap .reward-head-next {
    font-size: 14px;
    color: #999;
    line-height: 25px;
}

#ey_comment .reword-wrap .ff-progress {
    position: relative;
    background-color: #F2F2F2;
    height: 4px;
    margin-top: 24px;
    margin-bottom: 15px;
}

#ey_comment .reword-wrap .ff-progress .abs-ff {
    position: absolute;
    right: 0;
    top: -20px;
}

#ey_comment .reword-wrap .ff-progress .progress-line {
    position: absolute;
    left: 0;
    top: 0;
    height: 4px;
    width: 20%;
    background-color: #FF5500;
}

#ey_comment .reword-wrap .ff-progress-next {
    font-size: 14px;
    color: #999;
    line-height: 25px;
}

#ey_comment .reword-wrap .over {
    font-size: 14px;
    color: #999;
    line-height: 25px;
}

#ey_comment .reword-wrap .over strong {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 45px;
    font-size: 14px;
    color: #333;
    transform: translateY(8px);
}

#ey_comment .reword-wrap .random-avter {
    padding: 0 24px;
    padding-top: 18px;
    width: 252px;
    margin-left: -24px;
    margin-top: 20px;
    transform: translateY(-3px);
    display: inline-block;
    border-top: 0.5px solid #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #999;
}

#ey_comment .lingqu-detail {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 105;
}

#ey_comment .lingqu-detail .detail-box {
    width: 300px;
    background-color: white;
    padding-bottom: 10px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
}

#ey_comment .lingqu-detail .detail-box h2 {
    height: 70px;
    text-align: center;
    font-size: 18px;
    color: #333;
    font-weight: bold;
    border-bottom: 0.5px solid #F2F2F2;
    line-height: 70px;
}

#ey_comment .lingqu-detail .detail-box .detail-list-wrap {
    box-sizing: border-box;
}

#ey_comment .lingqu-detail .detail-box .detail-list-wrap ul {
    max-height: 360px;
    overflow-y: auto;
    padding: 0 30px;
}

#ey_comment .lingqu-detail .detail-box .detail-list-wrap ul::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #F5F5F5;
}

#ey_comment .lingqu-detail .detail-box .detail-list-wrap ul::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
}

#ey_comment .lingqu-detail .detail-box .detail-list-wrap ul::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D4D7D9;
}

#ey_comment .lingqu-detail .detail-box .detail-list-wrap li {
    display: flex;
    height: 60px;
    align-items: center;
}

#ey_comment .lingqu-detail .detail-box .detail-list-wrap li img {
    margin-right: 19px;
}

#ey_comment .lingqu-detail .detail-box .detail-list-wrap li div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 112px;
    font-size: 14px;
    color: #333;
    margin-right: 22px;
}

#ey_comment .lingqu-detail .detail-box .detail-list-wrap li span {
    font-size: 14px;
    color: #FF5500;
}

#ey_comment .lingqu-detail .detail-box button {
    width: 240px;
    height: 40px;
    border: none;
    outline: none;
    background: #f2f2f2;
    border-radius: 4px;
    font-size: 14px;
    color: #ff6f06;
}

#ey_comment .lingqu-detail .detail-box button:hover {
    background: #C8CACC;
}

#ey_comment .footer-low {
    height: 60px;
    background-color: #333640;
    margin-top: 56px;
}

#ey_comment .footer-low div {
    width: 1200px;
    margin: 0 auto;
    height: 60px;
    line-height: 60px;
    color: #CCCCCC;
    font-size: 12px;
    text-align: center;
}

#ey_comment .pop-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 101;
}

#ey_comment .pop-mask .pop-content {
    border-radius: 4px;
    width: 300px;
    text-align: center;
    padding: 33px 0 30px;
    box-sizing: border-box;
    background-color: white;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
}

#ey_comment .pop-mask .pop-content h3 {
    font-size: 18px;
    color: #ff6f06;
    font-weight: bold;
    line-height: 32px;
    margin-bottom: 10px;
}

#ey_comment .pop-mask .pop-content p {
    font-size: 14px;
    color: #666;
    line-height: 32px;
    margin-bottom: 30px;
}

#ey_comment .pop-mask .pop-content textarea {
    background-color: #F2F2F2;
    font-size: 14px;
    color: #999;
    line-height: 25px;
    padding: 15px 15px 0;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    resize: none;
    border: none;
    padding-bottom: 40px;
}

#ey_comment .pop-mask .pop-content textarea::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #F5F5F5;
}

#ey_comment .pop-mask .pop-content textarea::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
}

#ey_comment .pop-mask .pop-content textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D4D7D9;
}

#ey_comment .pop-mask .pop-content .textarea-wrap {
    position: relative;
}

#ey_comment .pop-mask .pop-content .textarea-ttl {
    position: absolute;
    font-size: 12px;
    color: #999;
    right: 20px;
    bottom: 10px;
}

#ey_comment .pop-mask .pop-content button {
    /* 宽度,高度,圆角,边框色 */
    width: 100px;
    height: 32px;
    border: 0.5px solid #F2F2F2;
    line-height: 32px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    background-color: inherit;
    font-size: 14px;
    color: #ff6f06;
    background-color: none;
    outline: none;
}

#ey_comment .pop-mask .pop-content button:nth-child(1) {
    background-color: #F2F2F2;
    color: #ff6f06;
    margin-right: 20px;
}

#ey_comment .pop-mask .pop-content button:nth-child(2) {
    background-color: #ff6f06;
    color: white;
    border: none;
}

#ey_comment .pop-mask .tiwen-content {
    width: 400px;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
}

#ey_comment .tiwen-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 101;
    display: none;
}

/* 专场问答详情 */
#ey_comment .zhuanc-wenda {
    height: 316px;
    box-shadow: 0px 3px 10px 0px rgba(153, 153, 153, 0.1);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 4px;
    position: relative;
    margin-bottom: 20px;
}

#ey_comment .zhuanc-wenda .zhuanc-wenda-a {
    font-size: 16px;
    color: white;
    font-weight: bold;
    position: absolute;
    left: 29px;
    bottom: 20px;
}

#ey_comment .zhuanc-wenda .zhuanc-wenda-a .zhuanc-wenda-a-a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 579px;
}

#ey_comment .zhuanc-wenda .zhuanc-wenda-a .zhuanc-wenda-b {
    font-size: 14px;
    color: white;
    line-height: 18px;
    margin-top: 15px;
    font-weight: normal;
    opacity: 0.6;
}

#ey_comment .zhuanchang-list {
    background-color: white;
    box-shadow: 0px 3px 10px 0px rgba(153, 153, 153, 0.1);
}

.zhuanchang-list .zhuang-huifu-li {
    padding: 24px 30px 0;
    border-top: 1px solid #F2F2F2;
}

#ey_comment .zhuanchang-list .zhuang-huifu-li.huifu-yes {
    position: relative;
}

#ey_comment .zhuanchang-list .zhuang-huifu-li.huifu-yes:after {
    width: 20px;
    height: 15px;
    background: #ff5500;
    border-radius: 0px 8px 8px 0px;
    color: white;
    content: '？';
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    left: 0;
    top: 30px;
    display: inline-block;
    position: absolute;
}

#ey_comment .zhuanchang-list .zhuang-huifu-li.huifu-yes .zhuanchang-went-head {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    line-height: 28px;
}

#ey_comment .zhuanchang-list .zhuang-huifu-li.huifu-yes .zhuanchang-went-head+div {
    font-size: 12px;
    color: #999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 13px;
    margin-bottom: 20px;
}

#ey_comment .zhuanchang-list .zhuang-huifu-li.huifu-yes .zhuang-erji {
    padding-top: 30px;
    border-top: 1px solid #F2F2F2;
}

#ey_comment .zhuanchang-list .zhuang-huifu-li.huifu-yes .zhuang-erji .zhuang-erji-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
}

#ey_comment .zhuanchang-list .zhuang-huifu-li.huifu-yes .zhuang-erji .zhuang-erji-head>div:first-child {
    font-size: 14px;
}

#ey_comment .zhuanchang-list .zhuang-huifu-li.huifu-yes .zhuang-erji .zhuang-erji-head button {
    width: 60px;
    height: 20px;
    background: #edf0f2;
    border-radius: 4px;
    font-size: 12px;
    color: #4A4B4C;
    outline: none;
    border: none;
}

#ey_comment .zhuanchang-list .zhuang-huifu-li.huifu-yes .zhuang-erji .zhuang-erji-content {
    font-size: 16px;
    color: #666;
    line-height: 28px;
    margin-bottom: 15px;
}

#ey_comment .zhuanchang-list .zhuang-huifu-li.huifu-yes .zhuang-erji .zhuang-erji-opt {
    font-size: 12px;
    color: #666;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

#ey_comment .zhuanchang-list .zhuang-huifu-li.huifu-yes .zhuang-erji .zhuang-erji-opt span {
    cursor: pointer;
}

#ey_comment .zhuanchang-list .zhuang-huifu-li.huifu-yes .zhuang-erji .zhuang-erji-opt span:hover {
    color: #ff6f06;
}

#ey_comment .zhuanchang-list .zhuang-huifu-li.huifu-yes .zhuang-erji .textarea-wrap {
    display: none;
    margin-bottom: 20px;
}

#ey_comment .zhuanchang-list .zhuang-huifu-li.huifu-yes .zhuang-erji .textarea-wrap textarea {
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    resize: none;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: #999;
    margin-bottom: 10px;
}

#ey_comment .zhuanchang-list .zhuang-huifu-li.huifu-yes .zhuang-erji .textarea-wrap button {
    width: 60px;
    height: 24px;
    background: #f2f2f2;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 14px;
    color: white;
}

#ey_comment .zhuanchang-list .zhuang-huifu-li.huifu-no:last-child {
    padding-bottom: 1px;
}

#ey_comment .zhuanchang-list .zhuang-huifu-li.huifu-no .zhuanchang-went-head {
    font-size: 16px;
    color: #333;
    line-height: 28px;
    margin-bottom: 16px;
}

#ey_comment .zhuanchang-list .zhuang-huifu-li.huifu-no .zhuanchang-went-head span {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #333;
    border-radius: 16px;
    text-align: center;
    line-height: 16px;
    font-size: 12px;
    color: #333;
    margin-right: 5px;
}

#ey_comment .zhuanchang-list .zhuang-huifu-li.huifu-no .textarea-wrap {
    display: none;
    margin-bottom: 20px;
}

#ey_comment .zhuanchang-list .zhuang-huifu-li.huifu-no .textarea-wrap textarea {
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    resize: none;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: #999;
    margin-bottom: 10px;
}

#ey_comment .zhuanchang-list .zhuang-huifu-li.huifu-no .textarea-wrap button {
    width: 60px;
    height: 24px;
    background: #f2f2f2;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 14px;
    color: white;
}

#ey_comment .zhuanchang-list .jiabing-jiesao {
    padding: 30px;
}

#ey_comment .jg-btn {
    text-align: center;
    padding-bottom: 23px;
}

#ey_comment .jg-btn button {
    width: 252px;
    height: 40px;
    font-size: 14px;
    color: white;
    background-color: #ff6f06;
    border: none;
    outline: none;
    border-radius: 4px;
    margin: 0 auto;
    display: inline-block;
}

#ey_comment .jg-btn button.not-replay {
    background-color: #F2F2F2;
    color: #CCCCCC;
}

#ey_comment .gb-avter-list {
    line-height: initial;
    display: flex;
    padding: 18px 23px 8px;
}

#ey_comment .gb-avter-list span {
    flex-shrink: 0;
    font-size: 14px;
    color: #999;
    margin-right: 5px;
    padding-top: 5px;
}

#ey_comment .gb-avter-list .other-gb {
    display: inline-flex;
    flex-wrap: wrap;
}

#ey_comment .gb-avter-list .other-gb img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

#ey_comment .gb-avter-list .other-gb img:nth-child(5n) {
    margin-right: 0;
}

#ey_comment .jb-xianding {
    background-color: white;
    box-shadow: 0px 3px 10px 0px rgba(153, 153, 153, 0.1);
    border-radius: 4px;
}

#ey_comment .jb-xianding h3 {
    height: 70px;
    padding: 0 23px;
    box-sizing: border-box;
    line-height: 70px;
    font-size: 18px;
    color: #333;
    border-bottom: 1px solid #F2F2F2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

#ey_comment .jb-xianding>div {
    padding: 24px;
    box-sizing: border-box;
    font-size: 14px;
    color: #666;
    line-height: 25px;
    word-break: break-all;
}

#ey_comment .jb-xianding>div img {
    max-width: 100%;
    border-radius: 4px;
    margin: 14px 0;
}

#ey_comment .question-des .question-des-box {
    border-radius: 4px;
    width: 400px;
    padding: 30px;
    box-sizing: border-box;
    background-color: white;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

#ey_comment .question-des .question-des-box h3 {
    font-size: 18px;
    color: #ff6f06;
    font-weight: bold;
    line-height: 32px;
    margin-bottom: 10px;
}

#ey_comment .question-des .question-des-box p {
    font-size: 14px;
    color: #666;
    line-height: 32px;
    margin-bottom: 30px;
}

#ey_comment .question-des .question-des-box .wt-head,
#ey_comment .question-des .question-des-box .wt-miaoshu {
    font-size: 14px;
    color: #666;
    line-height: 25px;
    overflow: auto;
}

#ey_comment .question-des .question-des-box .wt-head::-webkit-scrollbar,
#ey_comment .question-des .question-des-box .wt-miaoshu::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #F5F5F5;
}

#ey_comment .question-des .question-des-box .wt-head::-webkit-scrollbar-track,
#ey_comment .question-des .question-des-box .wt-miaoshu::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
}

#ey_comment .question-des .question-des-box .wt-head::-webkit-scrollbar-thumb,
#ey_comment .question-des .question-des-box .wt-miaoshu::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D4D7D9;
}

#ey_comment .question-des .question-des-box button {
    /* 宽度,高度,圆角,边框色 */
    width: 100%;
    height: 40px;
    border: 0.5px solid #F2F2F2;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    background-color: inherit;
    font-size: 14px;
    color: #ff6f06;
    background-color: #F2F2F2;
    outline: none;
}

#ey_comment .question-des .question-des-box button:hover {
    background: #C8CACC;
}

#ey_comment .tips-text {
    position: fixed;
    top: 76px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

#ey_comment .tips-text>div {
    background: rgba(64, 96, 128, 0.95);
    box-shadow: 0px 3px 30px 0px rgba(153, 153, 153, 0.3);
    border-radius: 25px;
    height: 50px;
    padding: 0 53px;
    color: white;
    font-size: 16px;
    line-height: 50px;
}

huifu

/* 新增首页悬赏红包 */
#ey_comment .list-avter .p {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #FFEEE5;
    line-height: 40px;
    text-align: center;
}

#ey_comment .list-avter .p.g {
    background-color: #F2F2F2;
}

#ey_comment .list-avter .p.g i {
    color: #999;
}

#ey_comment .list-avter .p i {
    color: #FF5500;
    font-size: 18px;
}

#ey_comment .list-avter .rmbb {
    font-size: 14px;
    color: #FF5500;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
}

#ey_comment .went-head .rview {
    font-size: 14px;
    color: #999;
    line-height: 21px;
    margin-top: 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

#ey_comment .aside-right .hot-rp {
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 0px 3px 10px 0px rgba(153, 153, 153, 0.1);
    border-radius: 4px;
    display: none;
}

#ey_comment .aside-right .hot-rp.act {
    display: block;
}

#ey_comment .aside-right .hot-rp .hot-rp-t {
    display: flex;
    align-items: center;
    padding: 29px 25px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #E6E6E6;
}

#ey_comment .aside-right .hot-rp .hot-rp-t img {
    margin-right: 10px;
}

#ey_comment .aside-right .hot-rp .hot-rp-t h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 7px;
}

#ey_comment .aside-right .hot-rp .hot-rp-t p,
#ey_comment .aside-right .hot-rp .hot-rp-t a {
    font-size: 14px;
    color: #999;
}

#ey_comment .aside-right .hot-rp .hot-rp-t a {
    align-self: flex-start;
}

#ey_comment .aside-right .hot-rp .hot-rp-m {
    padding: 29px 25px 21px;
    border-bottom: 1px solid #E6E6E6;
}

#ey_comment .aside-right .hot-rp .hot-rp-m h3 {
    font-size: 14px;
    color: #333;
    line-height: 25px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-bottom: 9px;
}

#ey_comment .aside-right .hot-rp .hot-rp-m .qn {
    font-size: 14px;
    color: #999;
    display: flex;
    justify-content: space-between;
    line-height: 25px;
    margin-bottom: 15px;
}

#ey_comment .aside-right .hot-rp .hot-rp-m .prc {
    width: 252px;
    height: 40px;
    background: #ffeee5;
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    color: #FF5500;
    cursor: pointer;
    font-weight: bold;
}

#ey_comment .aside-right .hot-rp .hot-rp-m .prc:hover {
    background-color: #FFE6D9;
}

#ey_comment .aside-right .hot-rp .hot-rp-b {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    color: #ff6f06;
    cursor: pointer;
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* 提问修改 */
#ey_comment .main_box_a {
    box-shadow: 0px 3px 10px 0px rgba(153, 153, 153, 0.1);
    opacity: 0.99;
    border-radius: 4px;
    background: white;
    padding-bottom: 40px;
}

#ey_comment .tiwen_box {
    /*width: 1200px;*/
    width: 100%;
    border: none;
    background-color: white;
    height: initial;
}

#ey_comment .tiwen_box .tt-img {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 22px;
}

#ey_comment .tiwen_box .tt-img img {
    vertical-align: middle;
    width: 468px;
}

#ey_comment .tiwen_box .tiwen_main {
    width: 98%;
    margin: 20px auto;
}

#ey_comment .tiwen_box .tiwen_main .ti big {
    font-size: 18px;
    color: #ff6f06;
}

#ey_comment .tiwen_box .tiwen_main .ti font {
    font-size: 12px;
    color: #999;
}

#ey_comment .tiwen_box textarea {
    width: 800px;
    height: 280px;
}

#ey_comment .tiwen_box .tiwen_main .ts {
    margin-bottom: 8px;
    position: relative;
}

#ey_comment .tiwen_box .tiwen_main .ts .lxs {
    position: absolute;
    display: none;
    width: 100%;
    top: 50px;
    left: 0;
    box-shadow: 0px 3px 10px 0px rgba(153, 153, 153, 0.1);
    border-radius: 4px;
    background-color: white;
    z-index: 5;
}

#ey_comment .tiwen_box .tiwen_main .ts .lxs p {
    padding: 20px 30px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #999;
}

#ey_comment .tiwen_box .tiwen_main .ts .lxs ul li {
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
    font-size: 14px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#ey_comment .tiwen_box .tiwen_main .ts .lxs ul li span {
    color: #ff6f06;
}

#ey_comment .tiwen_box .tiwen_main .ts .lxs ul li:hover {
    background-color: #F5F6F7;
    color: #ff6f06;
}

#ey_comment .tiwen_box .tiwen_main .tit_input {
    width: 800px;
    height: 50px;
    background: #ffffff;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 5px 10px;
    line-height: 30px;
    color: #666;
}

#ey_comment .tiwen_box .tiwen_main .da {
    margin-bottom: 28px;
}

#ey_comment .tiwen_box .tiwen_main .et {
    display: flex;
    justify-content: space-between;
}

#ey_comment .tiwen_box .tiwen_main .et .el {
    font-size: 14px;
    color: #ff6f06;
}

#ey_comment .tiwen_box .tiwen_main .et font {
    font-size: 14px;
    color: #FF5500;
    margin-right: 30px;
}

#ey_comment .tiwen_box .tiwen_main .et .rc {
    display: inline-flex;
    align-items: center;
}

#ey_comment .tiwen_box .tiwen_main .et .sz_button {
    width: 100px;
    height: 32px;
    background: #ff6f06;
    border-radius: 4px;
    font-size: 14px;
    color: white;
    font-weight: normal;
    border: none;
}

#ey_comment ._rightfixed .aa {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    bottom: 140px;
}

#ey_comment ._rightfixed .aa:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

#ey_comment ._rightfixed .aa:hover+#vv {
    display: block;
}

#ey_comment #vv {
    position: absolute;
    max-width: initial;
    bottom: 100px;
    left: -150px;
    display: none;
    padding: 7px;
    border-radius: 4px;
    background-color: white;
    margin: 0;
    box-shadow: 0px 3px 10px 0px rgba(153, 153, 153, 0.5);
}

#ey_comment #vv p {
    text-align: center;
    font-size: 14px;
    color: #666;
}


#ey_comment .twnav a {
    padding: 8px 12px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    width: auto;
    overflow: visible;
    border: 1px solid #D3D3D3;
    background: #F3F3F3;
    margin-right: 4px;
    color: #555;
}

#ey_comment .twnav a:hover,
.twnav a.act:hover,
.twnav a.act {
    text-decoration: none;
}

#ey_comment .twnav a.act {
    background: #13A3D9;
    color: #fff;
    border-color: #108DBB;
}

#ey_comment .ipp h4 {
    background-color: transparent;
    color: #17344A;
    display: block;
    font-family: 微软雅黑, tahoma, arial;
    font-size: 14px;
    font-weight: 700;
    height: 15px;
    line-height: 15px;
    padding-bottom: 15px;
    margin: 0;
    padding-top: 0;
}

#ey_comment .ipp span {
    font-size: 12px;
    color: #666;
    font-weight: 400;
    font-family: Tahoma, Geneva, sans-serif;
    padding-left: 5px;
}

#ey_comment #yyub {
    font-size: 16px;
    color: #f00;
}

#ey_comment .ipp input {
    border: 1px solid #CCC;
    box-shadow: #DFDFDF 0 1px 2px 0 inset;
    padding: 5px;
}


#ey_comment .sevbox {
    background: #fff;
    height: auto;
    margin-bottom: 10px;
    padding: 24px;
}

#ey_comment .paper-link {}

#ey_comment .paper-link a {
    margin-bottom: 6px;
    display: inline-block;
    background: #f8f8f8;
    padding: 4px 6px;
    color: #ff6f06;
    cursor: pointer;
    font-size: 12px;
    margin-right: 10px;
}

#ey_comment .item_t {
    padding: 10px 0;
    color: #999;
}

#ey_comment .sevm {
    width: 80%;
    float: left;
}

#ey_comment .sevm input {
    width: 100%;
    border: 2px #ff6f06 solid;
    padding: 8px;
    outline: none
}

#ey_comment .boxm {
    width: 60%;
    margin: 0px auto;
    margin-bottom: 10px;
}

#ey_comment .sevt {
    width: 20%;
    background-color: #ff6f06;
    float: left;
    height: 40px;
    text-align: center;
}

#ey_comment .sevt span {
    width: 100%;
    line-height: 40px;
    color: #fff;
    font-size: 16px;
}

#ey_comment .solved {
    background: url(../images/solve.jpg) 0px 5px no-repeat;
}

#ey_comment .no_solve {
    background: url(../images/no_solve.gif) 0px 5px no-repeat;
}

#ey_comment .epired {
    background: url(../images/epired.jpg) 0px 5px no-repeat;
}

#ey_comment .fa-thumbs-up:before {
    content: "\f164";
}

#ey_comment .fa-edit:before,
.fa-pencil-square-o:before {
    content: "\f044";
}

#ey_comment .fa-trophy:before {
    content: "\f091";
}

#ey_comment .sbox {
    background: #fff;
}

#ey_comment .sbox .navbar-right {
    float: left;
}

#ey_comment .sbox .navbar-right .dropdown-menu {
    right: -26px;
}

#ey_comment .sbox .navbar-right a.active {
    color: #ff7600 !important;
}

#ey_comment .sbox .search {
    float: right;
    border: 1px solid #e4e4e4;
    height: 32px;
    width: 230px;
    display: inline-block;
    margin-top: 20px;
    transition: all .3s;
    margin-right: 15px;
    position: relative;
}

#ey_comment .sbox .search.active {
    border-color: #35b558;
    box-shadow: 0 0 5px #35b558;
}

#ey_comment .sbox .search.active .search-result {
    z-index: 999;
    position: relative;
    display: block;
}

#ey_comment .sbox .search.active input {
    border-right-color: #35b558;
}

#ey_comment .sbox .search input {
    float: left;
    width: 190px;
    height: 30px;
    border: none;
    padding: 0px 8px;
    border-right: 1px solid #e4e4e4;
    outline: none;
    font-size: 12px;
}

#ey_comment .sbox .search .search-result {
    display: none;
    width: 230px;
    margin-left: -1px;
    margin-top: 31px;
    border: 1px solid #e4e4e4;
    background-color: #fff;
    list-style: none;
    box-shadow: -1px 3px 5px rgba(000, 000, 000, 0.3);
}

#ey_comment .sbox .search-icon {
    width: 18px;
    height: 18px;
    float: right;
    margin-top: 6px;
    margin-right: 10px;
    display: inline-block;
    background: url(../images/icon.png) 0 0 no-repeat;
    background-position: 0 0;
    cursor: pointer;
}


#ey_comment .blank20 {
    height: 20px;
    clear: both;
}


#ey_comment .hot-list {
    padding: 10px 0;
    width: 228px;
    position: absolute;
    left: 0;
    top: 31px;
    margin: 0;
    line-height: 32px;
    font-size: 14px;
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
    background-color: #fff;
    display: none;
    z-index: 999999;
}

#ey_comment .hot-list>a {
    display: block;
    color: #333;
    text-decoration: none;
    overflow: hidden;
    padding-right: 10px;
}

#ey_comment .hot-list>a:hover {
    background-color: #f3f3f3;
}

#ey_comment .hot-list>a>div {
    float: left;
    width: 196px;
    height: 32px;
    overflow: hidden;
}

#ey_comment .hot-list>a>div.number {
    text-align: center;
    width: 22px;
    color: #ff8105
}

#ey_comment .hot-list>a>div.number.c1 {
    color: #ff2c00
}

#ey_comment .hot-list>a>div.number.c2 {
    color: #ff5a00
}

#ey_comment .hot-list>a>div.number.c3 {
    color: #3cbe85
}

@media (max-width: 640px) {
    #ey_comment .aside-left .article-list .article-ul .article-list-item .tx-list {
        display: block;
        margin-top: 0
    }

    #ey_comment .sbox .nav>li {
        width: 33.33%;
    }

    #ey_comment .sbox .nav>li:last-child {
        display: none;
    }

    #ey_comment .sbox .navbar-nav {
        margin: 0;
        width: 100%;
        display: flex;
    }

    #ey_comment .edui-editor-iframeholder {
        height: 200px !important;
    }

    #ey_comment .sbox .nav>li>a {
        padding: 10px 6px;
    }

    #ey_comment .aside-left .article-list .article-ul .article-list-item {
        padding: 10px;
    }

    #ey_comment .aside-left .article-list .article-ul .article-list-item .list-avter {
        margin-right: 10px;
    }

    #ey_comment .me_dl {
        height: 50px;
    }

    #ey_comment .me_left_box {
        display: none;
    }

    #ey_comment .askbox .col-md-10 {
        padding: 0px;
    }

    #ey_comment .aside-left .huifu-edit {
        padding: 2px;
        margin-bottom: 20px;
    }

    #ey_comment .aside-left .huifu-edit .huifu-user {
        margin-bottom: 4px;
    }

    #ey_comment .aside-left .huifu-edit .edit-opt {
        margin-top: 10px;
    }

    #ey_comment .wenda {
        padding: 10px;
    }
    #ey_comment .wenti-huifu .huifu-list .huifu-text-box .huifu-content {
        margin-bottom: 10px;
    }
    #ey_comment .wenti-huifu .huifu-list .huifu-text-box .secend-huifu {
        margin-top: 10px;
        padding: 10px 15px;
    }
    #ey_comment .wenti-huifu .huifu-list .huifu-text-box .secend-huifu .secend-ul .secend-li {
        padding-top: 15px;
    }
    #ey_comment .wenti-huifu .huifu-list .huifu-text-box .secend-huifu .secend-ul .secend-li .secend-huifu-text {
        margin-top: 10px;
    }
    #ey_comment .wenti-huifu .huifu-list .huifu-text-box .secend-huifu .huifu-area {
        margin-top: 5px;
    }
}

#ey_comment .huifu-list-more {
    padding: 0px 30px;
    color: #ff6f06;
    text-align: center;
}

#ey_comment .huifu-list-more a {
    color: #ff6f06;
    line-height: 35px;
    border: 0.5px solid #ff6f06;
    padding: 5px 10px;
    border-radius: 4px;
}

#ey_comment .huifu-list-more .arrow-bottom {
    font-size: 0;
    line-height: 0;
    border-width: 6px;
    border-color: #ff6f06;
    border-bottom-width: 0;
    border-style: dashed;
    border-top-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
}
