
    <div class="fixed-bar">
        <div class="item-title">
            <a class="back_xin" href="{if condition="'Comment' == $Request.param.sc && 'index' == $Request.param.sa"}{:url("Weapp/index")}{else /}{:weapp_url("Comment/Comment/index")}{/if}" title="返回"><i class="iconfont e-fanhui"></i></a>
            <div class="subject">
                <h3>{$weappInfo['name']}</h3>
                <h5></h5>
            </div>
            <ul class="tab-base nc-row">
                <li>
                {eq name="$Request.param.sa" value="index"}
                    <a href="javascript:void(0);" class="tab current"><span>评论列表</span></a>
                {else /}
                    <a href="{:weapp_url("Comment/Comment/index")}" class="tab"><span>评论列表</span></a>
                {/eq}
                </li>

                <li>
                {range name="$Request.param.sa" value="conf" type='in'}
                    <a href="javascript:void(0);" class="tab current"><span>评论配置</span></a>
                {else /}
                    <a href="{:weapp_url("Comment/Comment/conf")}" class="tab"><span>评论配置</span></a>
                {/range}
                </li>

                <li>
                    <a href="https://www.keqq.cn/plus/view.php?aid=8439" target="_blank" class="tab"><span>使用指南</span></a>
                </li>
            </ul>
        </div>
    </div>