<div class="footer_web">
  <div class="friend-link">
    <h6 class="color-333">友情链接：</h6>
    <p> {eyou:flink titlelen='45' type='text'} <a href="{$field.url}" {$field.target}>{$field.title} </a> {/eyou:flink}
    </p>
  </div>
  <div class="footer"> {eyou:channelartlist typeid='1,16,17,18,4'}
    <ul class="footer_list">
      <li><span class="list_title">{eyou:field name='typename' /}</span></li>
      {eyou:channel type="son"}
      <li><a href="{$field.typeurl}" title="{$field.typename}">{$field.typename}</a></li>
      {/eyou:channel}
    </ul>
    {/eyou:channelartlist}
    <!-- <ul class="footer_last center color-333">
      <li class="telbox"><span class="tel">
        </sapn>
      </li>
      <li>服务热线 <span class="color-999">18800880066</span></li>
      <li class="flex-center">
        <div class="m-r-26 "> <img src="{eyou:global name='web_attr_4' /}" width="80" height="80"/>
          <p class="color-666 font-size-12">手机端</p>
        </div>
        <div> <img src="{eyou:global name='web_attr_5' /}" width="80" height="80"/>
          <p class="color-666 font-size-12">官方微信</p>
        </div>
      </li>
    </ul> -->
    <div class="clear"></div>
  </div>
  <div class="web_company"><img src="{eyou:global name='web_attr_6' /}" width="1180" height="54" /></a>
    <div class="web_company"> {eyou:global name='web_copyright' /}　{eyou:global name='web_recordnum' /} </div>
  </div>
  <!-- 应用插件标签 start -->
  {eyou:weapp type='default' /}
  <!-- 应用插件标签 end -->