<div class="web_header">
  <div class="headerah">
    <div class="headerlg">
      <div class="weblogo"><a href="{eyou:global name='web_cmsurl' /}" class="ey-logo"><img src="{eyou:global name='web_logo'/}" style="
    width: 160px;
"></a></div>
      <ul class="webnav" style="width:auto;">
        <li>
          <div class="webnavag">
            <div class="webnavtit"><a href="{eyou:global name='web_basehost' /}" {eyou:eq name='$Request.param.m' value='Index'} class="hover"{/eyou:eq}>
              <h2>☞首页☜</h2>
              </a></div>
          </div>
        </li>
        {eyou:channel type="top" id="field" currentstyle="hover" row="5"}
        <li>
          <div class="webnavag web_xs">
            <div class="webnavtit"><a class="{$field.currentstyle}" href="{$field.typeurl}" title="{$field.typename}">
              <h2>{$field.typename}</h2>
              {eyou:notempty name="$field.children"}<b></b>{/eyou:notempty}</a></div>
            {eyou:notempty name="$field.children"}
            <div class="web_navcb web_xsbg"> {eyou:channel name="$field.children" id="field2"} <a href="{$field2.typeurl}" title="{$field2.typename}">{$field2.typename}</a> {/eyou:channel} </div>
            {/eyou:notempty} </div>
        </li>
        {/eyou:channel}
        <li>
          <div class="webnavag web_xs">
            <div class="webnavtit3"><a href="javascript:;"><b></b></a></div>
            <div class="web_navcb web_xsbg web_xsbg2"> {eyou:channelartlist typeid='16,17,18,19,20,21,22,19'} <a href="{eyou:field name='typeurl' /}">{eyou:field name='typename' /}</a> {/eyou:channelartlist} </div>
          </div>
        </li>
        <div class="clear"></div>
      </ul>
      {eyou:user type='userinfo'}
      <div id="{$field.htmlid}">
        <ul class="web-louser">
          <li id="LoginAndReg"><span><a href="javascript:;" id="{$field.id}" onClick="if(!getCookie('users_id')){$('#ey_login_id_1609665117').click();}">登录</a></span></li>
          <li><span><a href="{:url('user/Users/reg')}">注册</a></span></li>
        </ul>
      </div>
      {$field.hidden}
      {/eyou:user}
      <div class="web_serch"> {eyou:searchform type='default'}
        <form method="get" action="{$field.action}" onsubmit="return searchForm();">
          <input type="text" value="输入关键词搜索" name="keywords" class="text1" id="keywords" onBlur="if(this.value=='') this.value='输入关键词搜索';" onFocus="if(this.value=='输入关键词搜索') this.value='';"/>
          <input type="submit" value="" class="submit1" name="submit">
          {$field.hidden}
        </form>
        {/eyou:searchform}
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
