{eyou:static file="skin/login/css/login.css" /}
{eyou:static file="skin/login/css/iconfont.css" /}
{eyou:static file="skin/login/js/jquery.js"/}
{eyou:static file="skin/login/js/jquery.leanModal.min.js" /}
{eyou:include file="users/skin/css/diy_css.htm" /} 
<!-- 友好的弹出提示框 --> 
{eyou:static file="/public/plugins/layer-v3.1.0/layer.js" /} 
<!-- 支持子目录 --> 
{eyou:global name='ey_common_hidden' /}
<div style="display:none;"> <a href="#loginmodal" class="flatbtn" id="ey_login_id_1609665117">Login</a> </div>
<div class="logo_con" id="loginmodal" style="display:none;">
  <div class="popup-login-box"> <i class="icon_ey e-guanbi" data-dismiss="dialog"></i>
    <div class="title">用户登录</div>
    <form method="post" id="popup_login_submit">
      <div class="row-item">
        <input type='text' name='username' id='username' class="input" value="" autocomplete="off" data-validate="required:必填" placeholder="用户名">
      </div>
      <div class="row-item">
        <input type='password'  name='password' id="password" class="input" autocomplete="off" placeholder="密码" value=""/>
      </div>
      <!-- 验证码-->
      <div class="row-item" id="ey_login_vertify">
        <input type='text'  name='vertify' autocomplete="off" class="input text-main radius-none" placeholder="图形验证码" value=""/>
        <span class="addon"><img src="{eyou:url link='api/Ajax/vertify' vars='type=users_login' /}" class="chicuele" id="imgVerifys" onClick="ey_fleshVerify();" title="看不清？点击更换验证码" align="absmiddle"></span> </div>
      <div class="row-item">
        <input type="hidden" name="referurl" value=""/>
        <input type="hidden" name="website" value="website"/>
        <a href="javascript:void(0)" onClick="popup_login_submit();"  class="button button-block bg-main"> 登录</a> </div>
    </form>
    <div class="login_reg"> <a class="login_t fl" href="{:url('user/Users/retrieve_password')}">忘记密码?</a> <a class="reg_t fr" href="{:url('user/Users/reg')}">立即注册</a> </div>
    <div class="popup-footer" id="ey_third_party_login">
      <div class="popup-footer-l"> <span>快捷登录 |</span> <a id="ey_third_party_qqlogin" href="{eyou:url link='plugins/QqLogin/login' seo_pseudo='1' seo_inlet='0' /}"><i class="icon_ey e-qq"></i></a> <a id="ey_third_party_wxlogin" href="{eyou:url link='plugins/WxLogin/login' seo_pseudo='1' seo_inlet='0' /}"><i class="icon_ey e-weixin"></i></a> <a id="ey_third_party_wblogin" href="{eyou:url link='plugins/Wblogin/login' seo_pseudo='1' seo_inlet='0' /}"><i class="icon_ey e-weibo"></i></a> </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(function(){

	//弹出层调用语句
	$('#ey_login_id_1609665117').leanModal({
		overlay:0.45,
		closeButton:".e-guanbi"
	});
	
});

</script> 
{eyou:static file="skin/login/js/login.js" /}