{include file="header.htm" /}
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div class="page">
    {include file="bar.htm" /}
    <div class="flexigrid">
        <div class="mDiv" style="margin-left: 30px;">
            <p style="font-size: 15px;line-height: 2em;">【使用方法】</p>
            <ol style="font-size: 15px;line-height: 2em;">
                <li>初次使用，请参考系统内置“示例任务”与以下教学视频： </li>
                <li><a target="_blank" href="https://www.keqq.cn/video/kuozhan/chajianshiyongjiaocheng/2019/1218/8873.html">教学视频链接...</a></li>
            </ol>
        </div>
    </div>
</div>
{include file="footer.htm" /}