{eyou:volist name="$eyou.list" id="vo"}
<li class="ask-article-list-item">
    {if condition="$vo.money > 0 && 1 == $eyou.conf.reward_switch"}
    <a class="list-avter">
        <!-- p为红色圆圈图标 .p.g为灰色图标 -->
        <div class="p {gt name='$vo.bestanswer_id' value='0'}g{/gt}" style=""> <em class="iconfont icon-hongbao" style="color:#f44747;margin-left: 2px"></em> </div>
        <div class="rmbb" style=" ">￥{$vo.money}</div>
    </a>
    {else /}
    <a class="list-avter user_card avatar" href="javascript:void(0);">
        <img src="{$vo.head_pic}">
        {if condition="!empty($vo.level) and $vo.level > 1"}
        <i class="svip"></i>
        {/if}
    </a>
    {/if}
    <div>
        <a href="{$vo.AskUrl}" class="went-head">
            {eyou:eq name="$eyou.IsRecom" value="1"}
            {eyou:eq name="$vo.is_recom" value='1'}
            <span class="jxuan"><i class="fa icon-best"></i>推荐</span>
            {/eyou:eq}
            {/eyou:eq}
            <span class="went-head-text">{$vo.ask_title}</span>
        </a>
        <div class="tx-list">
            {eyou:volist name="$vo.HeadPic" id="pic"}
            <a href="javascript:void(0);">
                <img src="{$pic.head_pic}">
            </a>
            {/eyou:volist}
            <i class="fa icon-people-more" style="font-size:20px;color:#e5e5e5;margin-right: 10px;"></i>
            <div class="list-text">
                {$vo.UsersConut}<br>
                {$vo.add_time} | <a href="{$vo.TypeUrl}" target="_blank">{$vo.type_name}</a>
            </div>
            <div style=" flex-grow:1 "></div>
            <div class="more-info">
                <span style="margin-right:5px">
                    <i class="icon wb-eye"></i>{$vo.click}
                </span> | 
                <span style="margin-left:5px">
                    <i class="fa fa-comments-o"></i>{$vo.replies}
                </span>
            </div>
        </div>
    </div>
</li>
{/eyou:volist}